Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Removing hard tabs
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Embedded issue tracker link
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Adding dates etc
  blog/A New Challenger Enters the Ring RP2350B Lands in Betaflight.md
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Formatting?
  blog/A New Challenger Enters the Ring RP2350B Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Trying to fix error
  blog/A New Challenger Enters the Ring RP2350B Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Fixed author issue
  blog/A New Challenger Enters the Ring RP2350B Lands in Betaflight.md
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Updating CNAME details
  CNAME
Due: none

Updating README.md
  README.md
Due: prettier --write --ignore-unknown

Shorten the title
  blog/RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Bold the headings...
  blog/2025-10-10 - RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Renaming file
  blog/2025-10-10 RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Testing
  blog/2025/10/10/RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Adding link to Raspberry Pi
  blog/2025/10/10/RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Minor spelling
  blog/2025/10/10/RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

testing adding theme?
  docusaurus.config.mjs
Due: none

Trying to get formatting right for the blog posts
  docusaurus.config.mjs
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Updating to MD formatting ... given we will try to get it working
  blog/2025/10/10/RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Refactor: Swizzle Blog components and update styles
  src/theme/BlogPostItem/Content/index.tsx
  src/theme/BlogPostItem/Header/Info/index.tsx
  src/theme/BlogPostItem/Header/Info/styles.module.css
  src/theme/BlogPostItem/Header/Title/index.tsx
  src/theme/BlogPostItem/Header/Title/styles.module.css
  src/theme/BlogSidebar/Content/index.tsx
  src/theme/BlogSidebar/Desktop/index.tsx
  src/theme/BlogSidebar/Desktop/styles.module.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Content: Set specific dates for blog articles
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Content Fix: Remove incorrectly placed text, fixing page layout
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Updating CNAME details (#581)
  CNAME
Due: none

Updating README.md (#582)
  README.md
Due: prettier --write --ignore-unknown

Refactor: Swizzle Blog components and update styles (#583)
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
  src/theme/BlogPostItem/Content/index.tsx
  src/theme/BlogPostItem/Header/Info/index.tsx
  src/theme/BlogPostItem/Header/Info/styles.module.css
  src/theme/BlogPostItem/Header/Title/index.tsx
  src/theme/BlogPostItem/Header/Title/styles.module.css
  src/theme/BlogSidebar/Content/index.tsx
  src/theme/BlogSidebar/Desktop/index.tsx
  src/theme/BlogSidebar/Desktop/styles.module.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Content Fix: Remove incorrectly placed text, fixing page layout (#584)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

fix 404 link on index page
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove general description of the tabs - in favour of the information being available elsewhere.
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

So more details.
  blog/2025/10/10/RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown

fix 404 link on index page (#586)
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Refactor: Swap Blog and Feed links - Blog into navbar, Feeds into footer
  docusaurus.config.mjs
Due: none

Fix: Add back " target: '_blank' "
  docusaurus.config.mjs
Due: none

CR Fix: Use standard capitalization
  docusaurus.config.mjs
Due: none

Adding announcement for Calendar Versioning Change
  blog/2025/09/01/Calendar Versioning Change.md
Due: prettier --write --ignore-unknown

Refactor: Swap Blog and Feed links - Blog into navbar, Feeds into footer (#587)
  docusaurus.config.mjs
Due: none

Smaller fonts.
  src/theme/BlogPostItem/Header/Title/styles.module.css
Due: prettier --write --ignore-unknown

Spelling errors
  blog/2025/09/01/Calendar Versioning Change.md
Due: prettier --write --ignore-unknown

Fix tagline and title, repeating "Betaflight"
  docusaurus.config.mjs
  src/components/Layout/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix tagline and title, repeating "Betaflight" (#589)
  docusaurus.config.mjs
  src/components/Layout/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Adding announcement for Calendar Versioning Change (#588)
  blog/2025/09/01/Calendar Versioning Change.md
  src/theme/BlogPostItem/Header/Title/styles.module.css
Due: prettier --write --ignore-unknown

Leave tail wind as is.
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Adding RP2350 launch blog post (#580)
  blog/2025/10/10/RP2350 Lands in Betaflight.md
Due: prettier --write --ignore-unknown
