Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

cleanup, contribution guide
  CONTRIBUTION.md
  README.md
  blog/2021-08-01-mdx-blog-post.mdx
  blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  blog/2021-08-26-welcome/index.md
  blog/authors.yml
  docs/intro.mdx
  docs/wiki.mdx
  static/img/docusaurus.png
  static/img/favicon.ico
  static/img/header-bg.jpg
  static/img/icon.svg
  static/img/undraw_docusaurus_mountain.svg
  static/img/undraw_docusaurus_react.svg
  static/img/undraw_docusaurus_tree.svg
Due: prettier --write --ignore-unknown

readme cleanup
  README.md
Due: prettier --write --ignore-unknown

docurausus config for auto deployment
  .eslintignore
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

dot env and auto deployment scripts
  .github/workflows/docs.yaml
  .gitignore
  docusaurus.config.js
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix deployment scripts
  .github/workflows/docs.yaml
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix deployment scripts
  .github/workflows/docs.yaml
Due: none

generalize deployment scripts
  .github/workflows/docs.yaml
Due: none

reduce gitapi calls, no posts message
  src/components/Home/index.tsx
  src/components/Team/index.tsx
  src/theme/Root.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Styling changes
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/Team/index.tsx
  src/css/tailwind.scss
  src/theme/Footer/Layout/index.js
  src/theme/Footer/LinkItem/index.js
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Wiki pages updated
  docs/misc/mdx-reference.mdx
  docs/wiki.mdx
Due: none

His name is Joshua Bardwell
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

styling fixes + navbar/sidebar offset
  docs/configurator/configuration-tab.mdx
  src/css/tailwind.scss
  src/pages/media.tsx
  static/img/betaflight_configurator_configuration_tab.png
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

dummy commit
  blog/authors.yml
Due: none

dummy commit (#86)
  blog/authors.yml
Due: none

CNAME setup
  .github/workflows/docs.yaml
Due: none

fix bash
  .github/workflows/docs.yaml
Due: none

bash fix
  .github/workflows/docs.yaml
Due: none

change url
  .github/workflows/docs.yaml
Due: none

fix actions
  .github/workflows/docs.yaml
Due: none

Proper case for consistent headers
  docs/configurator/configuration-tab.mdx
  docs/configurator/ports-tab.mdx
  docs/configurator/receiver-tab.mdx
  docs/configurator/setup-tab.mdx
Due: none

Title case for consistent headers (#88)
  docs/configurator/configuration-tab.mdx
  docs/configurator/ports-tab.mdx
  docs/configurator/receiver-tab.mdx
  docs/configurator/setup-tab.mdx
Due: none

add CNAME so it is present in gh-pages branch
  .github/workflows/docs.yaml
Due: none

fix github deploy action so it includes CNAME to not break on deployment (#89)
  .github/workflows/docs.yaml
Due: none

empty firmware-flasher-tab page
  docs/configurator/firmware-flasher-tab.mdx
  static/img/betaflight_configurator_firmware_flasher_tab.png
Due: none

empty firmware-flasher-tab page (#90)
  docs/configurator/firmware-flasher-tab.mdx
  static/img/betaflight_configurator_firmware_flasher_tab.png
Due: none

Fix link errors
  docs/boards/MIDELIC-F3.md
  docs/documentation/Battery.md
  docs/documentation/Boards.md
  docs/documentation/Cli.md
  docs/documentation/FrSky SPI RX.md
  docs/documentation/Getting Started.md
  docs/documentation/Manufacturers/Manufacturer Design Guidelines.md
  docs/documentation/boards/ALIENFLIGHT.md
  docs/documentation/boards/CRAZYBEEF3FS.md
  docs/documentation/boards/MOTOLAB.md
  docs/documentation/development/Development.md
Due: prettier --write --ignore-unknown

Add firmware flasher tab
  docs/configurator/firmware-flasher-tab.mdx
Due: none

Minor styling fixes
  src/css/tailwind.scss
Due: none

Fix link errors (#92)
  docs/boards/MIDELIC-F3.md
  docs/documentation/Battery.md
  docs/documentation/Boards.md
  docs/documentation/Cli.md
  docs/documentation/FrSky SPI RX.md
  docs/documentation/Getting Started.md
  docs/documentation/Manufacturers/Manufacturer Design Guidelines.md
  docs/documentation/boards/ALIENFLIGHT.md
  docs/documentation/boards/CRAZYBEEF3FS.md
  docs/documentation/boards/MOTOLAB.md
  docs/documentation/development/Development.md
Due: prettier --write --ignore-unknown

Fix remaining links and JSX errors
  docs/documentation/Mixer.md
  docs/documentation/Transponder.md
  docs/documentation/Upgrading/Upgrading from 3.2 to 3.3.md
  docs/documentation/boards/MATEKF405-CTR.md
  docs/documentation/boards/TMOTORF4.md
Due: prettier --write --ignore-unknown

Minor styling fixes (#94)
  src/css/tailwind.scss
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
