Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,less,css,json}": ["prettier --write --ignore-unknown"]
}

Added configuration tab content
  docs/configurator/configuration-tab.mdx
Due: none

Added configuration tab content (#96)
  docs/configurator/configuration-tab.mdx
Due: none

Add firmware flasher tab (#93)
  docs/configurator/firmware-flasher-tab.mdx
Due: none

Fix remaining links and JSX errors (#95)
  docs/documentation/Mixer.md
  docs/documentation/Transponder.md
  docs/documentation/Upgrading/Upgrading from 3.2 to 3.3.md
  docs/documentation/boards/MATEKF405-CTR.md
  docs/documentation/boards/TMOTORF4.md
Due: prettier --write --ignore-unknown

VSCode folder should be ignored.
  .gitignore
Due: none

VSCode folder should be ignored. (#97)
  .gitignore
Due: none

Added Power & Battery tab, added KaTeX support
  docs/configurator/power-battery-tab.mdx
  docusaurus.config.js
  package-lock.json
  package.json
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Betaflight 4.4 Release Notes (#12176)
  docs/documentation/Release Notes/Betaflight 4.4 Release Notes.md
Due: prettier --write --ignore-unknown

Betaflight 4.4 Release Notes (#12176) (#99)
  docs/documentation/Release Notes/Betaflight 4.4 Release Notes.md
Due: prettier --write --ignore-unknown

Update RN and add missing GPS Rescue docs
  docs/documentation/Release Notes/Betaflight 4.4 Release Notes.md
  docs/old/autonomous/GPS-Rescue-Mode-for-4-1-to-4-3
  docs/old/autonomous/GPS-Rescue-for-4-4
Due: prettier --write --ignore-unknown

Added Power & Battery tab, added KaTeX support (#98)
  docs/configurator/power-battery-tab.mdx
  docusaurus.config.js
  package-lock.json
  package.json
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update RN and add missing GPS Rescue docs (#101)
  docs/documentation/Release Notes/Betaflight 4.4 Release Notes.md
  docs/old/autonomous/GPS-Rescue-Mode-for-4-1-to-4-3
  docs/old/autonomous/GPS-Rescue-for-4-4
Due: prettier --write --ignore-unknown

Update Customized Versions
  docs/documentation/Customized Version.md
Due: prettier --write --ignore-unknown

Update Customized Versions (#102)
  docs/documentation/Customized Version.md
Due: prettier --write --ignore-unknown

Add LED documentation
  docs/documentation/FC LEDs.md
  docs/documentation/Manufacturers/Manufacturer Design Guidelines.md
Due: prettier --write --ignore-unknown

Add LED documentation (#103)
  docs/documentation/FC LEDs.md
  docs/documentation/Manufacturers/Manufacturer Design Guidelines.md
Due: prettier --write --ignore-unknown

action runs on PR to check if its buildable, readme and env example
  .env.example
  .github/workflows/check_pr.yaml
  README.md
Due: prettier --write --ignore-unknown

fix no new line
  .env.example
  .github/workflows/check_pr.yaml
Due: none

added missing image
  docs/configurator/power-battery-tab.mdx
  docusaurus.config.js
  package-lock.json
  package.json
  src/css/tailwind.scss
  static/img/betaflight_configurator_power_battery_tab.png
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix missing env file
  .github/workflows/check_pr.yaml
Due: none

typo
  .github/workflows/check_pr.yaml
Due: none

Add missing image to power and battery tab (#106)
  static/img/betaflight_configurator_power_battery_tab.png
Due: none

fixed markdown inline html usage
  docs/documentation/FC LEDs.md
Due: prettier --write --ignore-unknown

action runs on PR, readme and example env (#105)
  .env.example
  .github/workflows/check_pr.yaml
  README.md
  docs/documentation/FC LEDs.md
Due: prettier --write --ignore-unknown

Include untracked items
  development/development.mdx
  docs/documentation/Manufacturer/CreatingAUnifiedTarget.md
  docs/documentation/Manufacturer/Manufacturer Design Guidelines.md
  manufacturers/Manufacturer Design Guidelines.md
  manufacturers/manufacturers.mdx
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add navbar folders and change media to download
  docs/documentation/Manufacturers/CreatingAUnifiedTarget.md
  docs/documentation/Manufacturers/Manufacturer Design Guidelines.md
  docusaurus.config.js
  src/pages/media.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Introduce new navbar items
  docs/development/development.md
  docs/development/development/Development.md
  docs/manufacturer/Creating An Unified Target.md
  docs/manufacturer/manufacturer.md
  docusaurus.config.js
  sidebars.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

team generation to build
  package.json
  src/components/Team/index.tsx
  src/icons/logo.svg
  src/json/team.json
  src/theme/Footer/Layout/index.js
  team.json
  team_generation.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

svg betaflight logo, team generation in build process (#108)
  package.json
  src/components/Team/index.tsx
  src/icons/logo.svg
  src/json/team.json
  src/theme/Footer/Layout/index.js
  team.json
  team_generation.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix and add remaining configurator links
  docs/archive/archive.md
  docs/configurator/adjustments-tab.mdx
  docs/configurator/cli-tab.mdx
  docs/configurator/failsafe-tab.mdx
  docs/configurator/firmware-flasher-tab.mdx
  docs/configurator/gps-tab.mdx
  docs/configurator/led_strip-tab.mdx
  docs/configurator/logging-tab.mdx
  docs/configurator/modes-tab.mdx
  docs/configurator/motors-tab.mdx
  docs/configurator/onboard_logging-tab.mdx
  docs/configurator/osd-tab.mdx
  docs/configurator/pid_tuning-tab.mdx
  docs/configurator/power-tab.mdx
  docs/configurator/presets-tab.mdx
  docs/configurator/sensors-tab.mdx
  docs/configurator/servos-tab.mdx
  docs/configurator/transponder-tab.mdx
  docs/configurator/vtx-tab.mdx
  docs/misc/_category_.json
Due: prettier --write --ignore-unknown

Added Presets Tab content
  docs/configurator/presets-tab.mdx
  static/img/betaflight_configurator_preset_1.png
  static/img/betaflight_configurator_preset_2.png
  static/img/betaflight_configurator_presets_tab.png
Due: none

More detailed wording, fixed sidebar position
  docs/configurator/power-tab.mdx
Due: none

Added Presets Tab content (#110)
  docs/configurator/presets-tab.mdx
  static/img/betaflight_configurator_preset_1.png
  static/img/betaflight_configurator_preset_2.png
  static/img/betaflight_configurator_presets_tab.png
Due: none

Configurator updates for receiver, motors, servos
  docs/configurator/configuration-tab.mdx
  docs/configurator/motors-tab.mdx
  docs/configurator/ports-tab.mdx
  docs/configurator/receiver-tab.mdx
  docs/configurator/servos-tab.mdx
  docs/configurator/setup-tab.mdx
Due: none

Configurator updates for receiver, motors, servos (#112)
  docs/configurator/configuration-tab.mdx
  docs/configurator/motors-tab.mdx
  docs/configurator/ports-tab.mdx
  docs/configurator/receiver-tab.mdx
  docs/configurator/servos-tab.mdx
  docs/configurator/setup-tab.mdx
Due: none

Add modes, OSD content and some newlines
  docs/configurator/configuration-tab.mdx
  docs/configurator/modes-tab.mdx
  docs/configurator/motors-tab.mdx
  docs/configurator/osd-tab.mdx
  docs/configurator/ports-tab.mdx
  docs/configurator/receiver-tab.mdx
  docs/configurator/servos-tab.mdx
Due: none
