Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Change font-size (#165)
  src/css/custom.css
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

only HQprops for now
  src/components/Home/index.tsx
  static/img/sponsors/Betaflight_Approved.png
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Team sponsors (#162)
  docusaurus.config.js
  src/components/Home/index.tsx
  src/pages/partner.tsx
  static/img/sponsors/BF_Approved_Logo_G2X.png
  static/img/sponsors/Betaflight_4.4_Verified.pdf
  static/img/sponsors/Betaflight_Approved.png
  static/img/sponsors/DOGCOM.png
  static/img/sponsors/HQPROP.png
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

add radiomaster, change bf approved logo
  src/components/Home/index.tsx
  static/img/sponsors/Betaflight_Approved.png
  static/img/sponsors/Radio-Master-Logo.ai
  static/img/sponsors/Radio-Master-Logo.png
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

BF Partner edif
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix pdf link
  src/components/Home/index.tsx
  src/pages/partner.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Rainbow Effect documantation
  docs/development/LedStrip.md
Due: prettier --write --ignore-unknown

fix pdf link, add radiomaster (#168)
  src/components/Home/index.tsx
  src/pages/partner.tsx
  static/img/sponsors/Betaflight_Approved.png
  static/img/sponsors/Radio-Master-Logo.ai
  static/img/sponsors/Radio-Master-Logo.png
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fixes link
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fixes link (#170)
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

add dogcom to sponors
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Home Page Edits (#166)
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Rainbow Effect documantation (#169)
  docs/development/LedStrip.md
Due: prettier --write --ignore-unknown

add dogcom to sponors (#171)
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added Troubleshooting page
  docs/wiki/getting-started/troubleshooting.mdx
  static/img/betaflight_configurator_show_all_serial_devices.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Building in Ubuntu
  docs/development/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

fix false negative checks
  tools/check_file_names.mjs
  tools/check_title_case.mjs
Due: none

fix false negative checks (#173)
  tools/check_file_names.mjs
  tools/check_title_case.mjs
Due: none

Content: Re-write Partner page in MDX
  src/css/tailwind.scss
  src/pages/partner.mdx
  src/pages/partner.tsx
  src/theme/MDXPage/index.js
  src/theme/MDXPage/styles.module.css
  static/img/BF_Partner_Color.png
  static/img/BF_Partner_Transparent.png
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Building in Ubuntu (#172)
  docs/development/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Content: Re-write Partner page in MDX (#175)
  src/css/tailwind.scss
  src/pages/partner.mdx
  src/pages/partner.tsx
  src/theme/MDXPage/index.js
  src/theme/MDXPage/styles.module.css
  static/img/BF_Partner_Color.png
  static/img/BF_Partner_Transparent.png
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update BF logos
  docs/manufacturer/manufacturer-design-guidelines.mdx
  docs/wiki/archive/Unified-Targets.md
  docusaurus.config.js
  src/components/Home/index.tsx
  src/components/Layout/index.tsx
  src/pages/partner.mdx
  src/theme/Footer/Layout/index.js
  static/img/BF_Partner_Color.png
  static/img/BF_Partner_Transparent.png
  static/img/RPMFILTER-dynamic_filter_4.1_settings.png
  static/img/apply_custom_defaults_prompt.png
  static/img/betaflight/bf_logo.png
  static/img/betaflight/icon_dark.svg
  static/img/betaflight/icon_light.svg
  static/img/betaflight/logo_dark.svg
  static/img/betaflight/logo_light.svg
  static/img/icon.svg
  static/img/identify_target.png
  static/img/logo.svg
  static/img/logo_fb.png
  static/img/sponsors/Betaflight_Approved.png
  static/img/sponsors/bf_partner_dark.svg
  static/img/sponsors/bf_partner_light.svg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix non-header
  src/pages/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix typo
  src/pages/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Partner logo HTML/CSS fix
  src/pages/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update BF logos (#176)
  docs/manufacturer/manufacturer-design-guidelines.mdx
  docs/wiki/archive/Unified-Targets.md
  docusaurus.config.js
  src/components/Home/index.tsx
  src/components/Layout/index.tsx
  src/pages/partner.mdx
  src/theme/Footer/Layout/index.js
  static/img/BF_Partner_Color.png
  static/img/BF_Partner_Transparent.png
  static/img/RPMFILTER-dynamic_filter_4.1_settings.png
  static/img/apply_custom_defaults_prompt.png
  static/img/betaflight/bf_logo.png
  static/img/betaflight/icon_dark.svg
  static/img/betaflight/icon_light.svg
  static/img/betaflight/logo_dark.svg
  static/img/betaflight/logo_light.svg
  static/img/icon.svg
  static/img/identify_target.png
  static/img/logo.svg
  static/img/logo_fb.png
  static/img/sponsors/Betaflight_Approved.png
  static/img/sponsors/bf_partner_dark.svg
  static/img/sponsors/bf_partner_light.svg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Betaflight Connector Standard
  docs/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Manufacuturer Design Guidelines
  docs/manufacturer/connector-standard.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add tip for Linux setup
  docs/wiki/archive/Installing-Betaflight.md
Due: prettier --write --ignore-unknown

Add silkscreen logo
  docs/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Betaflight Connector Standard (#178)
  docs/manufacturer/connector-standard.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add tip for Linux setup (#179)
  docs/wiki/archive/Installing-Betaflight.md
Due: prettier --write --ignore-unknown

Update homepage appearance
  src/components/Home/index.tsx
  src/components/Layout/index.tsx
  src/components/Team/index.tsx
  src/theme/Footer/Layout/index.js
  src/theme/Footer/LinkItem/index.js
  src/theme/Footer/Links/MultiColumn/index.js
  src/theme/Footer/Links/index.js
  src/theme/Footer/index.js
  static/img/betaflight/background.svg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Homepage Facelift (#180)
  src/components/Home/index.tsx
  src/components/Layout/index.tsx
  src/components/Team/index.tsx
  src/theme/Footer/Layout/index.js
  src/theme/Footer/LinkItem/index.js
  src/theme/Footer/Links/MultiColumn/index.js
  src/theme/Footer/Links/index.js
  src/theme/Footer/index.js
  static/img/betaflight/background.svg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Less intrusive footer logo
  src/icons/logo.svg
  src/theme/Footer/Layout/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove unused div
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix typo
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix footer links
  src/theme/Footer/LinkItem/index.js
  src/theme/Footer/Links/MultiColumn/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix links
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Minor Homepage fixes (#181)
  src/components/Home/index.tsx
  src/icons/logo.svg
  src/theme/Footer/Layout/index.js
  src/theme/Footer/LinkItem/index.js
  src/theme/Footer/Links/MultiColumn/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
