Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

spellcheck
  docs/development/API/DisplayPort.md
  docs/development/Controls.md
  docs/development/Inflight-Adjustments.md
  docs/development/Rx.md
  docs/development/building/Building-in-Eclipse.md
  docs/development/development.md
  docs/wiki/boards/legacy/CJMCU.md
  docs/wiki/configurator/failsafe-tab.md
  docs/wiki/getting-started/hardware/esc-firmware.md
  docs/wiki/guides/archive/Gyro-And-Dterm-Filtering-Recommendations-3-1.md
  docs/wiki/guides/current/Dynamic-Idle.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Failsafe.md
  docs/wiki/guides/current/Feed-Forward-2-0.md
  docs/wiki/guides/current/Flight-Controller-Orientation.md
  docs/wiki/guides/current/GPS-Rescue-Mode-v4-1-to-v4-3.md
  docs/wiki/guides/current/GPS-Rescue-v4-4.md
  docs/wiki/guides/current/GPS-Rescue-v4-5.md
  docs/wiki/guides/current/Magnetometer.md
  docs/wiki/guides/current/PID-Tuning-Guide.md
  docs/wiki/guides/current/Rate-Calculator.md
  docs/wiki/guides/current/SmartAudio.md
  docs/wiki/guides/current/Soft-Mounting-and-Noise-Reduction.md
  docs/wiki/guides/current/Yaw-Spin-Recovery-and-Gyro-Overflow-Detect.md
  docs/wiki/release/Betaflight-4-0-Release-Notes.md
  docs/wiki/release/Betaflight-4-2-Release-Notes.md
  docs/wiki/release/Betaflight-4-4-Release-Notes.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-0-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-2-Release-Notes.md
  docs/wiki/tuning/3-5-tuning-notes.md
  docs/wiki/tuning/4-0-Tuning-Notes.md
  docs/wiki/tuning/4-1-Tuning-Notes.md
  docs/wiki/tuning/4-2-Tuning-Notes.md
  docs/wiki/tuning/4-3-Tuning-Notes.md
  docs/wiki/tuning/older/3-4-tuning-notes.md
Due: prettier --write --ignore-unknown

Update docs/wiki/guides/archive/Gyro-And-Dterm-Filtering-Recommendations-3-1.md
  docs/wiki/guides/archive/Gyro-And-Dterm-Filtering-Recommendations-3-1.md
Due: prettier --write --ignore-unknown

Update docs/wiki/guides/current/Yaw-Spin-Recovery-and-Gyro-Overflow-Detect.md
  docs/wiki/guides/current/Yaw-Spin-Recovery-and-Gyro-Overflow-Detect.md
Due: prettier --write --ignore-unknown

Update docs/wiki/release/Betaflight-4-4-Release-Notes.md
  docs/wiki/release/Betaflight-4-4-Release-Notes.md
Due: prettier --write --ignore-unknown

Update docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Update docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/FAQ.md
Due: prettier --write --ignore-unknown

spellcheck
  docs/wiki/guides/current/3D-Setup.md
  docs/wiki/guides/current/GPS-Rescue-v4-4.md
  docs/wiki/guides/current/GPS-Rescue-v4-5.md
  docs/wiki/release/Betaflight-3-5-Release-Notes.md
  docs/wiki/release/Betaflight-4-0-Release-Notes.md
Due: prettier --write --ignore-unknown

spellcheck
  docs/development/TestCoverage.md
  docs/wiki/guides/current/Feed-Forward-2-0.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/tuning/older/3-4-tuning-notes.md
Due: prettier --write --ignore-unknown

According to code
  docs/wiki/configurator/power-tab.md
Due: prettier --write --ignore-unknown

spellcheck and grammar
  docs/development/Customized-Version.md
Due: prettier --write --ignore-unknown

Update docs/development/Customized-Version.md
  docs/development/Customized-Version.md
Due: prettier --write --ignore-unknown

Refactor formula
  docs/wiki/configurator/power-tab.md
Due: prettier --write --ignore-unknown

spellcheck and grammar (#491)
  docs/development/Customized-Version.md
Due: prettier --write --ignore-unknown

Fix formula (#486)
  docs/wiki/configurator/power-tab.md
Due: prettier --write --ignore-unknown

Clarify Low Power Disarm option
  docs/wiki/configurator/vtx-tab.md
Due: prettier --write --ignore-unknown

Update target guidance
  docs/development/manufacturer/config-target-guidance.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update F411 and RX SPI
  docs/development/manufacturer/config-target-guidance.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add bullet points
  docs/development/manufacturer/config-target-guidance.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update target guidance (#493)
  docs/development/manufacturer/config-target-guidance.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Position Hold wiki page
  docs/wiki/guides/current/Position-Hold-v4-6.md
Due: prettier --write --ignore-unknown

Fix: invalid links
  docs/development/Battery.md
  docs/development/FrSky-SPI-RX.md
  docs/wiki/boards/archive/Missing.md
  docs/wiki/boards/archive/OMNIBUS.md
  docs/wiki/boards/archive/OMNIBUSF4SD.md
  docs/wiki/boards/legacy/SIRINFPV.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
Due: prettier --write --ignore-unknown

Fix: purify incorrect import
  src/components/Sponsors/PartnerOverview.tsx
  src/components/Sponsors/SponsorBanner.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: specify Node16 to module option
  tsconfig.json
Due: prettier --write --ignore-unknown

Feature: Netlify-native redirects over hard-coded redirects
  netlify.toml
  src/pages/about.js
  src/pages/about.md
  src/pages/baro.js
  src/pages/baro.md
  src/pages/development.js
  src/pages/development.md
  src/pages/failsafe.js
  src/pages/failsafe.md
  src/pages/guides.js
  src/pages/guides.md
  src/pages/releases.js
  src/pages/releases.md
  src/pages/setup.js
  src/pages/setup.md
  src/pages/wiki.js
  src/pages/wiki.md
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix build commands, thanks Mark
  docs/wiki/guides/current/Position-Hold-v4-6.md
Due: prettier --write --ignore-unknown

Fix multiple errors during `build` (#495)
  docs/development/Battery.md
  docs/development/FrSky-SPI-RX.md
  docs/wiki/boards/archive/Missing.md
  docs/wiki/boards/archive/OMNIBUS.md
  docs/wiki/boards/archive/OMNIBUSF4SD.md
  docs/wiki/boards/legacy/SIRINFPV.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  netlify.toml
  src/components/Sponsors/PartnerOverview.tsx
  src/components/Sponsors/SponsorBanner.tsx
  src/pages/about.js
  src/pages/about.md
  src/pages/baro.js
  src/pages/baro.md
  src/pages/development.js
  src/pages/development.md
  src/pages/failsafe.js
  src/pages/failsafe.md
  src/pages/guides.js
  src/pages/guides.md
  src/pages/releases.js
  src/pages/releases.md
  src/pages/setup.js
  src/pages/setup.md
  src/pages/wiki.js
  src/pages/wiki.md
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update cloud build API
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

practically useless nvm bump
  docs/development/building/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Add OSD group, and restore some defines
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Fix GHST define and note
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Update cloud build API (#496)
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

nvm 20 info (#497)
  docs/development/building/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Patch link
  docs/development/manufacturer/creating-configuration.md
Due: prettier --write --ignore-unknown

Remove unified target creation
  docs/development/manufacturer/creating-an-unified-target.md
Due: prettier --write --ignore-unknown

Patch link (#499)
  docs/development/manufacturer/creating-configuration.md
Due: prettier --write --ignore-unknown
