Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

on instead of true
  docs/wiki/guides/current/Position-Hold-2025-12.md
Due: prettier --write --ignore-unknown

Wiki Position Hold: "on" instead of "true" (#624)
  docs/wiki/guides/current/Position-Hold-2025-12.md
Due: prettier --write --ignore-unknown

Update MADFLIGHT_FC3.mdx
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update MADFLIGHT_FC3.mdx (#625)
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Adding the privacy policy page
  src/pages/privacy.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Adding the privacy policy page (#626)
  src/pages/privacy.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Change page title
  docs/wiki/boards/current/AEDROXH7/AEDROXH7.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Edit target description
  docs/wiki/boards/current/AEDROXH7/AEDROXH7.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content Refactor: Standardize board doc pages
  docs/wiki/boards/current/AEDROXH7/AEDROXH7.mdx
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
  docs/wiki/boards/current/ARK_FPV/ARK_FPV.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
  docs/wiki/boards/current/ORBITF435/ORBITF435.mdx
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Use "website" instead of "documentation" to avoid confusion
  docs/wiki/boards/current/AEDROXH7/AEDROXH7.mdx
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
  docs/wiki/boards/current/ARK_FPV/ARK_FPV.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
  docs/wiki/boards/current/ORBITF435/ORBITF435.mdx
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Update FLYSPARKF4 connectors
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: SAKURAH743 Power Board alt text
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content Refactor: Standardize board doc pages (#628)
  docs/wiki/boards/current/AEDROXH7/AEDROXH7.mdx
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
  docs/wiki/boards/current/ARK_FPV/ARK_FPV.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
  docs/wiki/boards/current/ORBITF435/ORBITF435.mdx
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update ImpulseRC link in troubleshooting.md
  docs/wiki/getting-started/troubleshooting.md
Due: prettier --write --ignore-unknown

Update ImpulseRC link in troubleshooting.md (#630)
  docs/wiki/getting-started/troubleshooting.md
Due: prettier --write --ignore-unknown

Update ImpulseRC link in troubleshooting.md (#632)
  docs/wiki/getting-started/troubleshooting.md
Due: prettier --write --ignore-unknown

Clarify LED strip documentation
  docs/development/LedStrip.md
Due: prettier --write --ignore-unknown

Enhancement: Add relevant GitHub links as a nav bar dropdown
  docusaurus.config.mjs
Due: none

Update docusaurus.config.mjs
  docusaurus.config.mjs
Due: none

Enhancement: Add relevant GitHub links as a nav bar dropdown (#635)
  docusaurus.config.mjs
Due: none

AUTOPILOT: Adding testing documentation for SITL
  docs/development/autopilot/SITL_Autopilot_Testing_Gazebo.md
Due: prettier --write --ignore-unknown

Update SITL_Autopilot_Testing_Gazebo.md
  docs/development/autopilot/SITL_Autopilot_Testing_Gazebo.md
Due: prettier --write --ignore-unknown

Fix minor typo in OSD tab Wiki documentation.
  docs/wiki/app/osd-tab.md
Due: prettier --write --ignore-unknown

Fix minor typo in OSD tab Wiki documentation. (#637)
  docs/wiki/app/osd-tab.md
Due: prettier --write --ignore-unknown

AUTOPILOT: Adding testing documentation for SITL (#636)
  docs/development/autopilot/SITL_Autopilot_Testing_Gazebo.md
Due: prettier --write --ignore-unknown

Add Python websockify proxy alternative
  docs/development/SITL.md
Due: prettier --write --ignore-unknown

docs: add Slider Master Multiplier and Configurator Center/Scale support info
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

docs: use SLIDER_MASTER_MULTIPLIER label in adjustment table
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

docs: clarify Configurator/MSP-only support for Center/Scale values (no CLI)
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

docs: clarify adjustmentScale default and config reference for Slider Master Multiplier
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

Update inflight adjustments documentation: clarify Slider Master Multiplier, Center/Scale MSP-only, and table consistency
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

Docs: hyperlink Betaflight Configurator PR #4863 for consistency with firmware PR links
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

Docs: promote 'Configurator support for Center and Scale values' to top-level heading for logical structure
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

Nitpicks
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

Docs: clarify mapping between Slider Master Multiplier label, table identifier, and implementation enum/function
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

Grrr
  docs/development/Inflight-Adjustments.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
