Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

More spacing and updated advisory text
  docs/development/manufacturer/config-target-guidance.md
Due: prettier --write --ignore-unknown

Second attempt at spacing.
  docs/development/manufacturer/config-target-guidance.md
Due: prettier --write --ignore-unknown

Better description
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

4.5 CLI Reference (#431)
  docs/wiki/guides/archive/Betaflight-4.0-CLI-commands.md
  docs/wiki/guides/current/Betaflight-4.5-CLI-commands.md
Due: prettier --write --ignore-unknown

Update docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Remove spaces
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Rename and adding punctuation as per @karatebrot suggestion.
  docs/development/manufacturer/config-target-guidance.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Added ORBITF405 board documents
  docs/wiki/boards/current/ORBITF405/ORBITF405.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Adding cloud target guidance (#436)
  docs/development/manufacturer/config-target-guidance.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add design restraints (#434)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

update target requirements
  docs/development/manufacturer/requirements-for-submission-of-targets.md
Due: prettier --write --ignore-unknown

shorter boards URL
  docs/development/manufacturer/requirements-for-submission-of-targets.md
Due: prettier --write --ignore-unknown

update target requirements (#437)
  docs/development/manufacturer/requirements-for-submission-of-targets.md
Due: prettier --write --ignore-unknown

Fix url
  docs/development/LedStrip.md
Due: prettier --write --ignore-unknown

Fix url (#439)
  docs/development/LedStrip.md
Due: prettier --write --ignore-unknown

Update docs
  docs/development/CodingStyle.md
Due: prettier --write --ignore-unknown

Add astyle as a dependency to Building-in-Ubuntu docs
  docs/development/building/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

[github workflow] auto-close PR's with branch named 'master'
  .github/workflows/auto-close.yml
Due: none

Fixed broken links to boards
  docs/development/Boards.md
Due: prettier --write --ignore-unknown

Fixed broken links to boards (#444)
  docs/development/Boards.md
Due: prettier --write --ignore-unknown

Update manufacturer and API documentation
  docs/development/API/Cloud-Build-API.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update manufacturer and API documentation (#445)
  docs/development/API/Cloud-Build-API.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

[github workflow] auto-close PR's with branch named 'master' (#441)
  .github/workflows/auto-close.yml
Due: none

Package: Add Lucide icon pack
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Feature: Add spec highlight grid
  src/components/SpecGrid/SpecBox.tsx
  src/components/SpecGrid/index.tsx
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Content: Update board docs with spec grid
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Update Airbot SuperF4 diagram
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4-images/AIRBOTSUPERF4-diagram.png
Due: none

Feature: Fancier board docs (#446)
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4-images/AIRBOTSUPERF4-diagram.png
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  package-lock.json
  package.json
  src/components/SpecGrid/SpecBox.tsx
  src/components/SpecGrid/index.tsx
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add AIRBOTG4AIO board doc
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-bottom.png
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-cover.png
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-top.png
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add PDF wiring diagram
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-diagram.pdf
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add AIRBOTG4AIO board doc (#447)
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-bottom.png
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-cover.png
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-diagram.pdf
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO-images/AIRBOTG4AIO-top.png
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update manufacturer-design-guidelines.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Fix missing comma
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update manufacturer-design-guidelines.md (#448)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update creating-an-unified-target.md
  docs/development/manufacturer/creating-an-unified-target.md
Due: prettier --write --ignore-unknown

Update creating-an-unified-target.md (#450)
  docs/development/manufacturer/creating-an-unified-target.md
Due: prettier --write --ignore-unknown

Fixed a broken link in 'How to Create a Flight Controller Configuration File for Betaflight 4.5' page
  docs/development/manufacturer/creating-configuration.md
Due: prettier --write --ignore-unknown

Fixed a broken link in "How to Create a Flight Controller Configuration File for Betaflight 4.5" page (#454)
  docs/development/manufacturer/creating-configuration.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
