Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

remove sponsors changes
  docs/relations/sponsors.mdx
  src/pages/sponsors.js
  src/pages/sponsors.mdx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

update GPS comments
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

notes about the new block on using softserial with MSP for 4.5 and higher
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

add a note about the softserial CLI command change in release notes
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

clarify GPS rescue note
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Fix baudrate (#336)
  docs/wiki/guides/current/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Javascript re-directs for possible user URLs (#310)
  src/pages/about.js
  src/pages/about.md
  src/pages/development.js
  src/pages/development.md
  src/pages/guides.js
  src/pages/guides.md
  src/pages/releases.js
  src/pages/releases.md
  src/pages/setup.js
  src/pages/setup.md
  src/pages/wiki.js
  src/pages/wiki.md
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

add space from review
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

move original to archive, add notes about LPUART and TX11 on serial page.
  docs/development/Serial.md
  docs/wiki/guides/archive/Single-Wire-Software-Serial.md
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Update Serial.md
  docs/development/Serial.md
Due: prettier --write --ignore-unknown

improvements from reviews
  docs/development/Serial.md
Due: prettier --write --ignore-unknown

improved text and removal of old note
  docs/development/Serial.md
Due: prettier --write --ignore-unknown

changes from previous review
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Add note about BMP-270 gyro, DPS310 clone, IST8310 mag, to manufacturer guidelines (#334)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update docs/wiki/guides/current/SoftSerial.md
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Update Softserial documentation (#337)
  docs/development/Serial.md
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/archive/Single-Wire-Software-Serial.md
  docs/wiki/guides/current/Resource-remapping.md
  docs/wiki/guides/current/SmartAudio.md
  docs/wiki/guides/current/SoftSerial.md
  docs/wiki/guides/current/VTX-CLI-Settings.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
Due: prettier --write --ignore-unknown

flashing tab: minor spelling correction; VTX tab: betaflight not cleanflight
  docs/development/VTX.md
  docs/wiki/configurator/firmware-flasher-tab.md
Due: prettier --write --ignore-unknown

Fix: File and Title Case checks
  tools/check_file_names.mjs
  tools/check_title_case.mjs
Due: none

add new barometer wiki page
  docs/wiki/guides/archive/Barometer-Configuration.md
  docs/wiki/guides/current/Barometer.md
Due: prettier --write --ignore-unknown

minor corrections (#338)
  docs/development/VTX.md
  docs/wiki/configurator/firmware-flasher-tab.md
Due: prettier --write --ignore-unknown

add betaflight.com/baro shortcut
  src/pages/baro.js
  src/pages/baro.md
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Path (hopefully) no longer affects results
  tools/check_file_names.mjs
Due: none

Adding the script for analytics
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Adding the script for analytics (#341)
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

capitalisation notes in mdx reference
  docs/development/mdx-reference.md
Due: prettier --write --ignore-unknown

capitalise
  docs/wiki/guides/current/Barometer.md
Due: prettier --write --ignore-unknown

update failsafe with notes about race_pro and arming
  docs/wiki/guides/current/Failsafe.md
Due: prettier --write --ignore-unknown

capitalise and add redirect
  docs/wiki/guides/current/Failsafe.md
  src/pages/failsafe.js
  src/pages/failsafe.md
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

replace Dshot and D-Shot with DShot
  docs/development/Dshot.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/wiki/boards/CRAZYBEEF4FRPRO.md
  docs/wiki/boards/FLYTOWERF4V2.md
  docs/wiki/boards/IFLIGHT_F405_TWING.md
  docs/wiki/boards/JHEF7DUAL.md
  docs/wiki/boards/KAKUTEF4V2.md
  docs/wiki/boards/MATEKF722SE.md
  docs/wiki/boards/MERAKRCF405.md
  docs/wiki/boards/MERAKRCF722.md
  docs/wiki/boards/MLTEMPF4.md
  docs/wiki/boards/MLTYPHF4.md
  docs/wiki/boards/PYRODRONEF4.md
  docs/wiki/boards/SYNERGYF4.md
  docs/wiki/boards/archive/CRAZYBEEF3FR.md
  docs/wiki/boards/archive/MOTOLAB.md
  docs/wiki/boards/archive/SINGULARITY.md
  docs/wiki/configurator/auxiliary-tab.md
  docs/wiki/configurator/motors-tab.md
  docs/wiki/getting-started/hardware/esc-firmware.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  docs/wiki/guides/archive/ESC-pass-through-3-1.md
  docs/wiki/guides/current/3D-Setup.md
  docs/wiki/guides/current/Community-Presets.md
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
  docs/wiki/guides/current/Debug-Modes.md
  docs/wiki/guides/current/Dynamic-Idle.md
  docs/wiki/guides/current/ESC-Telemetry.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/PID-Tuning-Guide.md
  docs/wiki/guides/current/Servos-And-SERVO_TILT-for-3-1.md
  docs/wiki/release/Betaflight-4-1-Release-Notes.md
  docs/wiki/release/Betaflight-4-2-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-2-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-4-Release-Notes.md
  docs/wiki/tuning/4-1-Tuning-Notes.md
  docs/wiki/tuning/4-2-Tuning-Notes.md
Due: prettier --write --ignore-unknown

SmartAudio and HDZero consistently
  docs/development/VTX.md
  docs/development/mdx-reference.md
  docs/wiki/boards/DALRCF405.md
  docs/wiki/boards/DALRCF722DUAL.md
  docs/wiki/boards/EXF405DUAL.md
  docs/wiki/boards/EXF722AIO.md
  docs/wiki/boards/EXF722DUAL.md
  docs/wiki/boards/FF_RACEPIT.md
  docs/wiki/boards/FF_RACEPIT_MINI.md
  docs/wiki/boards/FLYWOOF405.md
  docs/wiki/boards/FLYWOOF411.md
  docs/wiki/boards/FLYWOOF745AIO.md
  docs/wiki/boards/FLYWOOF7DUAL.md
  docs/wiki/boards/FOXEERF405.md
  docs/wiki/boards/FOXEERF722DUAL.md
  docs/wiki/boards/JHEF7DUAL.md
  docs/wiki/boards/KAKUTEH7.md
  docs/wiki/boards/KAKUTEH7V2.md
  docs/wiki/boards/MATEKF405STD.md
  docs/wiki/boards/MLTEMPF4.md
  docs/wiki/boards/PYRODRONEF4.md
  docs/wiki/boards/RUSHCORE7.md
  docs/wiki/boards/VIVAF4AIO.md
  docs/wiki/boards/archive/KAKUTEF3.md
  docs/wiki/configurator/firmware-flasher-tab.md
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/current/PID-Tuning-Guide.md
  docs/wiki/guides/current/RunCam-Device-Protocol.md
  docs/wiki/guides/current/SmartAudio.md
  docs/wiki/guides/current/VTX-Tables.md
Due: prettier --write --ignore-unknown

Frsky to FrSky
  docs/development/Customized-Version.md
  docs/development/Rx.md
  docs/development/Telemetry.md
  docs/wiki/boards/BLUEJAYF4.md
  docs/wiki/boards/CRAZYBEEF4FRPRO.md
  docs/wiki/boards/FRSKYF4.md
  docs/wiki/boards/OMNIBUSF4NANOV7.md
  docs/wiki/boards/OMNIBUSFW.md
  docs/wiki/boards/archive/CRAZYBEEF3FR.md
  docs/wiki/boards/archive/FRSKYF3.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/FrSky-FPort-Protocol.md
  docs/wiki/tuning/4-1-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Capitalisation notes in mdx reference (#342)
  docs/development/mdx-reference.md
Due: prettier --write --ignore-unknown

Update Barometer wiki page (#340)
  docs/wiki/guides/archive/Barometer-Configuration.md
  docs/wiki/guides/current/Barometer.md
  src/pages/baro.js
  src/pages/baro.md
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update failsafe with note about not disarmed message (#343)
  docs/wiki/guides/current/Failsafe.md
  src/pages/failsafe.js
  src/pages/failsafe.md
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add notes about GPS vs Baro contributions to altitude estimation
  docs/wiki/guides/current/Barometer.md
Due: prettier --write --ignore-unknown

Update docs/wiki/guides/current/Barometer.md
  docs/wiki/guides/current/Barometer.md
Due: prettier --write --ignore-unknown
