Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

reduce heading sizes and make spacing consistent
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown

reduce code block to sm size (#289)
  src/css/tailwind.scss
Due: none

Make orange text darker and tighten up heading spacing (#290)
  docs/development/mdx-reference.md
  docs/relations/partner.md
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/RecentPosts/index.tsx
  src/components/Team/index.tsx
  src/css/mermaid.scss
  src/css/tailwind.scss
  src/pages/download.tsx
  src/pages/stats.tsx
  src/theme/Footer/Links/MultiColumn/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

use #xxxxxx format
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

annotate colours so we know what they are (#288)
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

note about colour formats
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

update esc telemetry and DShot pages, fix many links
  docs/development/Dshot.md
  docs/development/FC-LEDs.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/wiki/boards/AIORACERF3.md
  docs/wiki/boards/BEEROTORF4.md
  docs/wiki/boards/MATEKF405-CTR.md
  docs/wiki/boards/MOTOLAB.md
  docs/wiki/configurator/firmware-flasher-tab.md
  docs/wiki/configurator/motors-tab.md
  docs/wiki/getting-started/setup-guide.md
  docs/wiki/guides/Gyro-And-Dterm-Filtering-Recommendations-3-1.md
  docs/wiki/guides/archive/Betaflight-2-x-CLI-commands.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  docs/wiki/guides/archive/ESC-pass-through-3-1.md
  docs/wiki/guides/archive/Failsafe-Before-4-3.md
  docs/wiki/guides/archive/Spektrum-Rx-setup.md
  docs/wiki/guides/archive/Spektrum-SPM4649T-SRXL-Telemetry-setup.md
  docs/wiki/guides/archive/Spektrum-Satellite-Bind-for-3.2.md
  docs/wiki/guides/archive/Spektrum-and-RC-Smoothing-Filter.md
  docs/wiki/guides/current/Betaflight-4.0-CLI-commands.md
  docs/wiki/guides/current/Betaflight-specific-CLI-commands.mediawiki
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
  docs/wiki/guides/current/Dynamic-Idle.md
  docs/wiki/guides/current/ESC-Telemetry.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/guides/current/PID-Tuning-Guide.md
  docs/wiki/guides/current/Rate-Calculator.md
  docs/wiki/release/Betaflight-4.1-Release-Notes.md
  docs/wiki/release/Betaflight-4.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.0-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.4-Release-Notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
  docs/wiki/tuning/4.1-Tuning-Notes.md
  docs/wiki/tuning/4.2-Tuning-Notes.md
  docs/wiki/tuning/4.3-Tuning-Notes.md
  docs/wiki/tuning/older/3.5-tuning-notes.md
Due: prettier --write --ignore-unknown

improve visibility of sponsor logos
  docs/relations/sponsors.md
  src/components/Home/index.tsx
  static/img/betaflight/sponsors/radiomaster-boxer.jpg
  static/img/betaflight/sponsors/radiomaster-logo.jpg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Style: Change doc card spacing and layout
  src/css/tailwind.scss
  src/theme/DocCard/index.js
  src/theme/DocCard/styles.module.css
  src/theme/DocCardList/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update esc telemetry and DShot pages, fix many broken links (#292)
  docs/development/Dshot.md
  docs/development/FC-LEDs.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/wiki/boards/AIORACERF3.md
  docs/wiki/boards/BEEROTORF4.md
  docs/wiki/boards/MATEKF405-CTR.md
  docs/wiki/boards/MOTOLAB.md
  docs/wiki/configurator/firmware-flasher-tab.md
  docs/wiki/configurator/motors-tab.md
  docs/wiki/getting-started/setup-guide.md
  docs/wiki/guides/Gyro-And-Dterm-Filtering-Recommendations-3-1.md
  docs/wiki/guides/archive/Betaflight-2-x-CLI-commands.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  docs/wiki/guides/archive/ESC-pass-through-3-1.md
  docs/wiki/guides/archive/Failsafe-Before-4-3.md
  docs/wiki/guides/archive/Spektrum-Rx-setup.md
  docs/wiki/guides/archive/Spektrum-SPM4649T-SRXL-Telemetry-setup.md
  docs/wiki/guides/archive/Spektrum-Satellite-Bind-for-3.2.md
  docs/wiki/guides/archive/Spektrum-and-RC-Smoothing-Filter.md
  docs/wiki/guides/current/Betaflight-4.0-CLI-commands.md
  docs/wiki/guides/current/Betaflight-specific-CLI-commands.mediawiki
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
  docs/wiki/guides/current/Dynamic-Idle.md
  docs/wiki/guides/current/ESC-Telemetry.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/guides/current/PID-Tuning-Guide.md
  docs/wiki/guides/current/Rate-Calculator.md
  docs/wiki/release/Betaflight-4.1-Release-Notes.md
  docs/wiki/release/Betaflight-4.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.0-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.4-Release-Notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
  docs/wiki/tuning/4.1-Tuning-Notes.md
  docs/wiki/tuning/4.2-Tuning-Notes.md
  docs/wiki/tuning/4.3-Tuning-Notes.md
  docs/wiki/tuning/older/3.5-tuning-notes.md
Due: prettier --write --ignore-unknown

Restore Radiomaster in sponsors tab
  docs/relations/sponsors.md
Due: prettier --write --ignore-unknown

Restore Radiomaster in sponsors tab (#296)
  docs/relations/sponsors.md
Due: prettier --write --ignore-unknown

directory-only redirects
  src/pages/developer.js
  src/pages/development.js
  src/pages/help.js
  src/pages/sponsors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Implement basic directory-only redirects (#297)
  src/pages/developer.js
  src/pages/development.js
  src/pages/help.js
  src/pages/sponsors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Improve visibility of sponsor logos (#293)
  docs/relations/sponsors.md
  src/components/Home/index.tsx
  static/img/betaflight/sponsors/radiomaster-boxer.jpg
  static/img/betaflight/sponsors/radiomaster-logo.jpg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update docs.yaml
  .github/workflows/docs.yaml
Due: none

Revert "Implement basic directory-only redirects (#297)"
  src/pages/developer.js
  src/pages/development.js
  src/pages/help.js
  src/pages/sponsors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix links and remove comment
  docs/wiki/boards/_category_.json
  docs/wiki/configurator/vtx-tab.md
  docs/wiki/getting-started/setup-guide.md
  docs/wiki/getting-started/troubleshooting.md
  docs/wiki/release/Betaflight-3.5-Release-Notes.md
  docs/wiki/release/Betaflight-4.0-Release-Notes.md
  docs/wiki/release/Betaflight-4.1-Release-Notes.md
  docs/wiki/release/Betaflight-4.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.4-Release-Notes.md
Due: prettier --write --ignore-unknown

Update node in docs.yaml (#298)
  .github/workflows/docs.yaml
Due: none

fix broken links and remove comment (#300)
  docs/wiki/boards/_category_.json
  docs/wiki/configurator/vtx-tab.md
  docs/wiki/getting-started/setup-guide.md
  docs/wiki/getting-started/troubleshooting.md
  docs/wiki/release/Betaflight-3.5-Release-Notes.md
  docs/wiki/release/Betaflight-4.0-Release-Notes.md
  docs/wiki/release/Betaflight-4.1-Release-Notes.md
  docs/wiki/release/Betaflight-4.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.4-Release-Notes.md
Due: prettier --write --ignore-unknown

Style: Change doc card spacing and layout (#294)
  src/css/tailwind.scss
  src/theme/DocCard/index.js
  src/theme/DocCard/styles.module.css
  src/theme/DocCardList/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Revert "Implement basic directory-only redirects" (#299)
  src/pages/developer.js
  src/pages/development.js
  src/pages/help.js
  src/pages/sponsors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

test local redirect method
  src/pages/help.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update help.js
  src/pages/help.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix missing image and incorrect sponsor count
  docs/relations/sponsors.md
Due: prettier --write --ignore-unknown

Update tailwind.config.js
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Try a different method for local redirect (#301)
  src/pages/help.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Revert "Try a different method for local redirect (#301)"
  src/pages/help.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix incorrect sponsor count (#302)
  docs/relations/sponsors.md
Due: prettier --write --ignore-unknown

Had to give up on a link to current and archive guides directories
  docs/development/development.md
  docs/wiki/guides/guides.md
Due: prettier --write --ignore-unknown

fix double slashes after current
  docs/development/Safety.md
  docs/wiki/configurator/blackbox-tab.md
  docs/wiki/configurator/failsafe-tab.md
  docs/wiki/configurator/gps-tab.md
  docs/wiki/configurator/vtx-tab.md
  docs/wiki/guides/current/ESC-Telemetry.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/guides/guides.md
  docs/wiki/release/Betaflight-4-1-Release-Notes.md
  docs/wiki/release/Betaflight-4-4-Release-Notes.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-0-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-4-Release-Notes.md
  docs/wiki/tuning/4-0-Tuning-Notes.md
  docs/wiki/tuning/4-1-Tuning-Notes.md
  docs/wiki/tuning/4-2-Tuning-Notes.md
  docs/wiki/tuning/4-3-Tuning-Notes.md
  docs/wiki/tuning/older/3-4-tuning-notes.md
Due: prettier --write --ignore-unknown

fix image links to local
  docs/wiki/boards/AIORACERF3.md
  docs/wiki/boards/BEEROTORF4.md
  docs/wiki/boards/BLUEJAYF4.md
  docs/wiki/boards/MATEKF722.md
  docs/wiki/boards/MNR-MAGDALENA.md
  docs/wiki/boards/NERO.md
  docs/wiki/boards/SOULF4.md
  docs/wiki/boards/TINYBEE-F3.md
  docs/wiki/guides/archive/RSSI-with-Spektrum-SPM4649T-and-other-satellites.md
  docs/wiki/guides/archive/Spektrum-SPM4649T-SRXL-Telemetry-setup.md
  docs/wiki/guides/archive/Unified-Targets.md
  docs/wiki/guides/current/FPV-Camera-Control-Joystick-Emulation.md
  docs/wiki/guides/current/IRC-Tramp.md
  docs/wiki/guides/current/RunCam-Device-Protocol.md
  docs/wiki/guides/current/SBus-FPort-and-RC-Smoothing-when-using-OpenTX.md
Due: prettier --write --ignore-unknown

restore leading slash is needed to fix these links
  docs/wiki/guides/current/SBus-FPort-and-OpenTX.md
  docs/wiki/tuning/older/3-4-tuning-notes.md
Due: prettier --write --ignore-unknown

fix category opening behaviours for release, tuning, etc
  docs/wiki/guides/guides.md
  docs/wiki/release/_category_.json
  docs/wiki/release/older/_category_.json
  docs/wiki/tuning/_category_.json
  docs/wiki/tuning/older/_category_.json
Due: prettier --write --ignore-unknown

note about colour formats (#291)
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Revert "Try a different method for local redirect" (#303)
  src/pages/help.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
