Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

docs: say that --repo is usually unnecessary
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs(serial): document per-feature UART assignment for MSP API 1.49 (#757)
  docs/wiki/guides/current/Serial.md
Due: prettier --write --ignore-unknown

Docs: How to Annotate a Debug Field (#756)
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs(connector-standard): add FDCAN connector (v2.2)
  docs/development/manufacturer/connector-standard.mdx
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
  static/img/connector_standard/fdcan_connector_render.png
  static/img/connector_standard/fdcan_connector_schematic.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs(connector-standard): drop stale "one deliberate departure" claim
  docs/development/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs(connector-standard): add FDCAN connector (v2.2) (#759)
  docs/development/manufacturer/connector-standard.mdx
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
  static/img/connector_standard/fdcan_connector_render.png
  static/img/connector_standard/fdcan_connector_schematic.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs: update usermod commands to use $USER for better clarity in Linux installation guides
  docs/wiki/getting-started/firmware-installation.md
  docs/wiki/guides/current/USB-Flashing.md
Due: prettier --write --ignore-unknown

docs: update usermod commands to use $USER for better clarity in Linux (#758)
  docs/wiki/getting-started/firmware-installation.md
  docs/wiki/guides/current/USB-Flashing.md
Due: prettier --write --ignore-unknown

fix: CVE-2026-69152 brace-expansion DoS vulnerability
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: upgrade brace-expansion to patched version (CVE-2026-69152) (#761)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

blog: the Betaflight App is adopting TypeScript, incrementally
  blog/2026/09/06/the-betaflight-app-is-adopting-typescript.md
Due: prettier --write --ignore-unknown

blog: the Betaflight App is adopting TypeScript, incrementally (#763)
  blog/2026/09/06/the-betaflight-app-is-adopting-typescript.md
Due: prettier --write --ignore-unknown

Set frame-ancestors policy on site responses
  static/_headers
Due: none

Set frame-ancestors policy on site responses (#764)
  static/_headers
Due: none

docs: correct build gating, add 2025.12 to the version split, document short-frame clamping
  docs/wiki/guides/current/MSP-Companion-Computer-Control.md
  docs/wiki/guides/current/Rx.md
Due: prettier --write --ignore-unknown

docs: payload length is set by the highest masked channel, not the mask count
  docs/wiki/guides/current/MSP-Companion-Computer-Control.md
Due: prettier --write --ignore-unknown

Drop unused 'transient_throttle_limit' CLI param
  docs/wiki/guides/current/Dynamic-Idle.md
Due: prettier --write --ignore-unknown

Drop unused 'transient_throttle_limit' CLI param (#771)
  docs/wiki/guides/current/Dynamic-Idle.md
Due: prettier --write --ignore-unknown

docs(debug-annotations): catch up with debug.h and the firmware-side check
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs(debug-annotations): say what the firmware test holds an author to
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs(debug-annotations): state the index rule once, in the test's terms
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs(debug-annotations): separate what the test checks from what the generator does
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs(debug-annotations): note the check that keeps the two firmware lists in step
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

Docs: catch the Debug Field Annotations page up with debug.h and the firmware-side check (#774)
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

Docs: remove links to hijacked and parked domains
  docs/development/Flight-Controller-Design.md
  docs/wiki/boards/archive/ALIENFLIGHTF4.md
  docs/wiki/boards/archive/ALIENFLIGHTNGF7.md
  docs/wiki/boards/archive/MICROSCISKY.md
  docs/wiki/boards/legacy/ALIENFLIGHTF1.md
  docs/wiki/boards/legacy/ALIENFLIGHTF3.md
  docs/wiki/boards/legacy/REVOLT.md
  docs/wiki/guides/current/Display.md
Due: prettier --write --ignore-unknown

Docs: remove or archive links to defunct domains
  docs/development/Flight-Controller-Design.md
  docs/wiki/boards/archive/AIKONF4.md
  docs/wiki/boards/archive/ALIENFLIGHTF4.md
  docs/wiki/boards/archive/ALIENFLIGHTNGF7.md
  docs/wiki/boards/archive/ALIENWHOOP.md
  docs/wiki/boards/archive/DALRCF405.md
  docs/wiki/boards/archive/KIWIF4.md
  docs/wiki/boards/archive/KIWIF4V2.md
  docs/wiki/boards/archive/MATEKF405CTR.md
  docs/wiki/boards/archive/MERAKRCF405.md
  docs/wiki/boards/archive/MERAKRCF722.md
  docs/wiki/boards/archive/MLTEMPF4.md
  docs/wiki/boards/archive/MLTYPHF4.md
  docs/wiki/boards/archive/NERO.md
  docs/wiki/boards/archive/OMNIBUS.md
  docs/wiki/boards/archive/OMNIBUSF4.md
  docs/wiki/boards/archive/OMNIBUSFW.md
  docs/wiki/boards/archive/PLUMF4.md
  docs/wiki/boards/archive/RJXF7.md
  docs/wiki/boards/archive/YUPIF4.md
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
  docs/wiki/boards/legacy/AIR32.md
  docs/wiki/boards/legacy/ALIENFLIGHTF1.md
  docs/wiki/boards/legacy/ALIENFLIGHTF3.md
  docs/wiki/boards/legacy/FURYF3.md
  docs/wiki/boards/legacy/KISSFC.md
  docs/wiki/boards/legacy/MULTIFLITEPICO.md
  docs/wiki/getting-started/firmware-installation.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  docs/wiki/guides/archive/ESC-pass-through-3-1.md
  docs/wiki/guides/current/Display.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/OSD-Profiles.md
  docs/wiki/guides/current/SmartAudio.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-2-Release-Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Docs: keep SAKURAH743 import style unchanged
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Docs: remove hijacked and defunct external links (#775)
  docs/development/Flight-Controller-Design.md
  docs/wiki/boards/archive/AIKONF4.md
  docs/wiki/boards/archive/ALIENFLIGHTF4.md
  docs/wiki/boards/archive/ALIENFLIGHTNGF7.md
  docs/wiki/boards/archive/ALIENWHOOP.md
  docs/wiki/boards/archive/DALRCF405.md
  docs/wiki/boards/archive/KIWIF4.md
  docs/wiki/boards/archive/KIWIF4V2.md
  docs/wiki/boards/archive/MATEKF405CTR.md
  docs/wiki/boards/archive/MERAKRCF405.md
  docs/wiki/boards/archive/MERAKRCF722.md
  docs/wiki/boards/archive/MICROSCISKY.md
  docs/wiki/boards/archive/MLTEMPF4.md
  docs/wiki/boards/archive/MLTYPHF4.md
  docs/wiki/boards/archive/NERO.md
  docs/wiki/boards/archive/OMNIBUS.md
  docs/wiki/boards/archive/OMNIBUSF4.md
  docs/wiki/boards/archive/OMNIBUSFW.md
  docs/wiki/boards/archive/PLUMF4.md
  docs/wiki/boards/archive/RJXF7.md
  docs/wiki/boards/archive/YUPIF4.md
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
  docs/wiki/boards/legacy/AIR32.md
  docs/wiki/boards/legacy/ALIENFLIGHTF1.md
  docs/wiki/boards/legacy/ALIENFLIGHTF3.md
  docs/wiki/boards/legacy/FURYF3.md
  docs/wiki/boards/legacy/KISSFC.md
  docs/wiki/boards/legacy/MULTIFLITEPICO.md
  docs/wiki/boards/legacy/REVOLT.md
  docs/wiki/getting-started/firmware-installation.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  docs/wiki/guides/archive/ESC-pass-through-3-1.md
  docs/wiki/guides/current/Display.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/OSD-Profiles.md
  docs/wiki/guides/current/SmartAudio.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-2-Release-Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs: add guide for controlling Betaflight from a companion computer over MSP (#752)
  docs/wiki/guides/current/MSP-Companion-Computer-Control.md
  docs/wiki/guides/current/Rx.md
Due: prettier --write --ignore-unknown

Improve Crash Flip variable documentation (#750)
  docs/wiki/guides/current/Cli.md
Due: prettier --write --ignore-unknown

Update Supported-Sensors.md to remove LSM6DSO16
  docs/wiki/guides/current/Supported-Sensors.md
Due: prettier --write --ignore-unknown

docs(manufacturer): align design guidelines and wiki pages with the hardware policy
  docs/development/manufacturer/connector-standard.mdx
  docs/development/manufacturer/creating-configuration.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/partner-program.mdx
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Hardware-Reference.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs: add hardware policy and hardware support pages, state Betaflight's purpose
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/hardware-policy.md
  docs/development/manufacturer/manufacturer.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  docs/wiki/getting-started/hardware-support.md
  docs/wiki/getting-started/index.md
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

blog: who supports what, Betaflight's hardware policy
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
Due: prettier --write --ignore-unknown

docs: name the maintainer for community boards and match Supported eligibility to the policy
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/getting-started/hardware-support.md
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: separate the cloud build from manufacturers' own distribution
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/hardware-policy.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/manufacturer.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/getting-started/hardware-support.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs: split design guidance into not accepted, not recommended and warned against
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/hardware-policy.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/manufacturer.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs: accept the BMI270 only as a second source on an ICM-42688-P footprint
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/hardware-policy.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Cover the iOS app, accounts and deletion in the privacy policy
  src/pages/privacy.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Name the Android build of the Betaflight App in the privacy policy
  src/pages/privacy.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js
