Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

HQ Prop
  blog/HQProp - Development Team Sponsor Review.md
Due: prettier --write --ignore-unknown

Add SugarK
  blog/HQProp - Development Team Sponsor Review.md
Due: prettier --write --ignore-unknown

Update blog/HQProp - Development Team Sponsor Review.md
  blog/HQProp - Development Team Sponsor Review.md
Due: prettier --write --ignore-unknown

HQ Prop Blog Entry (#235)
  blog/HQProp - Development Team Sponsor Review.md
Due: prettier --write --ignore-unknown

Limon Tweak
  blog/HQProp - Development Team Sponsor Review.md
Due: prettier --write --ignore-unknown

Prop Tweak (#236)
  blog/HQProp - Development Team Sponsor Review.md
Due: prettier --write --ignore-unknown

Fix typo
  docs/development/API/DisplayPort.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add definitions for DP options
  docs/development/API/DisplayPort.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Added detail on MSP_DP_OPTIONS plus fix a typo (#238)
  docs/development/API/DisplayPort.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

I typoed
  docs/development/API/DisplayPort.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Just spotted I typoed earlier... (#239)
  docs/development/API/DisplayPort.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix wording in introduction.mdx
  docs/wiki/getting-started/introduction.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update docs/wiki/getting-started/introduction.mdx
  docs/wiki/getting-started/introduction.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix wording in introduction.mdx (#242)
  docs/wiki/getting-started/introduction.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update clang version in Ubuntu documentation
  docs/development/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Calibration notes update
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

fix typos, add notes about old magnetometers being deprecated
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

Update docs/wiki/archive/Magnetometer.md
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

Calibration notes update (#244)
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

Update clang version in Ubuntu documentation (#243)
  docs/development/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Fix DFU permissions in Ubuntu
  docs/development/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Update Betaflight-Contribution.md
  docs/development/Betaflight-Contribution.md
Due: prettier --write --ignore-unknown

Update Betaflight-Contribution.md (#246)
  docs/development/Betaflight-Contribution.md
Due: prettier --write --ignore-unknown

Fix DFU permissions in Ubuntu (#245)
  docs/development/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Update creating-configuration.mdx
  docs/manufacturer/creating-configuration.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

update magnetometer to better explain calibration initiation
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

Add files via upload
  static/img/betaflight/sponsors/AE2207.jpg
  static/img/betaflight/sponsors/Axisflying_dark.svg
  static/img/betaflight/sponsors/C246.jpg
Due: none

Update sponsors.mdx
  src/pages/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Added Axis Logo for Light Mode
  static/img/Axisflying_light.svg
Due: none

45 release notes draft
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

fixes thanks for review Mark
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

update 1
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

add gps lap timer to 4.5 release notes
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

Update magnetometer wiki to better explain calibration initiation (#248)
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

Update creating-configuration.mdx (#247)
  docs/manufacturer/creating-configuration.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

update credits, include low throttle TPA and iTerm zero for fixed wings
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

added GPX export to map GPS, more credits
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

changes after review suggestions
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown
