Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tooles/check_title_case.mjs, node tools/team_generation.js && git add src/json/team.json

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.md": ["node tools/check_file_names.mjs", "node tooles/check_title_case.mjs"],
    "tools/team_generation.js": ["node tools/team_generation.js && git add src/json/team.json"]
}

Reasons why.
  docs/development/development/Development.mdx
Due: none

Adding in the description for turning on or off features.
  docs/development/development/Development.mdx
Due: none

More details.
  docs/development/development/Development.mdx
Due: none

Updating link.
  docs/development/Development.mdx
Due: none

Update Manufacturer Design Guidelines.md
  docs/manufacturer/Manufacturer Design Guidelines.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

Update lintstage
  .github/workflows/check_pr.yaml
  .lintstagedrc
  docs/development/API/Cloud-Build-API.mdx
  docs/development/API/MSP-Extensions.mdx
  docs/development/Battery.md
  docs/development/Boards.md
  docs/development/Custom-Board-Configuration.md
  docs/development/Customized-Version.md
  docs/development/FrSky-SPI-RX.md
  docs/development/Getting-Started.md
  docs/development/development.mdx
  docs/development/osd.md
  docs/manufacturer/manufacturer-design-guidelines.mdx
  docs/release/Betaflight 3.4 Release Notes.md
  docs/release/Betaflight 3.5 Release Notes.md
  docs/release/Betaflight 4.0 Release Notes.md
  docs/release/Betaflight 4.1 Release Notes.md
  docs/release/Betaflight 4.2 Release Notes.md
  docs/release/Betaflight 4.4 Release Notes.md
  docs/tuning/3.5-tuning-notes.md
  docs/tuning/4.0-Tuning-Notes.md
  docs/tuning/4.1-Tuning-Notes.md
  docs/tuning/4.2-Tuning-Notes.md
  docs/tuning/4.3-Tuning-Notes.md
  docs/wiki/archive/Current-Sensor-Calibration.md
  docs/wiki/archive/Freestyle-Tuning-Principles.md
  docs/wiki/archive/VTX-CLI-Settings.md
  docs/wiki/boards/ALIENFLIGHT.md
  docs/wiki/boards/MOTOLAB.md
  docs/wiki/configurator/cli-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

Adding to Authors.yml for blog posts (#125)
  blog/authors.yml
Due: none

## Update Content
  docs/development/API/Cloud-Build-API.mdx
  docs/development/development.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
  docs/release/Betaflight 4.4 Release Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

add dir skip to checks and remove the into own jobs
  .github/workflows/check_pr.yaml
  .lintstagedrc
  tools/check_file_names.mjs
  tools/check_title_case.mjs
Due: none

remove continue on error from checks
  .github/workflows/check_pr.yaml
Due: none

change name from action and removed unused npm cache
  .github/workflows/check_pr.yaml
Due: none

team links now open in a new tab/window, unify link visuals
  src/components/Team/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

## Update Content (#134)
  docs/development/API/Cloud-Build-API.mdx
  docs/development/development.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
  docs/release/Betaflight 4.4 Release Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

update GPS Rescue 4.4 notes CT
  docs/wiki/archive/GPS-Rescue-v4-4.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

Fix team links, unify visuals (#136)
  src/components/Team/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

update GPS Rescue 4.4 notes CT (#137)
  docs/wiki/archive/GPS-Rescue-v4-4.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

Update MDX reference
  docs/wiki/misc/mdx-reference.mdx
Due: none

Remove launch control and style fixes
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: none

--amend
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: none

Small grammar and spelling corrections to homepage
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix packages needed for the check jobs
  .github/workflows/check_pr.yaml
Due: none

Remove launch control and style fixes (#139)
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: none

Update MDX reference (#138)
  docs/wiki/misc/mdx-reference.mdx
Due: none

Small grammar and spelling corrections to homepage (#140)
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added link to github repo.
  docs/wiki/wiki.mdx
Due: none

Changed "centre" to "center".
  docs/tuning/4.3-Tuning-Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

Updated repo link.
  docs/wiki/wiki.mdx
Due: none

Repo link and "center" changes (#142)
  docs/tuning/4.3-Tuning-Notes.md
  docs/wiki/wiki.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

Organize gh action checks (#135)
  .github/workflows/check_pr.yaml
  .lintstagedrc
  tools/check_file_names.mjs
  tools/check_title_case.mjs
Due: none

Fix broken links
  docs/release/BetaFlight-3.2.md
  docs/wiki/archive/Betaflight-4.0-CLI-commands-_Work-in-progress.md
  docs/wiki/archive/FPV-Camera-Control-Joystick-Emulation.md
  docs/wiki/archive/Resource-remapping.md
  docs/wiki/archive/RunCam-Device-Protocol.md
  docs/wiki/boards/KIWIF4V2.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

fix team generation git add
  .lintstagedrc
  package-lock.json
  package.json
  src/json/team.json
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown

remove double name from team
  src/json/team.json
Due: prettier --write --ignore-unknown

Comitted....
  docs/manufacturer/manufacturer.md
  docs/manufacturer/manufacturer.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs

file name...
  docs/manufacturer/manufacturer.mdx
Due: none

Update firmware flasher tab
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: none

Fix broken links (#143)
  docs/release/BetaFlight-3.2.md
  docs/wiki/archive/Betaflight-4.0-CLI-commands-_Work-in-progress.md
  docs/wiki/archive/FPV-Camera-Control-Joystick-Emulation.md
  docs/wiki/archive/Resource-remapping.md
  docs/wiki/archive/RunCam-Device-Protocol.md
  docs/wiki/boards/KIWIF4V2.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tooles/check_title_case.mjs
