Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Update submodule update instruction III
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Update submodule update instruction IV
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Update headers
  docs/development/Git.md
Due: prettier --write --ignore-unknown

HOUSEKEEPING: Small adjustment in font size (80%). (#614)
  src/components/Home/index.tsx
  src/components/Team/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update submodule update instruction (#615)
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Add 2025.12 tutorial video
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add 2025.12 tutorial video (#616)
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Address Coderabbit
  docs/development/Plot-Component.mdx
  src/components/Plot/Tools.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

DOCUMENTATION: Adding details on the Betaflight Supported tier.
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/partner-program.mdx
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  src/css/custom.css
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Plot React Component (#612)
  docs/development/Plot-Component.mdx
  docs/development/mdx-reference.mdx
  package-lock.json
  package.json
  src/components/Plot/Config.tsx
  src/components/Plot/Plot.module.css
  src/components/Plot/Plot.tsx
  src/components/Plot/Series.tsx
  src/components/Plot/Tools.tsx
  src/components/Plot/Types.tsx
  src/components/Plot/index.tsx
  src/css/custom.css
  static/data/example_noise.csv
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add a Betaflight App landing page
  docs/wiki/configurator/_category_.json
  docs/wiki/configurator/index.mdx
  static/img/betaflight_configurator_add_bluetooth_device.png
  static/img/betaflight_configurator_add_usb_device.png
  static/img/betaflight_configurator_bluetooth_device.png
  static/img/betaflight_configurator_com_ports.png
  static/img/betaflight_configurator_enable_manual_connection.png
  static/img/betaflight_configurator_install_pwa.png
  static/img/betaflight_configurator_manual_connection.png
  static/img/betaflight_configurator_native_bluetooth_device_select.png
  static/img/betaflight_configurator_native_usb_device_select.png
  static/img/betaflight_configurator_usb_device.png
  static/img/betaflight_configurator_welcome_tab.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update docs/wiki/configurator/index.mdx
  docs/wiki/configurator/index.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fixes based on rabbit request
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/requirements-for-submission-of-targets.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

More Rabbit nitpicks
  docs/development/manufacturer/betaflight-supported.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Capitalise
  docs/development/manufacturer/betaflight-supported.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update name from Betaflight Configurator to Betaflight App
  docs/wiki/configurator/index.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add compatibility info, fix Wi-Fi spelling
  docs/wiki/configurator/index.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update betaflight-supported.mdx
  docs/development/manufacturer/betaflight-supported.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add a Betaflight App landing page (#619)
  docs/wiki/configurator/_category_.json
  docs/wiki/configurator/index.mdx
  static/img/betaflight_configurator_add_bluetooth_device.png
  static/img/betaflight_configurator_add_usb_device.png
  static/img/betaflight_configurator_bluetooth_device.png
  static/img/betaflight_configurator_com_ports.png
  static/img/betaflight_configurator_enable_manual_connection.png
  static/img/betaflight_configurator_install_pwa.png
  static/img/betaflight_configurator_manual_connection.png
  static/img/betaflight_configurator_native_bluetooth_device_select.png
  static/img/betaflight_configurator_native_usb_device_select.png
  static/img/betaflight_configurator_usb_device.png
  static/img/betaflight_configurator_welcome_tab.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

HOUSEKEEPING: Renamed location for App details from configurator to app
  docs/development/API/Cloud-Build-API.md
  docs/wiki/app/_category_.json
  docs/wiki/app/adjustments-tab.md
  docs/wiki/app/auxiliary-tab.md
  docs/wiki/app/cli-tab.md
  docs/wiki/app/configuration-tab.md
  docs/wiki/app/failsafe-tab.md
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/app/gps-tab.md
  docs/wiki/app/index.mdx
  docs/wiki/app/led-strip-tab.md
  docs/wiki/app/logging-tab.md
  docs/wiki/app/motors-tab.md
  docs/wiki/app/onboard-logging-tab.md
  docs/wiki/app/osd-tab.md
  docs/wiki/app/pid-tuning-tab.mdx
  docs/wiki/app/ports-tab.md
  docs/wiki/app/power-tab.md
  docs/wiki/app/presets-tab.md
  docs/wiki/app/receiver-tab.md
  docs/wiki/app/sensors-tab.md
  docs/wiki/app/servos-tab.md
  docs/wiki/app/setup-tab.md
  docs/wiki/app/transponder-tab.md
  docs/wiki/app/vtx-tab.md
  docs/wiki/getting-started/hardware/esc-firmware.md
  docs/wiki/getting-started/setup-guide.md
  docs/wiki/getting-started/troubleshooting.md
  docs/wiki/guides/current/Magnetometer.md
  static/_redirects
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Punctuation fix
  docs/wiki/getting-started/troubleshooting.md
Due: prettier --write --ignore-unknown

Updating sponsor url
  src/components/Sponsors/PartnerOverview.tsx
  src/components/Sponsors/SponsorBanner.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Enhance formatting for Betaflight Supported status requirements
  docs/development/manufacturer/betaflight-supported.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

HOUSEKEEPING: Renamed location for App details from configurator to app (#620)
  docs/development/API/Cloud-Build-API.md
  docs/wiki/app/_category_.json
  docs/wiki/app/adjustments-tab.md
  docs/wiki/app/auxiliary-tab.md
  docs/wiki/app/cli-tab.md
  docs/wiki/app/configuration-tab.md
  docs/wiki/app/failsafe-tab.md
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/app/gps-tab.md
  docs/wiki/app/index.mdx
  docs/wiki/app/led-strip-tab.md
  docs/wiki/app/logging-tab.md
  docs/wiki/app/motors-tab.md
  docs/wiki/app/onboard-logging-tab.md
  docs/wiki/app/osd-tab.md
  docs/wiki/app/pid-tuning-tab.mdx
  docs/wiki/app/ports-tab.md
  docs/wiki/app/power-tab.md
  docs/wiki/app/presets-tab.md
  docs/wiki/app/receiver-tab.md
  docs/wiki/app/sensors-tab.md
  docs/wiki/app/servos-tab.md
  docs/wiki/app/setup-tab.md
  docs/wiki/app/transponder-tab.md
  docs/wiki/app/vtx-tab.md
  docs/wiki/getting-started/hardware/esc-firmware.md
  docs/wiki/getting-started/setup-guide.md
  docs/wiki/getting-started/troubleshooting.md
  docs/wiki/guides/current/Magnetometer.md
  src/components/Sponsors/PartnerOverview.tsx
  src/components/Sponsors/SponsorBanner.tsx
  static/_redirects
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

DOCUMENTATION: Adding details on the Betaflight Supported tier. (#617)
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/partner-program.mdx
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  src/css/custom.css
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update list of defines
  docs/development/Defines.md
Due: prettier --write --ignore-unknown

Change date of last update
  docs/development/Defines.md
Due: prettier --write --ignore-unknown

Content: Add MADFLIGHT_FC3 board doc
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3-images/MADFLIGHT_FC3-bottom.png
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3-images/MADFLIGHT_FC3-top.png
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

add </TabItem>
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

typo + img links
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

title
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

typo
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

whitespace
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

store link
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

title case
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add MADFLIGHT_FC3 board doc (#622)
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3-images/MADFLIGHT_FC3-bottom.png
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3-images/MADFLIGHT_FC3-top.png
  docs/wiki/boards/current/MADFLIGHT_FC3/MADFLIGHT_FC3.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update list of defines (#621)
  docs/development/Defines.md
Due: prettier --write --ignore-unknown
