Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Update firmware flasher tab (#144)
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Manufacturer Landing Page (#148)
  docs/manufacturer/manufacturer.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix VTX Table Links
  docs/wiki/archive/VTX-Tables.md
Due: prettier --write --ignore-unknown

Fix VTX Table Links (#146)
  docs/wiki/archive/VTX-Tables.md
Due: prettier --write --ignore-unknown

update noted for GPS Rescue 4.4 wiki RTH section
  docs/wiki/archive/GPS-Rescue-v4-4.md
Due: prettier --write --ignore-unknown

update notes for GPS Rescue 4.4 wiki RTH section (#150)
  docs/wiki/archive/GPS-Rescue-v4-4.md
Due: prettier --write --ignore-unknown

Correct 4.4 release notes about mixer throttle adjustments
  docs/release/Betaflight 4.4 Release Notes.md
Due: prettier --write --ignore-unknown

fixed team generation lint staged, removed double name from team list (#145)
  .lintstagedrc
  package-lock.json
  package.json
  src/json/team.json
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown, node tools/team_generation.mjs

Correction to 4.4 release notes about mixer throttle adjustments (#151)
  docs/release/Betaflight 4.4 Release Notes.md
Due: prettier --write --ignore-unknown

Added custom image embeds for docs
  src/theme/DocItem/Metadata/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fixed SonarCloud code smell check
  src/theme/DocItem/Metadata/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

eslint check fix
  .eslintrc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added semicolons back from eslint misconfig
  src/theme/DocItem/Metadata/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add details on building specfic board targets locally
  docs/development/development.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Added custom image embeds for docs (#152)
  .eslintrc.js
  src/theme/DocItem/Metadata/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Adding documentation around board configuration
  docs/development/development.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Adding documentation around board configuration (#154)
  docs/development/development.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fixed title and added suggested content
  docs/configurator/power-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Capitalized ADC, hopefully fixed merge conflict
  docs/wiki/configurator/power-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Introduction and getting started docs
  docs/wiki/getting-started/_category_.json
  docs/wiki/getting-started/introduction.mdx
  docs/wiki/getting-started/setup-guide.mdx
  static/img/betaflight_configurator_com_ports.png
  static/img/betaflight_configurator_modes_arm.png
  static/img/betaflight_configurator_welcome.png
  static/img/betaflight_props_in_out.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add SITL documentation
  docs/development/Building in Windows.md
  docs/development/Building-in-Windows.md
  docs/development/SITL.mdx
  static/img/sitl/SITL_RF.jpg
  static/img/sitl/betaflight.jpg
  static/img/sitl/rf_settings.jpg
  static/img/sitl/select.jpg
  static/img/sitl/transmitter.jpg
  static/sitl/BTFL_quadcopter_rf9.txt
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add SITL documentation (#156)
  docs/development/Building in Windows.md
  docs/development/Building-in-Windows.md
  docs/development/SITL.mdx
  static/img/sitl/SITL_RF.jpg
  static/img/sitl/betaflight.jpg
  static/img/sitl/rf_settings.jpg
  static/img/sitl/select.jpg
  static/img/sitl/transmitter.jpg
  static/sitl/BTFL_quadcopter_rf9.txt
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

fix docs link
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix link
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix docs link (#157)
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix Katex stylesheet
  docusaurus.config.js
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove aria-hidden
  src/css/tailwind.scss
Due: none

Fix Katex Stylesheet (#160)
  docusaurus.config.js
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Power Tab fixes - sidebar position, wording (#111)
  docs/wiki/configurator/power-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

FEAT: team sponsors
  src/components/Home/index.tsx
  static/img/sponsors/BF_Approved_Logo_G2X.png
  static/img/sponsors/DOGCOM.png
  static/img/sponsors/HQPROP.png
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

add partners page
  docusaurus.config.js
  src/components/Home/index.tsx
  src/pages/partner.tsx
  static/img/sponsors/Betaflight_4.4_Verified.pdf
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix partner link to logo
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix link (#158)
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Approved Partner Page
  docs/manufacturer/Approved.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update docs/manufacturer/Approved.mdx
  docs/manufacturer/Approved.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Approved Partner Page (#163)
  docs/manufacturer/Approved.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix build errors
  docs/development/Atomic-Barrier.md
  docs/development/Blackbox-Internals.md
  docs/development/Building-Betaflight-on-Windows-the-Linux-subsystem-way.md
  docs/development/Building-Manual.md
  docs/development/Building-in-Arch-Linux.md
  docs/development/Building-in-Eclipse.md
  docs/development/Building-in-Fedora.md
  docs/development/Building-in-Mac-OSX.md
  docs/development/Building-in-Ubuntu.md
  docs/development/Configuration-Format.md
  docs/development/Configuration-Storage.md
  docs/development/Hardware-Debugging-in-Eclipse.md
  docs/development/Hardware-Debugging.md
  docs/development/OSD-Profiles.md
  docs/manufacturer/assets/images/bf_logo.png
  docs/manufacturer/creating-an-unified-target.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
  docs/manufacturer/requirements-for-submission-of-targets.mdx
  docs/release/Betaflight-3.4-Release-Notes.md
  docs/release/Betaflight-3.5-Release-Notes.md
  docs/release/Betaflight-4.0-Release-Notes.md
  docs/release/Betaflight-4.1-Release-Notes.md
  docs/release/Betaflight-4.2-Release-Notes.md
  docs/release/Betaflight-4.4-Release-Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Change font-size
  src/css/custom.css
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Homepage edit
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix build errors (#164)
  docs/development/Atomic-Barrier.md
  docs/development/Blackbox-Internals.md
  docs/development/Building-Betaflight-on-Windows-the-Linux-subsystem-way.md
  docs/development/Building-Manual.md
  docs/development/Building-in-Arch-Linux.md
  docs/development/Building-in-Eclipse.md
  docs/development/Building-in-Fedora.md
  docs/development/Building-in-Mac-OSX.md
  docs/development/Building-in-Ubuntu.md
  docs/development/Configuration-Format.md
  docs/development/Configuration-Storage.md
  docs/development/Hardware-Debugging-in-Eclipse.md
  docs/development/Hardware-Debugging.md
  docs/development/OSD-Profiles.md
  docs/manufacturer/assets/images/bf_logo.png
  docs/manufacturer/creating-an-unified-target.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
  docs/manufacturer/requirements-for-submission-of-targets.mdx
  docs/release/Betaflight-3.4-Release-Notes.md
  docs/release/Betaflight-3.5-Release-Notes.md
  docs/release/Betaflight-4.0-Release-Notes.md
  docs/release/Betaflight-4.1-Release-Notes.md
  docs/release/Betaflight-4.2-Release-Notes.md
  docs/release/Betaflight-4.4-Release-Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
