Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Refactor: Release and Tuning got lost in the move
  docs/support/release/Betaflight-3.0-Release-Notes.md
  docs/support/release/Betaflight-3.1-Release-Notes.md
  docs/support/release/Betaflight-3.2-Release-Notes.md
  docs/support/release/Betaflight-3.4-Release-Notes.md
  docs/support/release/Betaflight-3.5-Release-Notes.md
  docs/support/release/Betaflight-4.0-Release-Notes.md
  docs/support/release/Betaflight-4.1-Release-Notes.md
  docs/support/release/Betaflight-4.2-Release-Notes.md
  docs/support/release/Betaflight-4.4-Release-Notes.md
  docs/support/release/Betaflight-4.5-Release-Notes.md
  docs/support/release/_category_.json
  docs/support/tuning/3.5-tuning-notes.md
  docs/support/tuning/4.0-Tuning-Notes.md
  docs/support/tuning/4.1-Tuning-Notes.md
  docs/support/tuning/4.2-Tuning-Notes.md
  docs/support/tuning/4.3-Tuning-Notes.md
  docs/support/tuning/_category_.json
Due: prettier --write --ignore-unknown

Refactor: Move debugging into separate dir
  docs/development/debugging/Debug-configurator-with-vscode.md
  docs/development/debugging/Hardware-Debugging-in-Eclipse.md
  docs/development/debugging/Hardware-Debugging.md
  docs/development/debugging/SWD-debug-port-connection-conflicts..md
  docs/development/debugging/_category_.json
Due: prettier --write --ignore-unknown

sliders
  docs/development/LedStrip.md
Due: prettier --write --ignore-unknown

Add LED Strip slider documentation (#270)
  docs/development/LedStrip.md
Due: prettier --write --ignore-unknown

4.5 release notes update 2
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

fix link syntax
  docs/tuning/3.5-tuning-notes.md
  docs/tuning/4.2-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Add files via upload
  static/img/betaflight/sponsors/Axis AF227 Motors.jpg
  static/img/betaflight/sponsors/AxisSupafly.jpg
Due: none

Update sponsor pics.mdx
  src/pages/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Remove pics
  static/img/betaflight/sponsors/AE2207.jpg
  static/img/betaflight/sponsors/C246.jpg
Due: none

Dogcom Axis ellaboration.mdx
  src/pages/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

fixes thanks to Zog
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

fix link syntax in two tuning guide documents (#272)
  docs/tuning/3.5-tuning-notes.md
  docs/tuning/4.2-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Update docs/release/Betaflight-4.5-Release-Notes.md
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

4.5 release notes update 2 (#271)
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

Rename wiki
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

Refactor: Move Release and Tuning into Wiki
  docs/wiki/release/Betaflight-3.0-Release-Notes.md
  docs/wiki/release/Betaflight-3.1-Release-Notes.md
  docs/wiki/release/Betaflight-3.2-Release-Notes.md
  docs/wiki/release/Betaflight-3.4-Release-Notes.md
  docs/wiki/release/Betaflight-3.5-Release-Notes.md
  docs/wiki/release/Betaflight-4.0-Release-Notes.md
  docs/wiki/release/Betaflight-4.1-Release-Notes.md
  docs/wiki/release/Betaflight-4.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docs/wiki/release/_category_.json
  docs/wiki/tuning/3.5-tuning-notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
  docs/wiki/tuning/4.1-Tuning-Notes.md
  docs/wiki/tuning/4.2-Tuning-Notes.md
  docs/wiki/tuning/4.3-Tuning-Notes.md
  docs/wiki/tuning/_category_.json
  docusaurus.config.js
  sidebars.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Refactor: Move Manufacturer into Development
  docs/development/manufacturer/approved-partner-program.mdx
  docs/development/manufacturer/connector-standard.mdx
  docs/development/manufacturer/creating-an-unified-target.mdx
  docs/development/manufacturer/creating-configuration.mdx
  docs/development/manufacturer/manufacturer-design-guidelines.mdx
  docs/development/manufacturer/manufacturer.mdx
  docs/development/manufacturer/requirements-for-submission-of-targets.mdx
  docusaurus.config.js
  sidebars.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Move build guides into separate dir
  docs/development/building/Building-Betaflight-on-Windows-the-Linux-subsystem-way.md
  docs/development/building/Building-Manual.md
  docs/development/building/Building-in-Arch-Linux.md
  docs/development/building/Building-in-Eclipse.md
  docs/development/building/Building-in-Fedora.md
  docs/development/building/Building-in-Mac-OSX.md
  docs/development/building/Building-in-Ubuntu.md
  docs/development/building/Building-in-Windows.md
  docs/development/building/_category_.json
Due: prettier --write --ignore-unknown

Refactor: Create tab Relations (Sponsor + Partner)
  docs/relations/partner.mdx
  docs/relations/sponsors.mdx
  docusaurus.config.js
  sidebars.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Rename led_strip-tab.mdx to led-strip-tab.mdx (#265)
  docs/support/configurator/led-strip-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Move MDX Reference into Development
  docs/development/mdx-reference.mdx
  docs/support/misc/_category_.json
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Remove old incorrect led_strip-tab that I missed
  docs/support/configurator/led_strip-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

minor welcome change
  docs/wiki/wiki.md
Due: prettier --write --ignore-unknown

updates from Zoggbarr
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

Add files via upload
  static/img/betaflight/sponsors/AE2207.jpeg
Due: none

Axis Photo.mdx
  src/pages/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

fixing capitalised internal links and other minor things
  docs/wiki/configurator/led-strip-tab.mdx
  docs/wiki/release/Betaflight-3.0-Release-Notes.md
  docs/wiki/release/Betaflight-3.1-Release-Notes.md
  docs/wiki/release/Betaflight-3.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
  docs/wiki/tuning/4.1-Tuning-Notes.md
  docs/wiki/tuning/4.2-Tuning-Notes.md
  docs/wiki/tuning/4.3-Tuning-Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

sort release and tuning notes
  docs/wiki/release/Betaflight-3.5-Release-Notes.md
  docs/wiki/release/Betaflight-4.0-Release-Notes.md
  docs/wiki/release/Betaflight-4.1-Release-Notes.md
  docs/wiki/release/Betaflight-4.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.0-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.2-Release-Notes.md
  docs/wiki/release/older/Betaflight-3.4-Release-Notes.md
  docs/wiki/release/older/_category_.json
  docs/wiki/tuning/3.5-tuning-notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
  docs/wiki/tuning/4.1-Tuning-Notes.md
  docs/wiki/tuning/4.2-Tuning-Notes.md
  docs/wiki/tuning/4.3-Tuning-Notes.md
Due: prettier --write --ignore-unknown

keep only completed configurator tabs, fix 3.4 tuning notes
  docs/wiki/configurator/todo/adjustments-tab.md
  docs/wiki/configurator/todo/failsafe-tab.md
  docs/wiki/configurator/todo/gps-tab.md
  docs/wiki/configurator/todo/led-strip-tab.md
  docs/wiki/configurator/todo/logging-tab.md
  docs/wiki/configurator/todo/onboard-logging-tab.md
  docs/wiki/configurator/todo/pid-tuning-tab.md
  docs/wiki/configurator/todo/sensors-tab.md
  docs/wiki/configurator/todo/transponder-tab.md
  docs/wiki/configurator/todo/vtx-tab.md
  docs/wiki/tuning/older/3.4-tuning-notes.md
  docs/wiki/tuning/older/_category_.json
Due: prettier --write --ignore-unknown

Update docusaurus.config.js
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix links
  docs/development/Safety.md
  docs/wiki/guides/current/Failsafe.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/release/Betaflight-3.5-Release-Notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Fix links (#274)
  docs/development/Safety.md
  docs/wiki/guides/current/Failsafe.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/release/Betaflight-3.5-Release-Notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Update sponsors.md
  docs/relations/sponsors.md
Due: prettier --write --ignore-unknown
