Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Add semicolons to .tsx files
  src/components/AboutCard/index.tsx
  src/components/Button.tsx
  src/components/Carousel/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/LandingPageFeature/index.tsx
  src/components/RecentPosts/index.tsx
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update connector standard
  docs/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update connector standard (#182)
  docs/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add Hardware page
  docs/wiki/getting-started/hardware.mdx
  static/img/betaflight_hardware_bmp280.webp
  static/img/betaflight_hardware_icm42688p.jpg
  static/img/betaflight_hardware_mpu6000.jpg
  static/img/betaflight_hardware_stm32f405.webp
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Re-wording suggestions
  docs/wiki/getting-started/setup-guide.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Re-wording suggestions 2
  docs/wiki/getting-started/hardware.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update docs/wiki/getting-started/troubleshooting.mdx
  docs/wiki/getting-started/troubleshooting.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Hotfix for HD OSD
  docs/wiki/getting-started/setup-guide.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add semicolons to .js files
  plugins/blog-plugin.js
  sidebars.js
  src/theme/DocItem/Metadata/index.js
  src/theme/MDXPage/index.js
  src/theme/Root.js
  src/theme/SearchBar/DocSearch.js
  src/theme/SearchBar/index.js
  src/theme/SearchBar/lunar-search.js
  src/theme/SearchBar/templates.js
  src/theme/SearchBar/utils.js
  src/types/index.ts
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/team_generation.mjs

Introduction and getting started docs (#155)
  docs/wiki/getting-started/_category_.json
  docs/wiki/getting-started/hardware.mdx
  docs/wiki/getting-started/introduction.mdx
  docs/wiki/getting-started/setup-guide.mdx
  docs/wiki/getting-started/troubleshooting.mdx
  static/img/betaflight_configurator_com_ports.png
  static/img/betaflight_configurator_modes_arm.png
  static/img/betaflight_configurator_show_all_serial_devices.png
  static/img/betaflight_configurator_welcome.png
  static/img/betaflight_hardware_bmp280.webp
  static/img/betaflight_hardware_icm42688p.jpg
  static/img/betaflight_hardware_mpu6000.jpg
  static/img/betaflight_hardware_stm32f405.webp
  static/img/betaflight_props_in_out.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Style: Remove unnecessary blurs for performance
  src/components/AboutCard/index.tsx
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add missing semicolons (#183)
  plugins/blog-plugin.js
  sidebars.js
  src/components/AboutCard/index.tsx
  src/components/Button.tsx
  src/components/Carousel/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/LandingPageFeature/index.tsx
  src/components/RecentPosts/index.tsx
  src/pages/download.tsx
  src/theme/DocItem/Metadata/index.js
  src/theme/MDXPage/index.js
  src/theme/Root.js
  src/theme/SearchBar/DocSearch.js
  src/theme/SearchBar/index.js
  src/theme/SearchBar/lunar-search.js
  src/theme/SearchBar/templates.js
  src/theme/SearchBar/utils.js
  src/types/index.ts
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/team_generation.mjs

Style: Hover effects, more color presence
  src/components/FancyAboutCard/index.tsx
  src/components/Home/index.tsx
  src/components/Layout/index.tsx
  src/components/Team/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Style: Add icons to wiki index
  docs/wiki/archive/_category_.json
  docs/wiki/boards/_category_.json
  docs/wiki/configurator/_category_.json
  docs/wiki/getting-started/_category_.json
  docs/wiki/misc/_category_.json
Due: prettier --write --ignore-unknown

Remove slack link
  docs/development/development.mdx
  docs/manufacturer/Approved.mdx
  docs/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/configurator/firmware-flasher-tab.mdx
  src/components/Home/index.tsx
  src/pages/partner.mdx
  tools/check_title_case.mjs
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Remove slack link (#184)
  docs/development/development.mdx
  docs/manufacturer/Approved.mdx
  docs/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/configurator/firmware-flasher-tab.mdx
  src/components/Home/index.tsx
  src/pages/partner.mdx
  tools/check_title_case.mjs
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Unify partner program source
  docs/manufacturer/approved-partner-program.mdx
  src/pages/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Unify partner program source (#185)
  docs/manufacturer/approved-partner-program.mdx
  src/pages/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Clean up folder structure
  src/components/Home/index.tsx
  src/pages/partner.mdx
  static/img/betaflight/sponsors/DOGCOM.png
  static/img/betaflight/sponsors/HQPROP.png
  static/img/betaflight/sponsors/Radio-Master-Logo.png
  static/img/betaflight/sponsors/bf_partner_dark.svg
  static/img/betaflight/sponsors/bf_partner_light.svg
  static/img/sponsors/BF_Approved_Logo_G2X.png
  static/img/sponsors/Betaflight_4.4_Verified.pdf
  static/img/sponsors/Radio-Master-Logo.ai
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add approved hardware seal
  static/img/betaflight/sponsors/bf_hardware_seal_dark.svg
  static/img/betaflight/sponsors/bf_hardware_seal_light.svg
Due: none

Update connector logo
  docs/manufacturer/connector-standard.mdx
  static/img/betaflight/connector_logo.svg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Connector Standard Logo (#187)
  docs/manufacturer/connector-standard.mdx
  static/img/betaflight/connector_logo.svg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add EDT description and link to EDT spec
  docs/wiki/configurator/motors-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add EDT description and link to EDT spec (#188)
  docs/wiki/configurator/motors-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add "make configs" and AT32 DFU rules, update references to recent versions
  docs/development/Building-Betaflight-on-Windows-the-Linux-subsystem-way.md
  docs/development/Building-in-Arch-Linux.md
  docs/development/Building-in-Fedora.md
  docs/development/Building-in-Mac-OSX.md
  docs/development/Building-in-Ubuntu.md
  docs/development/USB-Flashing.md
  docs/wiki/archive/Installing-Betaflight.md
Due: prettier --write --ignore-unknown

Change Approved Hardware Seal (#186)
  src/components/Home/index.tsx
  src/pages/partner.mdx
  static/img/betaflight/sponsors/DOGCOM.png
  static/img/betaflight/sponsors/HQPROP.png
  static/img/betaflight/sponsors/Radio-Master-Logo.png
  static/img/betaflight/sponsors/bf_hardware_seal_dark.svg
  static/img/betaflight/sponsors/bf_hardware_seal_light.svg
  static/img/betaflight/sponsors/bf_partner_dark.svg
  static/img/betaflight/sponsors/bf_partner_light.svg
  static/img/sponsors/BF_Approved_Logo_G2X.png
  static/img/sponsors/Betaflight_4.4_Verified.pdf
  static/img/sponsors/Radio-Master-Logo.ai
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add "make configs" and AT32 DFU rules, update references to recent versions (#189)
  docs/development/Building-Betaflight-on-Windows-the-Linux-subsystem-way.md
  docs/development/Building-in-Arch-Linux.md
  docs/development/Building-in-Fedora.md
  docs/development/Building-in-Mac-OSX.md
  docs/development/Building-in-Ubuntu.md
  docs/development/USB-Flashing.md
  docs/wiki/archive/Installing-Betaflight.md
Due: prettier --write --ignore-unknown

svg sponsor logos
  src/components/Home/index.tsx
  static/img/betaflight/sponsors/DOGCOM.png
  static/img/betaflight/sponsors/HQPROP.png
  static/img/betaflight/sponsors/Radio-Master-Logo.png
  static/img/betaflight/sponsors/dogcom.svg
  static/img/betaflight/sponsors/hqprop.svg
  static/img/betaflight/sponsors/radiomaster.svg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Sponsor vector graphics (#190)
  src/components/Home/index.tsx
  static/img/betaflight/sponsors/DOGCOM.png
  static/img/betaflight/sponsors/HQPROP.png
  static/img/betaflight/sponsors/Radio-Master-Logo.png
  static/img/betaflight/sponsors/dogcom.svg
  static/img/betaflight/sponsors/hqprop.svg
  static/img/betaflight/sponsors/radiomaster.svg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix sponsor logo size
  static/img/betaflight/sponsors/dogcom.svg
  static/img/betaflight/sponsors/hqprop.svg
  static/img/betaflight/sponsors/radiomaster.svg
Due: none

Details of VBAT usage
  docs/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix sponsor logo size (#191)
  static/img/betaflight/sponsors/dogcom.svg
  static/img/betaflight/sponsors/hqprop.svg
  static/img/betaflight/sponsors/radiomaster.svg
Due: none

Style: Light mode, fix hover effects
  docusaurus.config.js
  src/components/AboutCard/index.tsx
  src/components/FancyAboutCard/gradient.css
  src/components/FancyAboutCard/index.tsx
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/Layout/index.tsx
  src/components/RecentPosts/index.tsx
  src/components/Team/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
  src/icons/about-header.svg
  src/pages/download.tsx
  src/theme/ColorModeToggle/index.js
  src/theme/ColorModeToggle/styles.module.css
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Style: Remove icons from wiki index
  docs/wiki/archive/_category_.json
  docs/wiki/boards/_category_.json
  docs/wiki/configurator/_category_.json
  docs/wiki/getting-started/_category_.json
  docs/wiki/misc/_category_.json
Due: prettier --write --ignore-unknown

Fix: Code smell
  docusaurus.config.js
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Feature: Stats page
  docusaurus.config.js
  package-lock.json
  package.json
  src/pages/nivoTheme.js
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Fix code smell
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Top 5 targets instead of 3
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Fix code smell pt. 2
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
