Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Details of VBAT usage (#192)
  docs/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

3D mode and Air Mode notes
  docs/wiki/configurator/motors-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

3D mode and Air Mode notes (#196)
  docs/wiki/configurator/motors-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Feature: Stats page (#195)
  docusaurus.config.js
  package-lock.json
  package.json
  src/pages/nivoTheme.js
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Content: Add Sponsors page
  docusaurus.config.js
  src/css/tailwind.scss
  src/pages/sponsors.mdx
  static/img/betaflight/sponsors/dogcom_650mah.jpg
  static/img/betaflight/sponsors/dogcom_650mah_vitroid.jpg
  static/img/betaflight/sponsors/hqprop_j37.jpg
  static/img/betaflight/sponsors/hqprop_j37_vitroid.jpg
  static/img/betaflight/sponsors/hqprop_r36.jpg
  static/img/betaflight/sponsors/radiomaster_tx16s.png
  static/img/betaflight/sponsors/radiomaster_tx16s_limon.jpg
  static/img/betaflight/sponsors/sponsor_header.jpg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add Sponsors page (#198)
  docusaurus.config.js
  src/css/tailwind.scss
  src/pages/sponsors.mdx
  static/img/betaflight/sponsors/dogcom_650mah.jpg
  static/img/betaflight/sponsors/dogcom_650mah_vitroid.jpg
  static/img/betaflight/sponsors/hqprop_j37.jpg
  static/img/betaflight/sponsors/hqprop_j37_vitroid.jpg
  static/img/betaflight/sponsors/hqprop_r36.jpg
  static/img/betaflight/sponsors/radiomaster_tx16s.png
  static/img/betaflight/sponsors/radiomaster_tx16s_limon.jpg
  static/img/betaflight/sponsors/sponsor_header.jpg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Logo colors & theme switch implementation
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: No logs in prod
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Should build now. Also has light/dark theme
  src/pages/stats.tsx
  src/theme/nivoThemeDark.js
  src/theme/nivoThemeLight.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Stats page should build now. Also has pre-emptive support for light/dark theme (#200)
  src/pages/stats.tsx
  src/theme/nivoThemeDark.js
  src/theme/nivoThemeLight.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Updating documentation on GPS to match code and ublox recommendations.
  docs/development/Gps.md
Due: prettier --write --ignore-unknown

Update typo in docs/development/Gps.md
  docs/development/Gps.md
Due: prettier --write --ignore-unknown

Updating documentation on GPS to match code and ublox recommendations. (#201)
  docs/development/Gps.md
Due: prettier --write --ignore-unknown

Add HAKRCF722D
  docs/wiki/boards/HAKRCF722D.md
  docs/wiki/boards/images/HAKRCF722D_bottom.png
  docs/wiki/boards/images/HAKRCF722D_front.png
  docs/wiki/boards/images/HAKRCF722D_pinout.png
Due: prettier --write --ignore-unknown

Add board entry for FLYWOOF745AIO
  docs/wiki/boards/FLYWOOF745AIO.md
  docs/wiki/boards/images/flywooF745AIO_v1-2_std_front.jpg
Due: prettier --write --ignore-unknown

Light mode and style improvements (#193)
  docs/wiki/archive/_category_.json
  docs/wiki/misc/_category_.json
  docusaurus.config.js
  src/components/AboutCard/index.tsx
  src/components/FancyAboutCard/gradient.css
  src/components/FancyAboutCard/index.tsx
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/Layout/index.tsx
  src/components/RecentPosts/index.tsx
  src/components/Team/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
  src/icons/about-header.svg
  src/pages/download.tsx
  src/theme/ColorModeToggle/index.js
  src/theme/ColorModeToggle/styles.module.css
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add board entry for FLYWOOF745AIO (#203)
  docs/wiki/boards/FLYWOOF745AIO.md
  docs/wiki/boards/images/flywooF745AIO_v1-2_std_front.jpg
Due: prettier --write --ignore-unknown

Add HAKRCF722D (#204)
  docs/wiki/boards/HAKRCF722D.md
  docs/wiki/boards/images/HAKRCF722D_bottom.png
  docs/wiki/boards/images/HAKRCF722D_front.png
  docs/wiki/boards/images/HAKRCF722D_pinout.png
Due: prettier --write --ignore-unknown

Fix: Add back prop preventing build
  src/components/HomepageFeature/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Hotfix: Un-block further builds (#205)
  src/components/HomepageFeature/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Missing board file
  docs/wiki/boards/Missing.md
Due: prettier --write --ignore-unknown

Update dshot timing
  docs/wiki/archive/Bidirectional-DSHOT-and-RPM-Filter.md
Due: prettier --write --ignore-unknown

Add reference to bird-sanctuary EDT spec
  docs/wiki/archive/Bidirectional-DSHOT-and-RPM-Filter.md
Due: prettier --write --ignore-unknown

Update Missing.md
  docs/wiki/boards/Missing.md
Due: prettier --write --ignore-unknown

Update docs/wiki/boards/Missing.md
  docs/wiki/boards/Missing.md
Due: prettier --write --ignore-unknown

Add Missing board file (#207)
  docs/wiki/boards/Missing.md
Due: prettier --write --ignore-unknown

Dshot timing (#209)
  docs/wiki/archive/Bidirectional-DSHOT-and-RPM-Filter.md
Due: prettier --write --ignore-unknown

fix initial colorMode
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix navbar logo
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix initial colorMode (#212)
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix navbar icon for dark/light mode (#213)
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add files via upload
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Fix table
  docs/development/Gps.md
Due: prettier --write --ignore-unknown

Update Serial.md
  docs/development/Serial.md
Due: prettier --write --ignore-unknown

Update manufacturer-design-guidelines.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
