Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Adding S3 bucket deployment for apex domain
  .github/workflows/deploy.yaml
  .github/workflows/stale.yaml
Due: none

Adding S3 bucket deployment for apex domain (#547)
  .github/workflows/deploy.yaml
  .github/workflows/stale.yaml
Due: none

Update deploy.yaml
  .github/workflows/deploy.yaml
Due: none

Update deploy.yaml - corrected BASE_PATH
  .github/workflows/deploy.yaml
Due: none

Update deploy.yaml - corrected secrets.AWS_CF_DISTRIBUTION_ID
  .github/workflows/deploy.yaml
Due: none

Update check_pr.yaml
  .github/workflows/check_pr.yaml
Due: none

Remove reference to netlify
  src/theme/Footer/Layout/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove reference to netlify (#550)
  src/theme/Footer/Layout/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update check_pr.yaml (#548)
  .github/workflows/check_pr.yaml
Due: none

Remove dedicated RX proposal
  docs/development/manufacturer/connector-standard.md
Due: prettier --write --ignore-unknown

Adding previews for PRs
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yaml
Due: none

Adding previews for PRs (#552)
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yaml
Due: none

BFC: Add 10pin ESC and note about color and legacy wire harness (#544)
  docs/development/manufacturer/connector-standard.md
Due: prettier --write --ignore-unknown

Content: Add reference schematic + board renders
  docs/development/manufacturer/connector-standard.mdx
  static/img/connector_standard/analog_vtx_connector_render.png
  static/img/connector_standard/analog_vtx_connector_schematic.png
  static/img/connector_standard/camera_connector_render.png
  static/img/connector_standard/camera_connector_schematic.png
  static/img/connector_standard/digital_vtx_connector_render.png
  static/img/connector_standard/digital_vtx_connector_schematic.png
  static/img/connector_standard/esc_connector_render.png
  static/img/connector_standard/esc_connector_schematic.png
  static/img/connector_standard/extended_esc_connector_render.png
  static/img/connector_standard/extended_esc_connector_schematic.png
  static/img/connector_standard/i2c_connector_render.png
  static/img/connector_standard/i2c_connector_schematic.png
  static/img/connector_standard/swd_connector_render.png
  static/img/connector_standard/swd_connector_schematic.png
  static/img/connector_standard/uart_connector_render.png
  static/img/connector_standard/uart_connector_schematic.png
  static/img/connector_standard/uart_i2c_connector_render.png
  static/img/connector_standard/uart_i2c_connector_schematic.png
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add more reference media
  docs/development/manufacturer/connector-standard.mdx
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Fix Digital VTX Connector
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
  static/img/connector_standard/digital_vtx_connector_render.png
  static/img/connector_standard/digital_vtx_connector_schematic.png
Due: none

Content: Add reference schematic + board renders (#553)
  docs/development/manufacturer/connector-standard.mdx
  static/img/connector_standard/analog_vtx_connector_render.png
  static/img/connector_standard/analog_vtx_connector_schematic.png
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
  static/img/connector_standard/camera_connector_render.png
  static/img/connector_standard/camera_connector_schematic.png
  static/img/connector_standard/digital_vtx_connector_render.png
  static/img/connector_standard/digital_vtx_connector_schematic.png
  static/img/connector_standard/esc_connector_render.png
  static/img/connector_standard/esc_connector_schematic.png
  static/img/connector_standard/extended_esc_connector_render.png
  static/img/connector_standard/extended_esc_connector_schematic.png
  static/img/connector_standard/i2c_connector_render.png
  static/img/connector_standard/i2c_connector_schematic.png
  static/img/connector_standard/swd_connector_render.png
  static/img/connector_standard/swd_connector_schematic.png
  static/img/connector_standard/uart_connector_render.png
  static/img/connector_standard/uart_connector_schematic.png
  static/img/connector_standard/uart_i2c_connector_render.png
  static/img/connector_standard/uart_i2c_connector_schematic.png
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update deploy-preview.yml
  .github/workflows/deploy-preview.yml
Due: none

Adding comment for second job
  .github/workflows/deploy-preview.yml
Due: none

Remove spaces
  .github/workflows/deploy-preview.yml
Due: none

Update deploy-preview.yml (#554)
  .github/workflows/deploy-preview.yml
Due: none

Create .coderabbit.yaml
  .coderabbit.yaml
Due: none

Update .coderabbit.yaml
  .coderabbit.yaml
Due: none

Create .coderabbit.yaml (#555)
  .coderabbit.yaml
Due: none

The BBE-MinMax-control-manual images are renamed
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
  docs/wiki/guides/current/images/min-max_1.jpg
  docs/wiki/guides/current/images/min-max_10.jpg
  docs/wiki/guides/current/images/min-max_11.jpg
  docs/wiki/guides/current/images/min-max_12.jpg
  docs/wiki/guides/current/images/min-max_13.jpg
  docs/wiki/guides/current/images/min-max_2.jpg
  docs/wiki/guides/current/images/min-max_3.jpg
  docs/wiki/guides/current/images/min-max_4.jpg
  docs/wiki/guides/current/images/min-max_5.jpg
  docs/wiki/guides/current/images/min-max_6.jpg
  docs/wiki/guides/current/images/min-max_7.jpg
  docs/wiki/guides/current/images/min-max_8.jpg
  docs/wiki/guides/current/images/min-max_9.jpg
Due: prettier --write --ignore-unknown

Added descriptons of using curves MinMax values in workspace
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
  docs/wiki/guides/current/images/min-max_14.jpg
  docs/wiki/guides/current/images/min-max_15.jpg
Due: prettier --write --ignore-unknown

The blackbox explorers image files are replaced to /static/img directory
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
  static/img/blackbox/min-max_1.jpg
  static/img/blackbox/min-max_10.jpg
  static/img/blackbox/min-max_11.jpg
  static/img/blackbox/min-max_12.jpg
  static/img/blackbox/min-max_13.jpg
  static/img/blackbox/min-max_14.jpg
  static/img/blackbox/min-max_15.jpg
  static/img/blackbox/min-max_2.jpg
  static/img/blackbox/min-max_3.jpg
  static/img/blackbox/min-max_4.jpg
  static/img/blackbox/min-max_5.jpg
  static/img/blackbox/min-max_6.jpg
  static/img/blackbox/min-max_7.jpg
  static/img/blackbox/min-max_8.jpg
  static/img/blackbox/min-max_9.jpg
Due: prettier --write --ignore-unknown

Using of curves MinMax values in workspace (#558)
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
  static/img/blackbox/min-max_1.jpg
  static/img/blackbox/min-max_10.jpg
  static/img/blackbox/min-max_11.jpg
  static/img/blackbox/min-max_12.jpg
  static/img/blackbox/min-max_13.jpg
  static/img/blackbox/min-max_14.jpg
  static/img/blackbox/min-max_15.jpg
  static/img/blackbox/min-max_2.jpg
  static/img/blackbox/min-max_3.jpg
  static/img/blackbox/min-max_4.jpg
  static/img/blackbox/min-max_5.jpg
  static/img/blackbox/min-max_6.jpg
  static/img/blackbox/min-max_7.jpg
  static/img/blackbox/min-max_8.jpg
  static/img/blackbox/min-max_9.jpg
Due: prettier --write --ignore-unknown

Added manual for Power spectral density spectrums chart
  docs/wiki/guides/current/BBE-Power-Specttral-Density-charts.md
  docs/wiki/guides/current/Black-Box-logging-and-usage.md
  static/img/blackbox/psd_1.jpg
  static/img/blackbox/psd_10.jpg
  static/img/blackbox/psd_2.jpg
  static/img/blackbox/psd_3.jpg
  static/img/blackbox/psd_4.jpg
  static/img/blackbox/psd_5.jpg
  static/img/blackbox/psd_6.jpg
  static/img/blackbox/psd_7.jpg
  static/img/blackbox/psd_8.jpg
  static/img/blackbox/psd_9.jpg
Due: prettier --write --ignore-unknown

Added bookmark for 'Power spectral density curves comparison' page
  docs/wiki/guides/current/BBE-Power-Specttral-Density-charts.md
  docs/wiki/guides/current/Black-Box-logging-and-usage.md
Due: prettier --write --ignore-unknown

Resolved mistake in file name
  docs/wiki/guides/current/BBE-Power-Spectral-Density-charts.md
  docs/wiki/guides/current/Black-Box-logging-and-usage.md
Due: prettier --write --ignore-unknown

The image files are replaced into static/img/ directory
  docs/wiki/guides/current/BBE-Power-Spectral-Density-charts.md
Due: prettier --write --ignore-unknown

Added spectrums chart comparison legend settings
  docs/wiki/guides/current/BBE-Power-Spectral-Density-charts.md
  static/img/blackbox/psd_11.jpg
Due: prettier --write --ignore-unknown

The curves MinMax values images are replaced in /img/blackbox directory
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
  static/img/blackbox/1.jpg
  static/img/blackbox/10.jpg
  static/img/blackbox/11.jpg
  static/img/blackbox/12.jpg
  static/img/blackbox/13.jpg
  static/img/blackbox/2.jpg
  static/img/blackbox/3.jpg
  static/img/blackbox/4.jpg
  static/img/blackbox/5.jpg
  static/img/blackbox/6.jpg
  static/img/blackbox/7.jpg
  static/img/blackbox/8.jpg
  static/img/blackbox/9.jpg
Due: prettier --write --ignore-unknown

Removed extra lines
  docs/wiki/guides/current/BBE-Power-Spectral-Density-charts.md
Due: prettier --write --ignore-unknown

Removed extra files
  static/img/blackbox/1.jpg
  static/img/blackbox/10.jpg
  static/img/blackbox/11.jpg
  static/img/blackbox/12.jpg
  static/img/blackbox/13.jpg
  static/img/blackbox/2.jpg
  static/img/blackbox/3.jpg
  static/img/blackbox/4.jpg
  static/img/blackbox/5.jpg
  static/img/blackbox/6.jpg
  static/img/blackbox/7.jpg
  static/img/blackbox/8.jpg
  static/img/blackbox/9.jpg
Due: none

Resolved merge issues
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
Due: prettier --write --ignore-unknown

Added manual for Power spectral density spectrums chart (#559)
  docs/wiki/guides/current/BBE-Power-Spectral-Density-charts.md
  docs/wiki/guides/current/Black-Box-logging-and-usage.md
  static/img/blackbox/psd_1.jpg
  static/img/blackbox/psd_10.jpg
  static/img/blackbox/psd_11.jpg
  static/img/blackbox/psd_2.jpg
  static/img/blackbox/psd_3.jpg
  static/img/blackbox/psd_4.jpg
  static/img/blackbox/psd_5.jpg
  static/img/blackbox/psd_6.jpg
  static/img/blackbox/psd_7.jpg
  static/img/blackbox/psd_8.jpg
  static/img/blackbox/psd_9.jpg
Due: prettier --write --ignore-unknown

CLEANUP: Some cleanup of old files, and some minor updates.
  docs/development/API/MSP-Extensions.md
  docs/development/Blackbox.md
  docs/development/Boards.md
  docs/development/Buzzer.md
  docs/development/Cli.md
  docs/development/CodingStyle.md
  docs/development/Configuration-Storage.md
  docs/development/Configuration.md
  docs/development/Customized-Version.md
  docs/development/Display.md
  docs/development/Getting-Started.md
  docs/development/Gtune.md
  docs/development/Inflight-Adjustments.md
  docs/development/Installation.md
  docs/development/Introduction.md
  docs/development/Mixer.md
  docs/development/PID-tuning.md
  docs/development/Rx.md
  docs/development/Telemetry.md
  docs/development/Transponder.md
  docs/development/Travis.md
  docs/development/building/Known-Build-Environment-Problems.md
  docs/wiki/guides/archive/Failsafe-Before-4-3.md
  docs/wiki/guides/current/Installing-Betaflight.md
  docusaurus.config.js
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Removing old content from buzzer
  docs/development/Buzzer.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
