Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Feature: Package KiCad source for full project downloads
  .gitignore
  docs/development/manufacturer/connector-standard.mdx
  package-lock.json
  package.json
  plugins/connector-schematic-plugin.mjs
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content Fix: Use larger resolution to prevent PCB render upscaling
  static/img/connector_standard/3_pin_camera_connector_render.png
  static/img/connector_standard/4_pin_camera_connector_render.png
  static/img/connector_standard/5_pin_camera_connector_render.png
  static/img/connector_standard/analog_vtx_connector_render.png
  static/img/connector_standard/digital_vtx_connector_render.png
  static/img/connector_standard/esc_connector_render.png
  static/img/connector_standard/extended_esc_connector_render.png
  static/img/connector_standard/i2c_connector_render.png
  static/img/connector_standard/swd_connector_render.png
  static/img/connector_standard/uart_connector_render.png
  tools/render_connector_standard.mjs
Due: none

Chore: Remove old backups
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_153304.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_153442.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_154226.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_154837.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_154846.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155300.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155317.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155321.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155356.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155406.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155607.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155630.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155753.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155817.zip
Due: none

SC Fix: Add curly braces
  tools/render_connector_standard.mjs
Due: none

SC Fix: Add --ignore-scripts for npm ci
  .github/workflows/check-connector-standard.yaml
Due: none

SC Fix: Replace lazy regex search to avoid lengthy backtracking
  tools/render_connector_standard.mjs
Due: none

SC Fix: Improve template literal slash escaping
  tools/render_connector_standard.mjs
Due: none

SC Fix: Refactor long function into multiple helpers
  tools/render_connector_standard.mjs
Due: none

SC Fix: Use await and try/catch instead of just catch
  tools/render_connector_standard.mjs
Due: none

CI Fix:: Add user options to container in GitHub Actions workflow
  .github/workflows/check-connector-standard.yaml
Due: none

CI: Improve automatic checks failing due to system rendering differences
  src/hardware/connector-standard/README.md
  static/img/connector_standard/bf_connector_standard.pdf
  tools/render_connector_standard.mjs
Due: prettier --write --ignore-unknown

CI: Further improve PDF matching
  static/img/connector_standard/bf_connector_standard.pdf
  tools/render_connector_standard.mjs
Due: none

CR Fix: Make checks more resilient
  tools/render_connector_standard.mjs
Due: none

docs: fix crashflip_rate description
  docs/wiki/guides/current/Cli.md
Due: prettier --write --ignore-unknown

docs: split Crash Flip Mode settings into separate table
  docs/wiki/guides/current/Cli.md
Due: prettier --write --ignore-unknown

Link downloads.betaflight.com from the downloads page
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Link downloads.betaflight.com from the downloads page (#751)
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: add guide for controlling Betaflight from a companion computer over MSP
  docs/wiki/guides/current/MSP-Companion-Computer-Control.md
Due: prettier --write --ignore-unknown

docs: address review, RX_MSP feature, version-scoped hold behavior, lint
  docs/wiki/guides/current/MSP-Companion-Computer-Control.md
Due: prettier --write --ignore-unknown

Docs: sync manufacturer docs with config repo layout, new targets and sensors
  docs/development/Custom-Board-Configuration.md
  docs/development/Customized-Version.md
  docs/development/Defines.md
  docs/development/Flight-Controller-Design.md
  docs/development/Git.md
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/creating-configuration.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/boards/archive/Missing.md
  docs/wiki/guides/current/Pinio-and-PinioBox.md
  docs/wiki/guides/current/Supported-Sensors.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

fix(docs): address review feedback (round 1)
  docs/development/manufacturer/creating-configuration.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  docs/wiki/guides/current/Supported-Sensors.md
Due: prettier --write --ignore-unknown

fix(docs): address review feedback (round 2)
  docs/development/manufacturer/creating-configuration.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

fix(docs): address review feedback (round 3)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

docs(connector-standard): add optional 2-pin I2C connector, specify ext. power as JST PH (v2.1)
  docs/development/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs(connector-standard): add optional 2-pin I2C connector, specify ext. power as JST PH (v2.1) (#754)
  docs/development/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Docs: sync manufacturer documentation with config repo layout, current MCU targets and sensors (#753)
  docs/development/Custom-Board-Configuration.md
  docs/development/Customized-Version.md
  docs/development/Defines.md
  docs/development/Flight-Controller-Design.md
  docs/development/Git.md
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/creating-configuration.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/boards/archive/Missing.md
  docs/wiki/guides/current/Pinio-and-PinioBox.md
  docs/wiki/guides/current/Supported-Sensors.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

blog: Blackbox Explorer is now part of the app
  blog/2026/08/20/blackbox-explorer-is-now-part-of-the-app.md
  static/img/blackbox/app-blackbox-analyser.png
  static/img/blackbox/app-blackbox-tab.png
Due: prettier --write --ignore-unknown

blog: Blackbox Explorer is now part of the app (#755)
  blog/2026/08/20/blackbox-explorer-is-now-part-of-the-app.md
  static/img/blackbox/app-blackbox-analyser.png
  static/img/blackbox/app-blackbox-tab.png
Due: prettier --write --ignore-unknown

docs: how to annotate a debug field
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs: the four annotation shapes, and the bit-flags one
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs: key every annotation bracket
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs: address review on the annotation page
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs: the unit table moved, and ranges are derived not annotated
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs: describe every form the unit factor takes
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs(serial): document per-feature UART assignment for MSP API 1.49
  docs/wiki/guides/current/Serial.md
Due: prettier --write --ignore-unknown

docs(serial): address review feedback (round 1)
  docs/wiki/guides/current/Serial.md
Due: prettier --write --ignore-unknown

docs(serial): add text language to all fenced CLI blocks (MD040)
  docs/wiki/guides/current/Serial.md
Due: prettier --write --ignore-unknown

docs: how to see an annotation before it is merged
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown

docs: enum gaps, and what counts as a call site
  docs/development/debugging/Debug-Field-Annotations.md
Due: prettier --write --ignore-unknown
