Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Fix tsconfig.json
  tsconfig.json
Due: prettier --write --ignore-unknown

Update github actions (checkout, setup-node) to V5
  .github/workflows/check_pr.yaml
  .github/workflows/deploy-preview.yml
Due: none

Feature: Opt into Docusaurus Faster
  docusaurus.config.mjs
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Fix: Address built time warnings
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
  docs/development/Oneshot.md
  docs/development/mdx-reference.md
  docs/wiki/boards/archive/ALIENWHOOP.md
  docs/wiki/boards/archive/CRAZYFLIE2.md
  docs/wiki/configurator/pid-tuning-tab.mdx
  docs/wiki/guides/archive/Betaflight-2-x-CLI-commands.md
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/guides/current/Rate-Calculator.md
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Remove link to removed archaic file
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
Due: prettier --write --ignore-unknown

Refactor: Remove not-needed babel config
  babel.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Upgrade node and github actions (checkout, setup-node) (#570)
  .github/workflows/check_pr.yaml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yaml
  tsconfig.json
Due: prettier --write --ignore-unknown

CR Content: Update spelling
  docs/wiki/configurator/pid-tuning-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add notes to design guidelines
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Correct and slightly modify the list of flash USE flags
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

DX Feature: Implement Docusaurus Faster (#571)
  babel.config.js
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
  docs/development/Oneshot.md
  docs/development/mdx-reference.md
  docs/wiki/boards/archive/ALIENWHOOP.md
  docs/wiki/boards/archive/CRAZYFLIE2.md
  docs/wiki/configurator/pid-tuning-tab.mdx
  docs/wiki/guides/archive/Betaflight-2-x-CLI-commands.md
  docs/wiki/guides/current/BBE-MinMax-control-manual.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/guides/current/Rate-Calculator.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
  docusaurus.config.mjs
  package-lock.json
  package.json
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add notes to design guidelines (#572)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Correct bytes back to bits for the flash USE flag description (#573)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update version
  docs/development/SITL.md
  docs/development/Serial.md
  docs/development/building/Building-in-Mac-OSX.md
  docs/wiki/configurator/firmware-flasher-tab.md
  docs/wiki/guides/current/Magnetometer.md
  docs/wiki/guides/current/Pinio-and-PinioBox.md
  docs/wiki/guides/current/Position-Hold-2025-12.md
Due: prettier --write --ignore-unknown

Update version (#574)
  docs/development/SITL.md
  docs/development/Serial.md
  docs/development/building/Building-in-Mac-OSX.md
  docs/wiki/configurator/firmware-flasher-tab.md
  docs/wiki/guides/current/Magnetometer.md
  docs/wiki/guides/current/Pinio-and-PinioBox.md
  docs/wiki/guides/current/Position-Hold-2025-12.md
Due: prettier --write --ignore-unknown

FIX: Broken redirects, remove netlify
  netlify.toml
  static/_redirects
Due: none

Adding new line at end of file
  static/_redirects
Due: none

Making 301
  static/_redirects
Due: none

Rename deploy-preview.yml to deploy.yml
  .github/workflows/deploy.yml
Due: none

Delete .github/workflows/deploy.yaml
  .github/workflows/deploy.yaml
Due: none

FIX: Broken redirects, remove netlify (#575)
  netlify.toml
  static/_redirects
Due: none

Some spelling errors corrected
  docs/wiki/getting-started/setup-guide.md
  docs/wiki/guides/current/Flight-Controller-Orientation.md
  docs/wiki/guides/current/GPS-Rescue-v4-4.md
  docs/wiki/guides/current/Multirotor-Spazzing-Out.md
  docs/wiki/guides/current/Serial-Pass-Through.md
  docs/wiki/release/older/Betaflight-3-0-Release-Notes.md
Due: prettier --write --ignore-unknown

Remove dead link, use english, fix layout
  docs/wiki/guides/current/PID-Tuning-Guide.md
Due: prettier --write --ignore-unknown

Remove ticks
  docs/wiki/guides/current/PID-Tuning-Guide.md
Due: prettier --write --ignore-unknown

Add language identifiers to code fences
  docs/wiki/guides/current/PID-Tuning-Guide.md
Due: prettier --write --ignore-unknown

vtx_power expects an index, not mW
  docs/wiki/guides/current/PID-Tuning-Guide.md
Due: prettier --write --ignore-unknown

Remove dead link, use english, fix layout (#578)
  docs/wiki/guides/current/PID-Tuning-Guide.md
Due: prettier --write --ignore-unknown

Adding Release Notes for 2025.12
  docs/wiki/configurator/_category_.json
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
  docs/wiki/release/Betaflight-3-5-Release-Notes.md
  docs/wiki/release/Betaflight-4-0-Release-Notes.md
  docs/wiki/release/Betaflight-4-1-Release-Notes.md
  docs/wiki/release/Betaflight-4-2-Release-Notes.md
  docs/wiki/release/Betaflight-4-4-Release-Notes.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Adding some basic details on the firmware. To be updated in time with notes around new functionality requirements.
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Updating the side label to remove the redundant "Betaflight"
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
  docs/wiki/release/Betaflight-3-5-Release-Notes.md
  docs/wiki/release/Betaflight-4-0-Release-Notes.md
  docs/wiki/release/Betaflight-4-1-Release-Notes.md
  docs/wiki/release/Betaflight-4-2-Release-Notes.md
  docs/wiki/release/Betaflight-4-4-Release-Notes.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Adding how to submit a bug and find support.
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Clean up the older files.
  docs/wiki/release/older/Betaflight-3-0-Release-Notes.md
Due: prettier --write --ignore-unknown

Additional older files.
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-2-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-4-Release-Notes.md
Due: prettier --write --ignore-unknown

Remove important and add please
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Corrected 4.5
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Fixed some grammatical errors.
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Typo and indentation
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Adding RP2350 launch blog post
  blog/A New Challenger Enters the Ring RP2350B Lands in Betaflight.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
