Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Incorrect path
  docs/development/Configuration.md
Due: prettier --write --ignore-unknown

Spelling error
  docs/development/Transponder.md
Due: prettier --write --ignore-unknown

More edits
  docs/development/Blackbox.md
  docs/development/Configuration-Storage.md
  docs/development/Configuration.md
  docs/development/Getting-Started.md
  docs/development/Rx.md
  docs/development/Transponder.md
Due: prettier --write --ignore-unknown

Remove reactions from deploy-preview comment action
  .github/workflows/deploy-preview.yml
Due: none

Additional edits (again) for @coderabbitai
  docs/development/Configuration.md
  docs/development/Customized-Version.md
  docs/development/LedStrip.md
  docs/development/Transponder.md
  docs/development/manufacturer/connector-standard.mdx
  docs/wiki/guides/archive/ESC-pass-through-3-1.md
  docs/wiki/guides/current/Servos-And-SERVO_TILT-for-3-1.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Mixer update
  docs/development/Mixer.md
Due: prettier --write --ignore-unknown

More edits
  docs/development/Cli.md
  docs/development/Configuration.md
  docs/development/Getting-Started.md
  docs/development/LedStrip.md
  docs/development/Mixer.md
  docs/development/Modes.md
  docs/development/PID-tuning.md
  docs/development/Profiles.md
  docs/development/Rx.md
  docs/development/building/Building-in-Eclipse.md
  docs/development/debugging/Hardware-Debugging-in-Eclipse.md
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  docs/wiki/guides/archive/wiki-welcome-old.md
  docs/wiki/guides/current/Community-Presets.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Servos-And-SERVO_TILT-for-3-1.md
  docs/wiki/guides/current/Setup-for-a-Fixed-Wing-Aircraft.md
Due: prettier --write --ignore-unknown

Further changes based on @haslinghuis and @coderabbitai
  docs/development/Getting-Started.md
  docs/development/Mixer.md
  docs/development/PID-tuning.md
  docs/development/building/Building-in-Eclipse.md
  docs/development/building/Known-Build-Environment-Problems.md
  docs/wiki/guides/current/Community-Presets.md
  docs/wiki/guides/current/FAQ.md
Due: prettier --write --ignore-unknown

Fixes broken tag - some more minor updates
  docs/development/Mixer.md
  docs/development/PID-tuning.md
  docs/development/building/Building-in-Eclipse.md
  docs/development/building/Known-Build-Environment-Problems.md
  docs/wiki/guides/current/FAQ.md
Due: prettier --write --ignore-unknown

Code rabbit request
  docs/development/Mixer.md
Due: prettier --write --ignore-unknown

CLEANUP: Some cleanup of old files, and some minor updates. (#562)
  docs/development/API/MSP-Extensions.md
  docs/development/Blackbox.md
  docs/development/Boards.md
  docs/development/Buzzer.md
  docs/development/Cli.md
  docs/development/CodingStyle.md
  docs/development/Configuration-Storage.md
  docs/development/Configuration.md
  docs/development/Customized-Version.md
  docs/development/Display.md
  docs/development/Getting-Started.md
  docs/development/Gtune.md
  docs/development/Inflight-Adjustments.md
  docs/development/Installation.md
  docs/development/Introduction.md
  docs/development/LedStrip.md
  docs/development/Mixer.md
  docs/development/Modes.md
  docs/development/PID-tuning.md
  docs/development/Profiles.md
  docs/development/Rx.md
  docs/development/Telemetry.md
  docs/development/Transponder.md
  docs/development/Travis.md
  docs/development/building/Building-in-Eclipse.md
  docs/development/building/Known-Build-Environment-Problems.md
  docs/development/debugging/Hardware-Debugging-in-Eclipse.md
  docs/development/manufacturer/connector-standard.mdx
  docs/wiki/guides/archive/DSHOT-ESC-Protocol-3-1.md
  docs/wiki/guides/archive/ESC-pass-through-3-1.md
  docs/wiki/guides/archive/Failsafe-Before-4-3.md
  docs/wiki/guides/archive/wiki-welcome-old.md
  docs/wiki/guides/current/Community-Presets.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Installing-Betaflight.md
  docs/wiki/guides/current/Servos-And-SERVO_TILT-for-3-1.md
  docs/wiki/guides/current/Setup-for-a-Fixed-Wing-Aircraft.md
  docusaurus.config.js
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update motor requirements
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update motor requirements (#563)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update manufacturer-design-guidelines.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update manufacturer-design-guidelines.md (#564)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update deploy command for pull request branches
  .github/workflows/deploy-preview.yml
Due: none

Update: Docusaurus 3.0.1 -> 3.8.1
  docusaurus.config.mjs
  package-lock.json
  package.json
  src/components/SpecGrid/index.tsx
  src/components/VersionInfo/VersionInfo.tsx
  src/theme/DocCard/index.js
  src/theme/DocItem/Layout/index.js
  src/theme/DocItem/Metadata/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Refactor: Re-encode image to prevent build-time warnings
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_Layout.jpg
Due: none

Refactor: Fix broken links
  docs/development/building/Building-in-Ubuntu.md
  docs/wiki/configurator/firmware-flasher-tab.md
  docs/wiki/configurator/pid-tuning-tab.mdx
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/archive/wiki-welcome-old.md
  docs/wiki/guides/current/Barometer.md
  docs/wiki/guides/current/ESC-Telemetry.md
  docs/wiki/guides/current/Hardware-Reference.md
  docs/wiki/guides/current/SoftSerial.md
  docs/wiki/guides/current/VTX-CLI-Settings.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Fix quick broken anchors
  docs/development/API/Cloud-Build-API.md
  docs/wiki/boards/legacy/CRAZYBEEF3FS.md
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/tuning/4-2-Tuning-Notes.md
  docs/wiki/tuning/4-3-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Update Cloud Build API
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Address nitpicks
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Amend note and AKK define
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Add jeti comment
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

More nitpicks
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

More nitpicks II
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Fix anchor
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Forgot note in annotation
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

More nitpicks III
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Refactor: Fix remaining broken anchors
  docs/wiki/guides/current/BBE-Power-Spectral-Density-charts.md
  docs/wiki/guides/current/Black-Box-logging-and-usage.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Flying-Tips.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/guides/current/PID-Tuning-Guide.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/tuning/4-3-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Fix: Address SonarCloud issues
  docusaurus.config.mjs
  src/components/VersionInfo/VersionInfo.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Address another SonarCloud issue
  docusaurus.config.mjs
Due: none

CR Fix: "Lock anchor with explicit ID and update intra-doc link"
  docs/wiki/boards/legacy/CRAZYBEEF3FR.md
  docs/wiki/boards/legacy/CRAZYBEEF3FS.md
Due: prettier --write --ignore-unknown

CR Fix: "Fix trailing hyphen in FAQ ToC anchor"
  docs/wiki/guides/current/FAQ.md
Due: prettier --write --ignore-unknown

Revert "CR Fix: "Fix trailing hyphen in FAQ ToC anchor""
  docs/wiki/guides/current/FAQ.md
Due: prettier --write --ignore-unknown

CR Fix: "Defensive access in sidebarItemsGenerator"
  docusaurus.config.mjs
Due: none

Correct AI suggestion
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Update Cloud Build API (#566)
  docs/development/API/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Refactor: Update Docusaurus from 3.0.1 to 3.8.1, clean up build warnings/errors (#567)
  docs/development/API/Cloud-Build-API.md
  docs/development/building/Building-in-Ubuntu.md
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_Layout.jpg
  docs/wiki/boards/legacy/CRAZYBEEF3FR.md
  docs/wiki/boards/legacy/CRAZYBEEF3FS.md
  docs/wiki/configurator/firmware-flasher-tab.md
  docs/wiki/configurator/pid-tuning-tab.mdx
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/archive/wiki-welcome-old.md
  docs/wiki/guides/current/BBE-Power-Spectral-Density-charts.md
  docs/wiki/guides/current/Barometer.md
  docs/wiki/guides/current/Black-Box-logging-and-usage.md
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
  docs/wiki/guides/current/ESC-Telemetry.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Flying-Tips.md
  docs/wiki/guides/current/Freestyle-Tuning-Principles.md
  docs/wiki/guides/current/Hardware-Reference.md
  docs/wiki/guides/current/PID-Tuning-Guide.md
  docs/wiki/guides/current/SoftSerial.md
  docs/wiki/guides/current/VTX-CLI-Settings.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/tuning/4-2-Tuning-Notes.md
  docs/wiki/tuning/4-3-Tuning-Notes.md
  docusaurus.config.mjs
  package-lock.json
  package.json
  src/components/SpecGrid/index.tsx
  src/components/VersionInfo/VersionInfo.tsx
  src/theme/DocCard/index.js
  src/theme/DocItem/Layout/index.js
  src/theme/DocItem/Metadata/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Upgrade node
  .github/workflows/check_pr.yaml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yaml
Due: none
