Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Content: Add BRAHMA_F405
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-2x-4in1-ESC-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-4in1-ESC-connector-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-4in1-ESC-soldering-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-8x-ESC-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-layout.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-poster.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-top-bottom.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Remove Github Pages deployment
  .github/workflows/docs.yaml
Due: none

Remove Github Pages deployment (#401)
  .github/workflows/docs.yaml
Due: none

Content Fix: Typo, cleanup, upload more manufacturer media
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-4in1-ESC-connector-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-bottom.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-top.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add BRAHMA_F405 (#400)
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-2x-4in1-ESC-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-4in1-ESC-connector-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-4in1-ESC-soldering-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-8x-ESC-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-bottom.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-diagram.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-layout.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-poster.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405-top.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405-images/BRAHMA_F405.jpg
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

mag cal note update
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

updates from review
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

mag cal note update (#404)
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

Partner Update
  docs/development/manufacturer/approved-partner-program.md
  docs/relations/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update partner.mdx
  docs/relations/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Further Tweaks
  docs/development/manufacturer/approved-partner-program.md
  docs/relations/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Renamed File
  docs/development/manufacturer/partner-program.md
  docs/relations/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fetch sponsor banner from BF server
  src/components/Home/index.tsx
  src/components/Sponsors/Sponsors.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Change themeInvert to invertable
  docs/development/API/Dshot.mdx
  docs/development/manufacturer/connector-standard.md
  docs/relations/sponsors.mdx
  src/css/custom.css
  src/theme/Footer/Layout/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Use DOMPurify to sanitize response
  package-lock.json
  package.json
  src/components/Sponsors/Sponsors.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Partner Page Updates (#405)
  docs/development/manufacturer/partner-program.md
  docs/relations/partner.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fetch sponsor banner from BF server (#406)
  docs/development/API/Dshot.mdx
  docs/development/manufacturer/connector-standard.md
  docs/relations/sponsors.mdx
  package-lock.json
  package.json
  src/components/Home/index.tsx
  src/components/Sponsors/Sponsors.tsx
  src/css/custom.css
  src/theme/Footer/Layout/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update development.md
  docs/development/development.md
Due: prettier --write --ignore-unknown

Cache server response
  src/components/Sponsors/Sponsors.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix infinite fetch loop
  src/components/Sponsors/Sponsors.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix infinite fetch loop (#409)
  src/components/Sponsors/Sponsors.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

add 10s cycle to sponsors, optimized some stylings
  src/components/Sponsors/Sponsors.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update development.md (#408)
  docs/development/development.md
Due: prettier --write --ignore-unknown

Update download page
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Spaces missing
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update download page (#411)
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

suggested changes + transition effect
  src/components/Sponsors/Sponsors.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

30 seconds cycle
  src/components/Sponsors/Sponsors.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Cycle Sponsor Logos and Optimize Styling (#410)
  src/components/Sponsors/Sponsors.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update softserial.md for smartport override
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Thanks nerdCopter
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Update softserial.md for smartport override (#413)
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

slightly more space between logos
  src/components/Sponsors/Sponsors.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

More space between sponsor logos (#414)
  src/components/Sponsors/Sponsors.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

RN 4.5: if you're using software that expects gyro_scaled, then set it as usual.
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

small Angle Mode notes change
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

small Angle Mode notes change (#416)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

RN 4.5, BBE/gyro_scaled verbiage (#415)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Update Firmware flashing page
  docs/wiki/configurator/firmware-flasher-tab.md
  static/img/betaflight_configurator_firmware_flasher_basic.png
Due: prettier --write --ignore-unknown
