Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Typo fix and LED Strip descriptions
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Typo fix and LED Strip descriptions (#306)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

fix led strip link
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

copy sponsors.md into pages to provide a link
  src/pages/sponsors.md
Due: prettier --write --ignore-unknown

Copy sponsors.md into pages directory, to provide a link for Configurator (#308)
  src/pages/sponsors.md
Due: prettier --write --ignore-unknown

styling and text update for downloads and stats pages
  src/components/AboutCard/index.tsx
  src/components/HomepageFeature/index.tsx
  src/pages/download.tsx
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

commends from reviews, remove spaces and group code into blocks
  src/pages/download.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

subtle react changes for smaller screens
  src/components/HomepageFeature/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add ESC firmware version tables and more information
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

fix led strip link (#307)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Update cloud build API documentation
  docs/development/api/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Styling and text update for downloads page (#311)
  src/components/AboutCard/index.tsx
  src/components/HomepageFeature/index.tsx
  src/pages/download.tsx
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update mode tab with categories and new modes
  docs/development/Modes.md
  docs/wiki/configurator/auxiliary-tab.md
Due: prettier --write --ignore-unknown

Make logos adapt to color theme
  docs/development/manufacturer/manufacturer-design-guidelines.mdx
  docs/relations/partner.mdx
  docs/relations/sponsors.mdx
  src/components/Home/index.tsx
  src/css/custom.css
  src/pages/sponsors.md
  static/img/betaflight/sponsors/axisflying_light.svg
  static/img/betaflight/sponsors/hqprop.svg
  static/img/betaflight/sponsors/radiomaster-logo.jpg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add ESC firmware version tables and more information (#312)
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

Add hardware section to getting started, move ESC info
  docs/wiki/getting-started/hardware/esc.md
  docs/wiki/getting-started/hardware/index.md
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

2xl for smaller screens, 3xl above medium
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace hardware page with subfolder
  docs/wiki/getting-started/hardware.md
Due: prettier --write --ignore-unknown

Standardised spelling as Dshot and added EDT v1/v2 details
  docs/wiki/getting-started/hardware/esc.md
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

Update headings in ESC page
  docs/wiki/getting-started/hardware/esc.md
Due: prettier --write --ignore-unknown

Add BLHeli-S version list, paragraph spacing
  docs/wiki/getting-started/hardware/esc.md
Due: prettier --write --ignore-unknown

Remove recommendation for older BLHeli_32 versions
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

Fix table of bidirectional dshot config snippets
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

Fix Logo size and positioning
  docs/development/manufacturer/manufacturer-design-guidelines.mdx
  docs/relations/partner.mdx
  docs/relations/sponsors.mdx
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update remark-math and rehype-katex
  docs/development/mdx-reference.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Changes suggested by ctzsnoose
  docs/wiki/getting-started/hardware/esc-firmware.md
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

Fix capitalization
  static/img/betaflight/sponsors/axisflying_dark.svg
Due: none

Update Katex (#318)
  docs/development/mdx-reference.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Correct dshot spelling
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown

ConnectorLogo adapt to color theme
  docs/development/manufacturer/connector-standard.md
Due: prettier --write --ignore-unknown

re-add sponsors page
  docs/relations/sponsors.mdx
  src/pages/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update cloud build API documentation (#313)
  docs/development/api/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Make Logos Adapt to Color Theme (#315)
  docs/development/manufacturer/connector-standard.md
  docs/development/manufacturer/manufacturer-design-guidelines.mdx
  docs/relations/partner.mdx
  docs/relations/sponsors.mdx
  src/components/Home/index.tsx
  src/css/custom.css
  src/pages/sponsors.md
  src/pages/sponsors.mdx
  static/img/betaflight/sponsors/Axisflying_dark.svg
  static/img/betaflight/sponsors/axisflying_dark.svg
  static/img/betaflight/sponsors/axisflying_light.svg
  static/img/betaflight/sponsors/hqprop.svg
  static/img/betaflight/sponsors/radiomaster-logo.jpg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update mode tab with categories and new modes (#314)
  docs/development/Modes.md
  docs/wiki/configurator/auxiliary-tab.md
Due: prettier --write --ignore-unknown

Cleanup auxiliary-tab.md
  docs/wiki/configurator/auxiliary-tab.md
Due: prettier --write --ignore-unknown

fix magnetometer page typos
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

fix magnetometer stick command verbiage for mode 2
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

Add hardware section to getting started, move ESC info (#316)
  docs/wiki/getting-started/hardware/esc-firmware.md
  docs/wiki/getting-started/hardware/index.md
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/current/DSHOT-RPM-Filtering.md
Due: prettier --write --ignore-unknown
