Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Axis Images
  static/img/betaflight/sponsors/AE2207.jpeg
  static/img/betaflight/sponsors/AxisSupafly.jpeg
Due: none

Rename AE2207.jpeg to AE2207.jpg
  static/img/betaflight/sponsors/AE2207.jpg
  static/img/betaflight/sponsors/Axis AF227 Motors.jpg
  static/img/betaflight/sponsors/AxisSupafly.jpeg
  static/img/betaflight/sponsors/Axisflying_dark.svg
Due: none

Remove Axis Light File
  static/img/Axisflying_light.svg
Due: none

Fresh Commit - Axis Sponsorship
  docs/relations/sponsors.md
  static/img/betaflight/sponsors/AE2207.jpg
  static/img/betaflight/sponsors/AxisSupafly.jpg
  static/img/betaflight/sponsors/Axisflying_dark.svg
Due: prettier --write --ignore-unknown

Feature: Add GT and LT version labels
  src/components/VersionInfo/VersionInfo.tsx
  src/theme/DocItem/Layout/index.js
  src/theme/DocItem/Layout/styles.module.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

HQProp Outline
  static/img/betaflight/sponsors/hqprop.svg
Due: none

Improved HQProp Logo
  static/img/betaflight/sponsors/hqprop.svg
Due: none

Axis Sponsorship (#277)
  docs/relations/sponsors.md
  static/img/betaflight/sponsors/AE2207.jpg
  static/img/betaflight/sponsors/AxisSupafly.jpg
  static/img/betaflight/sponsors/Axisflying_dark.svg
  static/img/betaflight/sponsors/hqprop.svg
Due: prettier --write --ignore-unknown

Feature: Display version difference warning
  package-lock.json
  package.json
  src/components/VersionInfo/VersionInfo.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update VersionInfo.tsx
  src/components/VersionInfo/VersionInfo.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Links for Devs
  src/json/team.json
Due: prettier --write --ignore-unknown

Add Links 4 Devs (#280)
  src/json/team.json
Due: prettier --write --ignore-unknown

tidy up the introduction document
  docs/wiki/getting-started/index.md
Due: prettier --write --ignore-unknown

getting started shows first document automatically
  docs/wiki/getting-started/_category_.json
  docs/wiki/getting-started/index.md
Due: prettier --write --ignore-unknown

fix moving old failsafe.md to wiki guides archive.
  docs/development/Cli.md
  docs/development/Getting-Started.md
  docs/wiki/configurator/cli-tab.md
Due: prettier --write --ignore-unknown

update the Failsafe.md file, move older to archive, improve guide intro
  docs/development/Cli.md
  docs/development/Getting-Started.md
  docs/wiki/configurator/cli-tab.md
  docs/wiki/guides/archive/Failsafe-Before-4.3.md
  docs/wiki/guides/archive/GPS-Rescue-Mode.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Failsafe.md
  docs/wiki/guides/index.md
Due: prettier --write --ignore-unknown

Fix Configurator tabs and remove duplication of CLI information
  docs/development/Cli.md
  docs/wiki/configurator/adjustments-tab.md
  docs/wiki/configurator/blackbox-tab.md
  docs/wiki/configurator/cli-tab.md
  docs/wiki/configurator/failsafe-tab.md
  docs/wiki/configurator/gps-tab.md
  docs/wiki/configurator/led-strip-tab.md
  docs/wiki/configurator/pid-tuning-tab.md
  docs/wiki/configurator/sensors-tab.md
  docs/wiki/configurator/tethered-logging-tab.md
  docs/wiki/configurator/todo/adjustments-tab.md
  docs/wiki/configurator/todo/failsafe-tab.md
  docs/wiki/configurator/todo/gps-tab.md
  docs/wiki/configurator/todo/led-strip-tab.md
  docs/wiki/configurator/todo/logging-tab.md
  docs/wiki/configurator/todo/onboard-logging-tab.md
  docs/wiki/configurator/todo/pid-tuning-tab.md
  docs/wiki/configurator/todo/sensors-tab.md
  docs/wiki/configurator/todo/transponder-tab.md
  docs/wiki/configurator/todo/vtx-tab.md
  docs/wiki/configurator/transponder-tab.md
  docs/wiki/configurator/vtx-tab.md
  docs/wiki/guides/current/VTX-CLI-Settings.md
Due: prettier --write --ignore-unknown

Feature: Add GT and LT version labels (#276)
  package-lock.json
  package.json
  src/components/VersionInfo/VersionInfo.tsx
  src/theme/DocItem/Layout/index.js
  src/theme/DocItem/Layout/styles.module.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix link failure due to moving old failsafe.md to wiki guides archive. (#278)
  docs/development/Cli.md
  docs/development/Getting-Started.md
  docs/wiki/configurator/adjustments-tab.md
  docs/wiki/configurator/blackbox-tab.md
  docs/wiki/configurator/cli-tab.md
  docs/wiki/configurator/failsafe-tab.md
  docs/wiki/configurator/gps-tab.md
  docs/wiki/configurator/led-strip-tab.md
  docs/wiki/configurator/pid-tuning-tab.md
  docs/wiki/configurator/sensors-tab.md
  docs/wiki/configurator/tethered-logging-tab.md
  docs/wiki/configurator/todo/adjustments-tab.md
  docs/wiki/configurator/todo/failsafe-tab.md
  docs/wiki/configurator/todo/gps-tab.md
  docs/wiki/configurator/todo/led-strip-tab.md
  docs/wiki/configurator/todo/logging-tab.md
  docs/wiki/configurator/todo/onboard-logging-tab.md
  docs/wiki/configurator/todo/pid-tuning-tab.md
  docs/wiki/configurator/todo/sensors-tab.md
  docs/wiki/configurator/todo/transponder-tab.md
  docs/wiki/configurator/todo/vtx-tab.md
  docs/wiki/configurator/transponder-tab.md
  docs/wiki/configurator/vtx-tab.md
  docs/wiki/getting-started/_category_.json
  docs/wiki/getting-started/index.md
  docs/wiki/getting-started/introduction.md
  docs/wiki/guides/archive/Failsafe-Before-4.3.md
  docs/wiki/guides/archive/GPS-Rescue-Mode.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Failsafe.md
  docs/wiki/guides/current/VTX-CLI-Settings.md
  docs/wiki/guides/index.md
Due: prettier --write --ignore-unknown

Update Nodejs to 20.10 (#260)
  package.json
Due: prettier --write --ignore-unknown

Jan Link
  src/json/team.json
Due: prettier --write --ignore-unknown

Homepage links (#282)
  src/json/team.json
Due: prettier --write --ignore-unknown

drop shadow simplification
  docs/wiki/guides/current/Magnetometer.md
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown

getting started shows first document automatically
  docs/wiki/getting-started/index.md
Due: prettier --write --ignore-unknown

fix green color in flowchart boxes
  docs/wiki/getting-started/index.md
Due: prettier --write --ignore-unknown

fix links, images, re-rame some things
  docs/development/Git.md
  docs/development/Profiles.md
  docs/development/Signal-Flow-Diagram.md
  docs/development/building/Known-Build-Environment-Problems.md
  docs/development/development.md
  docs/development/manufacturer/creating-configuration.md
  docs/development/mdx-reference.md
  docs/wiki/guides/archive/GPS-Rescue-Mode.md
  docs/wiki/guides/current/Mass-Storage-Device-Support.md
  docs/wiki/guides/current/Single-wire-FlySky-IBus-telemetry.md
Due: prettier --write --ignore-unknown

Add GitHub username links
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docusaurus.config.js
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Give getting started a default index page, and update it a little (#281)
  docs/wiki/getting-started/index.md
Due: prettier --write --ignore-unknown

Update docs/wiki/guides/archive/GPS-Rescue-Mode.md
  docs/wiki/guides/archive/GPS-Rescue-Mode.md
Due: prettier --write --ignore-unknown

More link fixes, fix flow images, re-rame mdx to md, other fixes (#284)
  docs/development/Git.md
  docs/development/Profiles.md
  docs/development/Signal-Flow-Diagram.md
  docs/development/building/Known-Build-Environment-Problems.md
  docs/development/development.md
  docs/development/manufacturer/creating-configuration.md
  docs/development/mdx-reference.md
  docs/wiki/guides/archive/GPS-Rescue-Mode.md
  docs/wiki/guides/current/Mass-Storage-Device-Support.md
  docs/wiki/guides/current/Single-wire-FlySky-IBus-telemetry.md
Due: prettier --write --ignore-unknown

drop shadow simplification, margin around image (#283)
  docs/wiki/guides/current/Magnetometer.md
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown

Add GitHub username links (#279)
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docusaurus.config.js
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

link fixes, sorry
  docs/development/Customized-Version.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/wiki/boards/MOTOLAB.md
Due: prettier --write --ignore-unknown

yet more link fixes, sorry (#286)
  docs/development/Customized-Version.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/wiki/boards/MOTOLAB.md
Due: prettier --write --ignore-unknown

Style Fix: Use consistent borders for clusters and nodes
  src/css/mermaid.scss
Due: none

Style Fix: Use consistent borders for clusters and nodes (#287)
  src/css/mermaid.scss
Due: none

annotate colours so we know what they are
  tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

reduce code font to sm adjust padding
  src/css/tailwind.scss
Due: none

change default text orange to one shade darker
  docs/relations/partner.md
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/RecentPosts/index.tsx
  src/components/Team/index.tsx
  src/css/mermaid.scss
  src/css/tailwind.scss
  src/pages/download.tsx
  src/pages/stats.tsx
  src/theme/Footer/Links/MultiColumn/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

minor notes
  docs/development/mdx-reference.md
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
