Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Update Dshot.md
  docs/development/API/Dshot.md
Due: prettier --write --ignore-unknown

Fix double <br>
  docs/development/API/Dshot.md
Due: prettier --write --ignore-unknown

Missed two more line breaks
  docs/development/API/Dshot.md
Due: prettier --write --ignore-unknown

Update docs/development/API/Dshot.md
  docs/development/API/Dshot.md
Due: prettier --write --ignore-unknown

Added a link to PR that renamed TPA low CLI variables
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

fix dogcom links
  docs/relations/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update sponsors.mdx
  docs/relations/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update index.tsx
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix some links
  docs/wiki/guides/current/HID-Joystick-Support.md
  docs/wiki/guides/current/Multirotor-Spazzing-Out.md
  static/img/betaflight/quad_x.svg
Due: prettier --write --ignore-unknown

Update Dshot.md (#357)
  docs/development/API/Dshot.md
  docs/development/API/dshot_bit.webp
Due: prettier --write --ignore-unknown

change dogcom web address (#358)
  docs/relations/sponsors.mdx
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

fix some links (#359)
  docs/wiki/guides/current/HID-Joystick-Support.md
  docs/wiki/guides/current/Multirotor-Spazzing-Out.md
  static/img/betaflight/quad_x.svg
Due: prettier --write --ignore-unknown

Fix TPA_LOW names in 4.5 release notes (#354)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Update sponsors.mdx (#360)
  docs/relations/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Dshot.md (#361)
  docs/development/API/Dshot.md
Due: prettier --write --ignore-unknown

Content: Add FC doc template and example
  docs/development/manufacturer/fc_documentation/_category_.json
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: multi-line comments no longer prevent builds
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content Fix: Update feature set lists
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-bottom.png
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-diagram.png
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-top-angle.webp
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-top.png
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Update template file
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
Due: none

Fix: Log fail reason and only check 1st level headings
  tools/check_title_case.mjs
Due: none

Fix: Broader search pattern for file name check
  tools/check_file_names.mjs
Due: none

Refactor: Add combined check command
  package.json
  tools/check_title_case.mjs
Due: prettier --write --ignore-unknown

Fix header spacing
  src/css/tailwind.scss
Due: none

Fix footer logo
  src/icons/logo.svg
  src/theme/Footer/Layout/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix MDX reference
  docs/development/mdx-reference.md
Due: prettier --write --ignore-unknown

Fix mermaid colors
  src/css/mermaid.scss
Due: none

Remove shadow and round edges from images
  src/css/tailwind.scss
Due: none

Content: Add FC doc template and example (#305)
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-bottom.png
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-diagram.png
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-top-angle.webp
  docs/development/manufacturer/fc_documentation/AIRBOTSUPERF4-images/AIRBOTSUPERF4-top.png
  docs/development/manufacturer/fc_documentation/_category_.json
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix minor styling issues (#362)
  docs/development/mdx-reference.md
  src/css/mermaid.scss
  src/css/tailwind.scss
  src/icons/logo.svg
  src/theme/Footer/Layout/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix DShot doc
  docs/development/API/Dshot.mdx
  static/img/dshot/dshot_bit.webp
  static/img/dshot/dshot_frame-inverted.webp
  static/img/dshot/dshot_frame.webp
  static/img/dshot/dshot_gcr-optimized.webp
  static/img/dshot/dshot_gcr.webp
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add BLHeli description
  docs/development/Dshot.md
Due: prettier --write --ignore-unknown

Fix DShot documentation styling (#363)
  docs/development/API/Dshot.mdx
  static/img/dshot/dshot_bit.webp
  static/img/dshot/dshot_frame-inverted.webp
  static/img/dshot/dshot_frame.webp
  static/img/dshot/dshot_gcr-optimized.webp
  static/img/dshot/dshot_gcr.webp
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs
