Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Cover the Betaflight App's location, map and airspace services
  src/pages/privacy.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

ADRC docs: add Quick Start guide, update CLI reference and mechanisms
  docs/wiki/guides/current/ADRC.md
  static/img/adrc/plant-fit-example.png
Due: prettier --write --ignore-unknown

Cover the iOS app, accounts and deletion in the privacy policy (#779)
  src/pages/privacy.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Address PR review: scope config maintenance to non-Legacy boards, limit acceptance claim to new boards, add bug path for boards not in the flasher
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/betaflight-supported.mdx
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/getting-started/hardware-support.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs: add hardware policy and hardware support pages (#778)
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/betaflight-supported.mdx
  docs/development/manufacturer/config-target-guidance.mdx
  docs/development/manufacturer/connector-standard.mdx
  docs/development/manufacturer/creating-configuration.md
  docs/development/manufacturer/hardware-policy.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/manufacturer.md
  docs/development/manufacturer/partner-program.mdx
  docs/development/manufacturer/requirements-for-submission-of-targets.md
  docs/wiki/app/firmware-flasher-tab.md
  docs/wiki/getting-started/hardware-support.md
  docs/wiki/getting-started/index.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/Hardware-Reference.md
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

ADRC docs: address review wording (wc/wo ratio, b0)
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

docs: avoid count wording and add /support short link
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/hardware-policy.md
  docs/wiki/getting-started/hardware-support.md
  docs/wiki/getting-started/index.md
  src/components/Home/index.tsx
  static/_redirects
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: drop hard-coded board and manufacturer counts
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/hardware-policy.md
  docs/wiki/getting-started/hardware-support.md
  docs/wiki/getting-started/index.md
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: add /hardware short link to the hardware policy
  static/_redirects
Due: none

docs: add /support and /hardware short links, drop hard-coded board counts (#780)
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/hardware-policy.md
  docs/wiki/getting-started/hardware-support.md
  docs/wiki/getting-started/index.md
  src/components/Home/index.tsx
  static/_redirects
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: add a support page with account deletion steps
  CLAUDE.md
  src/pages/privacy.tsx
  src/pages/support.tsx
  static/_redirects
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: list postal address and country in the account data on both pages
  src/pages/privacy.tsx
  src/pages/support.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: add a support page with account deletion steps (#781)
  CLAUDE.md
  src/pages/privacy.tsx
  src/pages/support.tsx
  static/_redirects
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

ADRC docs: update quick start for the plant fit tool's Proposed wc input
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Add Radar guide (FormationFlight / INAV-Radar modules)
  docs/wiki/guides/current/Radar.md
Due: prettier --write --ignore-unknown

blog: make the hardware policy motto one sentence
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
Due: prettier --write --ignore-unknown

docs: require written permission for Betaflight logos, verified adherence for the connector logo
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/connector-standard.mdx
  docs/development/manufacturer/hardware-policy.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

blog: make the hardware policy motto one sentence (#786)
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
Due: prettier --write --ignore-unknown

docs: clarify use of the Betaflight logos (#787)
  blog/2026/09/28/who-supports-what-betaflights-hardware-policy.md
  docs/development/manufacturer/connector-standard.mdx
  docs/development/manufacturer/hardware-policy.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

blog: Betaflight for iOS public beta
  blog/2026/10/10/betaflight-for-ios-public-beta.md
  static/img/ios-app/conditions.png
  static/img/ios-app/gps.png
  static/img/ios-app/header.jpg
  static/img/ios-app/preflight.png
  static/img/ios-app/tune.png
Due: prettier --write --ignore-unknown

blog: lay iOS screenshots out side by side
  blog/2026/10/10/betaflight-for-ios-public-beta.md
Due: prettier --write --ignore-unknown

blog: correct iOS beta availability and Conditions verdict
  blog/2026/10/10/betaflight-for-ios-public-beta.md
Due: prettier --write --ignore-unknown

blog: Betaflight for iOS public beta (#788)
  blog/2026/10/10/betaflight-for-ios-public-beta.md
  static/img/ios-app/conditions.png
  static/img/ios-app/gps.png
  static/img/ios-app/header.jpg
  static/img/ios-app/preflight.png
  static/img/ios-app/tune.png
Due: prettier --write --ignore-unknown

home: show latest blog posts as news cards
  src/components/Home/index.tsx
  src/components/RecentPosts/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js
