Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Update docs/wiki/guides/current/Magnetometer.md
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

SITL 4.6 websocket requirement
  docs/development/SITL.md
Due: prettier --write --ignore-unknown

SITL 4.6 websocket requirement (#475)
  docs/development/SITL.md
Due: prettier --write --ignore-unknown

Update MCU requirements
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update change register and deprecate F411
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update table
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Add SKYSAKURAH743 board to the wiki
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_TOP.JPG
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bot.JPG
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bot_P.JPG
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bottom.png
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_pit.JPG
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_powerB.JPG
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_powerT.JPG
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_top.png
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/Wiring_diagram.png
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update MCU requirements (#477)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Content: Simplify info, rename flash prop to storage for wider application
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Style: Fix info grid responsivness
  src/components/SpecGrid/SpecBox.tsx
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Style: Further compacting
  src/components/SpecGrid/SpecBox.tsx
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Content: Remove redundant text
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Style: Fix info grid responsiveness, simplify info props (#480)
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  src/components/SpecGrid/SpecBox.tsx
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add FLYSPARKF4
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-top-angle.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-top.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-wiring-diagram-2.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-wiring-diagram.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Update following new changes
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Use updated prop name
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Fix automatically added stray escape chars
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Use single-line comments
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add FLYSPARKF4 (#481)
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-top-angle.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-top.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-wiring-diagram-2.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4-images/FLYSPARKF4-wiring-diagram.png
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Use uppercase JPG filetypes
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Use lowercase filetypes instead
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_TOP.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bot.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bot_P.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_pit.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_powerB.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_powerT.jpg
Due: none

Content: Netlify one again requires consistent case
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add SKYSAKURAH743 board to the wiki (#478)
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_TOP.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bot.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bot_P.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_bottom.png
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_pit.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_powerB.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_powerT.jpg
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/SkySakuraH743_top.png
  docs/wiki/boards/current/SAKURAH743/SAKURAH743-images/Wiring_diagram.png
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add target name descriptions
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Update doc creation guide
  docs/development/manufacturer/fc_documentation/how-to-create-board-documentation.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update docs/development/manufacturer/fc_documentation/how-to-create-board-documentation.mdx
  docs/development/manufacturer/fc_documentation/how-to-create-board-documentation.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add target name descriptions, update doc creation guide (#482)
  docs/development/manufacturer/fc_documentation/fc-doc-template.mdx.template
  docs/development/manufacturer/fc_documentation/how-to-create-board-documentation.mdx
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
  docs/wiki/boards/current/BRAHMA_F405/BRAHMA_F405.mdx
  docs/wiki/boards/current/FLYSPARKF4/FLYSPARKF4.mdx
  docs/wiki/boards/current/SAKURAH743/SAKURAH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update pinio
  docs/wiki/guides/current/Pinio-and-PinioBox.md
Due: prettier --write --ignore-unknown

Update pinio (#483)
  docs/wiki/guides/current/Pinio-and-PinioBox.md
Due: prettier --write --ignore-unknown

Added ORBITF435 docs
  docs/wiki/boards/current/ORBITF405/ORBITF405-images/OrbitF405_Layout.jpg
  docs/wiki/boards/current/ORBITF405/ORBITF405-images/OrbitF405_Top.jpg
  docs/wiki/boards/current/ORBITF405/ORBITF405.mdx
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_1.jpg
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_Layout.jpg
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_Top_Bottom.jpg
  docs/wiki/boards/current/ORBITF435/ORBITF435.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

ORBITF435 Flight Controller Docs. (#484)
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_1.jpg
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_Layout.jpg
  docs/wiki/boards/current/ORBITF435/ORBITF435-images/ORBITF435_Top_Bottom.jpg
  docs/wiki/boards/current/ORBITF435/ORBITF435.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add warning for led pin resources
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Add warning for led pin resources (#485)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Fix formula
  docs/wiki/configurator/power-tab.md
Due: prettier --write --ignore-unknown

Revision
  docs/wiki/configurator/power-tab.md
Due: prettier --write --ignore-unknown

spellcheck
  docs/development/Inflight-Adjustments.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/release/older/Betaflight-3-4-Release-Notes.md
Due: prettier --write --ignore-unknown

spellcheck
  docs/development/manufacturer/fc_documentation/fc-doc-example.mdx
  docs/wiki/boards/current/AIRBOTG4AIO/AIRBOTG4AIO.mdx
  docs/wiki/boards/current/AIRBOTSUPERF4/AIRBOTSUPERF4.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs
