Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"],
    "**/*.mdx": ["node tools/check_file_names.mjs", "node tools/check_title_case.mjs"],
    "tools/team_generation.mjs": ["node tools/team_generation.mjs"]
}

Add configuration details
  docs/manufacturer/crearing-configuration.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix table (#215)
  docs/development/Gps.md
Due: prettier --write --ignore-unknown

Update manufacturer-design-guidelines.mdx (#217)
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Serial.md (#216)
  docs/development/Serial.md
Due: prettier --write --ignore-unknown

Add gps rescue notes for 4.5
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Add DFU hijack warning to manufacturer guidelines
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add DFU hijack warning to manufacturer guidelines (#208)
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

update betaflight-configurator hyperlink
  docs/wiki/getting-started/setup-guide.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

review suggestions
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

fix setup guide betaflight configurator link (#220)
  docs/wiki/getting-started/setup-guide.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

update NMEA notes debug info and minor fixes
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Add gps rescue notes for 4.5 (#219)
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

fix the WARNING sign covering the next two sections
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

fix the WARNING sign covering the next two sections (#221)
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Magetometer info for 4.6
  docs/wiki/archive/Magnetometer-v4-6.md
  docs/wiki/images/MagOrientationDiagram.png
Due: prettier --write --ignore-unknown

Magnetometer info for 4.6 (#222)
  docs/wiki/archive/Magnetometer-v4-6.md
  docs/wiki/images/MagOrientationDiagram.png
Due: prettier --write --ignore-unknown

fix warning
  docs/wiki/archive/Magnetometer-v4-6.md
Due: prettier --write --ignore-unknown

fix warning sign (#223)
  docs/wiki/archive/Magnetometer-v4-6.md
Due: prettier --write --ignore-unknown

Add configuration details for firmware 4.5 (#218)
  docs/manufacturer/crearing-configuration.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Changes for mag wiki entry
  docs/wiki/archive/Magnetometer-v4-6.md
  static/img/MagOrientationDiagram.png
Due: prettier --write --ignore-unknown

Convert mag wiki file to .mdx
  docs/wiki/archive/Magnetometer.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Document dshot_telemetry_start_margin setting
  docs/development/Dshot.md
Due: prettier --write --ignore-unknown

ctzsnooze changes
  docs/wiki/archive/Magnetometer.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Rename file and explain timer pin map command structure
  docs/manufacturer/creating-configuration.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Explain timer pin map command structure (#227)
  docs/manufacturer/creating-configuration.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update caution as the site is more than 5 days old
  docs/development/development.mdx
  docs/wiki/wiki.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Small changes to magnetometer wiki entry (#225)
  docs/wiki/archive/Magnetometer-v4-6.md
  docs/wiki/archive/Magnetometer.mdx
  static/img/MagOrientationDiagram.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

fix warning and caution
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

update declination and calibration info
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

Update caution as the site is more than 5 days old (#228)
  docs/development/development.mdx
  docs/wiki/wiki.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

change note to danger, thanks Mark
  docs/wiki/archive/Magnetometer.md
Due: prettier --write --ignore-unknown

fix warning and caution (#229)
  docs/wiki/archive/Magnetometer.md
  docs/wiki/archive/Magnetometer.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix auxiliary tab
  docs/wiki/configurator/auxiliary-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix auxiliary tab (#231)
  docs/wiki/configurator/auxiliary-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Put newest release first
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Put newest release first (#233)
  docusaurus.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Uniform release naming
  docs/release/Betaflight-3.0.x-Release-Notes.md
  docs/release/Betaflight-3.1.x-Release-Notes.md
  docs/release/Betaflight-3.2-Release-Notes.md
Due: prettier --write --ignore-unknown

Review fix
  docs/release/Betaflight-3.0-Release-Notes.md
  docs/release/Betaflight-3.1-Release-Notes.md
Due: prettier --write --ignore-unknown

VS Code sucks
  docs/release/Betaflight-3.0-Release-Notes.md
Due: prettier --write --ignore-unknown

Uniform release naming (#234)
  docs/release/Betaflight-3.0-Release-Notes.md
  docs/release/Betaflight-3.1-Release-Notes.md
  docs/release/Betaflight-3.2-Release-Notes.md
Due: prettier --write --ignore-unknown
