Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Update docs/development/Git.md
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Document workflow for handling development branches (#603)
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Fixed lines in github link & added NOT_DISARMED
  docs/wiki/guides/current/Arming-Sequence-And-Safety.md
Due: prettier --write --ignore-unknown

Fixed lines in github link & added NOT_DISARMED (#605)
  docs/wiki/guides/current/Arming-Sequence-And-Safety.md
Due: prettier --write --ignore-unknown

Added ARK FPV board
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_bottom.jpg
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_bottom_con.png
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_top.jpg
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_top_con.png
  docs/wiki/boards/current/ARK_FPV/ARK_FPV.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Added NDAA compliant info
  docs/wiki/boards/current/ARK_FPV/ARK_FPV.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Added fixies for errors in tables
  docs/wiki/boards/current/ARK_FPV/ARK_FPV.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Documentation for ARK FPV Flight controller (#607)
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_bottom.jpg
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_bottom_con.png
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_top.jpg
  docs/wiki/boards/current/ARK_FPV/ARK_FPV-images/ark_fpv_top_con.png
  docs/wiki/boards/current/ARK_FPV/ARK_FPV.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

UI Fix: Update SpecGrid to space items out properly
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

UI Fix: Update SpecGrid to space items out properly (#608)
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Content: Add AIRBRAINH743 board doc
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-bottom.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-diagram.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-logo.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-pinout-bottom.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-pinout.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-top-angle.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-top.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Fix spelling/grammar
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add AIRBRAINH743 board doc (#609)
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-bottom.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-diagram.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-logo.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-pinout-bottom.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-pinout.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-top-angle.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743-images/AIRBRAINH743-top.png
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add 3 and 4-pin camera connectors
  docs/development/manufacturer/connector-standard.mdx
  static/img/connector_standard/3pin_camera_connector_render.png
  static/img/connector_standard/3pin_camera_connector_schematic.png
  static/img/connector_standard/4pin_camera_connector_render.png
  static/img/connector_standard/4pin_camera_connector_schematic.png
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix Console Errors
  src/components/Layout/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Enable LaTeX rendering in blog plugin
  docusaurus.config.mjs
Due: none

New Font "Inter"
  src/css/custom.css
Due: prettier --write --ignore-unknown

Text styling for clean appearance
  docs/development/mdx-reference.md
  src/components/Home/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Address Coderabbit nitpicks
  docs/development/mdx-reference.mdx
  package-lock.json
  package.json
  src/components/Home/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add text-justify to lists
  src/css/tailwind.scss
Due: none

Fix line break
  docs/development/mdx-reference.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Content: Add 3 and 4-pin camera connectors (#610)
  docs/development/manufacturer/connector-standard.mdx
  static/img/connector_standard/3pin_camera_connector_render.png
  static/img/connector_standard/3pin_camera_connector_schematic.png
  static/img/connector_standard/4pin_camera_connector_render.png
  static/img/connector_standard/4pin_camera_connector_schematic.png
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix header margin and adjust font size
  src/css/tailwind.scss
Due: none

Update Typography (#611)
  docs/development/mdx-reference.mdx
  docusaurus.config.mjs
  package-lock.json
  package.json
  src/components/Home/index.tsx
  src/components/Layout/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add Plot Component
  package-lock.json
  package.json
  src/components/Plot/Config.tsx
  src/components/Plot/Plot.module.css
  src/components/Plot/Plot.tsx
  src/components/Plot/Series.tsx
  src/components/Plot/Tools.tsx
  src/components/Plot/Types.tsx
  src/components/Plot/index.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Documentation
  docs/development/Plot-Component.mdx
  docs/development/mdx-reference.mdx
  static/data/example_noise.csv
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

DOCO: Adding description around our supported development environments.
  docs/development/development.md
Due: prettier --write --ignore-unknown

HOUSEKEEPING: Small adjustment in font size (80%).
  src/components/Home/index.tsx
  src/css/custom.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Code text was a little smaller than desired
  src/css/tailwind.scss
Due: none

Playing with font sizes for code rabbit
  src/components/Home/index.tsx
  src/components/Team/index.tsx
  src/css/custom.css
  src/css/tailwind.scss
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Minor update to cover the cloud build feature for a PR
  docs/development/development.md
Due: prettier --write --ignore-unknown

DOCO: Adding description around our supported development environments. (#613)
  docs/development/development.md
Due: prettier --write --ignore-unknown

Update submodule update instruction
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Update submodule update instruction II
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
