Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Release notes 2025.12 (#579)
  docs/wiki/configurator/_category_.json
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
  docs/wiki/release/Betaflight-3-5-Release-Notes.md
  docs/wiki/release/Betaflight-4-0-Release-Notes.md
  docs/wiki/release/Betaflight-4-1-Release-Notes.md
  docs/wiki/release/Betaflight-4-2-Release-Notes.md
  docs/wiki/release/Betaflight-4-4-Release-Notes.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-0-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-2-Release-Notes.md
  docs/wiki/release/older/Betaflight-3-4-Release-Notes.md
Due: prettier --write --ignore-unknown

Fix link and added missing #
  docs/development/SITL.md
Due: prettier --write --ignore-unknown

Update docs/development/SITL.md
  docs/development/SITL.md
Due: prettier --write --ignore-unknown

Fix link and added missing # (#590)
  docs/development/SITL.md
Due: prettier --write --ignore-unknown

Update on Mavlink
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

Update Mavlink
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
Due: prettier --write --ignore-unknown

docs: 2025.12 CLI command reference
  docs/wiki/guides/current/Betaflight-2025.12-CLI-commands.md
Due: prettier --write --ignore-unknown

nitpick
  docs/wiki/guides/current/Betaflight-2025.12-CLI-commands.md
Due: prettier --write --ignore-unknown

docs: 2025.12 CLI command reference (#593)
  docs/wiki/guides/current/Betaflight-2025.12-CLI-commands.md
Due: prettier --write --ignore-unknown

Update Crash-Recovery.md
  docs/wiki/guides/current/Crash-Recovery.md
Due: prettier --write --ignore-unknown

Update Crash-Recovery.md (#594)
  docs/wiki/guides/current/Crash-Recovery.md
Due: prettier --write --ignore-unknown

GPIO usage clarifications
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update docs/development/manufacturer/manufacturer-design-guidelines.md
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Fix warning text
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Move up submission warning
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Further cleanup
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

AI suggested grammatical improvements
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

GPIO usage clarifications (#595)
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update SoftSerial.md
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Update SoftSerial.md (#597)
  docs/wiki/guides/current/SoftSerial.md
Due: prettier --write --ignore-unknown

Update Sponsors
  docs/sponsors/sponsors.mdx
  static/img/betaflight/sponsors/AE2207.jpg
  static/img/betaflight/sponsors/AxisSupafly.jpg
  static/img/betaflight/sponsors/axisflying_dark.svg
  static/img/betaflight/sponsors/axisflying_light.svg
  static/img/betaflight/sponsors/boslipo_banner.jpg
  static/img/betaflight/sponsors/boslipo_dark.svg
  static/img/betaflight/sponsors/boslipo_light.svg
  static/img/betaflight/sponsors/dogcom_650mah.jpg
  static/img/betaflight/sponsors/dogcom_650mah_vitroid.jpg
  static/img/betaflight/sponsors/dogcom_dark.svg
  static/img/betaflight/sponsors/dogcom_light.svg
  static/img/betaflight/sponsors/mepsking_dark.svg
  static/img/betaflight/sponsors/mepsking_drone.jpg
  static/img/betaflight/sponsors/mepsking_light.svg
  static/img/betaflight/sponsors/mepsking_neon.jpg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Make bunny happy
  docs/sponsors/sponsors.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix resolution
  static/img/betaflight/sponsors/mepsking_drone.jpg
Due: none

Add another one
  docs/sponsors/sponsors.mdx
  static/img/betaflight/sponsors/radiolink_dark.svg
  static/img/betaflight/sponsors/radiolink_drone.jpg
  static/img/betaflight/sponsors/radiolink_fc.jpg
  static/img/betaflight/sponsors/radiolink_light.svg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Sponsors Page (#598)
  docs/sponsors/sponsors.mdx
  static/img/betaflight/sponsors/AE2207.jpg
  static/img/betaflight/sponsors/AxisSupafly.jpg
  static/img/betaflight/sponsors/axisflying_dark.svg
  static/img/betaflight/sponsors/axisflying_light.svg
  static/img/betaflight/sponsors/boslipo_banner.jpg
  static/img/betaflight/sponsors/boslipo_dark.svg
  static/img/betaflight/sponsors/boslipo_light.svg
  static/img/betaflight/sponsors/dogcom_650mah.jpg
  static/img/betaflight/sponsors/dogcom_650mah_vitroid.jpg
  static/img/betaflight/sponsors/dogcom_dark.svg
  static/img/betaflight/sponsors/dogcom_light.svg
  static/img/betaflight/sponsors/mepsking_dark.svg
  static/img/betaflight/sponsors/mepsking_drone.jpg
  static/img/betaflight/sponsors/mepsking_light.svg
  static/img/betaflight/sponsors/mepsking_neon.jpg
  static/img/betaflight/sponsors/radiolink_dark.svg
  static/img/betaflight/sponsors/radiolink_drone.jpg
  static/img/betaflight/sponsors/radiolink_fc.jpg
  static/img/betaflight/sponsors/radiolink_light.svg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix blog entries
  blog/2025/09/01/Calendar Versioning Change.md
  blog/2025/10/10/RP2350 Lands in Betaflight.md
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
  blog/authors.yml
Due: prettier --write --ignore-unknown

Fancy blog entries
  blog/2025/09/01/Calendar Versioning Change.md
  blog/2025/10/10/RP2350 Lands in Betaflight.md
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Update Radiomaster
  docs/sponsors/sponsors.mdx
  static/img/betaflight/sponsors/radiomaster-boxer.jpg
  static/img/betaflight/sponsors/radiomaster_tx15.jpg
  static/img/betaflight/sponsors/radiomaster_tx16.jpg
  static/img/betaflight/sponsors/radiomaster_tx16s.png
  static/img/betaflight/sponsors/radiomaster_tx16s_limon.jpg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Team
  src/json/team.json
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown, node tools/team_generation.mjs

Sponsors: Update Radiomaster (#600)
  docs/sponsors/sponsors.mdx
  static/img/betaflight/sponsors/radiomaster-boxer.jpg
  static/img/betaflight/sponsors/radiomaster_tx15.jpg
  static/img/betaflight/sponsors/radiomaster_tx16.jpg
  static/img/betaflight/sponsors/radiomaster_tx16s.png
  static/img/betaflight/sponsors/radiomaster_tx16s_limon.jpg
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix typos
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Fancy Blog Entries (#599)
  blog/2025/09/01/Calendar Versioning Change.md
  blog/2025/10/10/RP2350 Lands in Betaflight.md
  blog/HQProp - Development Team Sponsor Review.md
  blog/New World Record for Fastest Drone.md
  blog/authors.yml
Due: prettier --write --ignore-unknown

Update Team (#601)
  src/json/team.json
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown, node tools/team_generation.mjs

Document workflow for handling development branches
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Fix link to Git removal guide
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Apply suggestions from code review
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Fix code block formatting and clarify PR workflow
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
