Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Address review feedback (3 comments)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: upgrade brace-expansion to 5.0.7, 1.1.16, 2.1.2 (CVE-2026-13149) (#736)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

docs(building): add X32 DFU udev rules, correct Pico MCU name
  docs/development/building/Building-in-Fedora.md
  docs/development/building/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

docs(building): put udev rule labels on their own lines
  docs/development/building/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

docs(building): fix udev rules that udev discards, add X32, correct Pico MCU name (#739)
  docs/development/building/Building-in-Fedora.md
  docs/development/building/Building-in-Ubuntu.md
Due: prettier --write --ignore-unknown

Fix preview deploy PR lookup for fork PRs (#735)
  .github/workflows/preview-deploy.yml
Due: none

Addressed review comments from #718 review 4775482999.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Decouple ADRC.md from fast-moving external state; soften pid_at_min_throttle safety claim.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Power tab battery profiles
  docs/wiki/app/power-tab.md
Due: prettier --write --ignore-unknown

Add full cell voltage to list
  docs/wiki/app/power-tab.md
Due: prettier --write --ignore-unknown

fix: links to building guides in dev docs
  docs/development/development.md
Due: prettier --write --ignore-unknown

Fix links to building guide pages in developer docs (#741)
  docs/development/development.md
Due: prettier --write --ignore-unknown

Power tab battery profiles (#740)
  docs/wiki/app/power-tab.md
Due: prettier --write --ignore-unknown

docs(blog): drop beta phase from release cadence
  blog/2025/09/01/Calendar Versioning Change.md
Due: prettier --write --ignore-unknown

docs(connector-standard): remove 6-pin GPS connector, move GPS to 4-pin (v2.0)
  docs/development/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Address PR review: zero-pad revision date, fix Y-cable wording
  docs/development/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

docs(blog): drop beta phase from release cadence (#742)
  blog/2025/09/01/Calendar Versioning Change.md
Due: prettier --write --ignore-unknown

Fix: Align Prettier with ESLint on semicolon usage
  .prettierrc.json
Due: prettier --write --ignore-unknown

Lint: Automatic lint fixes
  src/components/SpecGrid/index.tsx
  src/components/Team/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Lint: Manuall lint fixes
  src/components/Button.tsx
  src/components/Home/index.tsx
  src/components/SpecGrid/index.tsx
  src/pages/download.tsx
  src/theme/DocCardList/index.js
  src/theme/Footer/Layout/index.js
  src/theme/SearchBar/DocSearch.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Remove indent from ESLint to align with Prettier in edge cases
  .eslintrc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Format: Manually run Prettier formatting
  src/components/AboutCard/index.tsx
  src/components/Carousel/index.tsx
  src/components/FancyAboutCard/index.tsx
  src/components/HomepageFeature/index.tsx
  src/components/LandingPageFeature/index.tsx
  src/components/Layout/index.tsx
  src/components/Plot/Config.tsx
  src/components/Plot/Plot.tsx
  src/components/Plot/Types.tsx
  src/css/mermaid.scss
  src/css/tailwind.scss
  src/json/team.json
  src/pages/privacy.tsx
  src/pages/sponsors.mdx
  src/pages/stats.tsx
  src/theme/ColorModeToggle/index.js
  src/theme/Footer/LinkItem/index.js
  src/theme/SearchBar/HighlightSearchResults.jsx
  src/theme/SearchBar/index.jsx
  src/theme/SearchBar/lunar-search.js
  src/types/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Address PR review: hyphenate 6-pin and 4-pin modifiers
  docs/development/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Chore: Update Typescript and relevant types/configs/packages
  .eslintrc.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs(connector-standard): remove 6-pin GPS connector, move GPS to 4-pin (v2.0) (#743)
  docs/development/manufacturer/connector-standard.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Improve type-safety
  docusaurus.config.mjs
  src/components/AboutCard/index.tsx
  src/components/Carousel/index.tsx
  src/components/FancyAboutCard/index.tsx
  src/components/Home/index.tsx
  src/components/Plot/Config.tsx
  src/components/RecentPosts/index.tsx
  src/components/SpecGrid/SpecBox.tsx
  src/components/Team/index.tsx
  src/components/VersionInfo/VersionInfo.tsx
  src/pages/download.tsx
  src/pages/stats.tsx
  src/theme/MDXPage/index.js
  src/theme/SearchBar/DocSearch.js
  src/theme/SearchBar/lunar-search.js
  src/theme/SearchBar/utils.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Correct broken links, don't check commented-out content
  docs/development/Git.md
  docs/development/development.md
  docs/wiki/boards/legacy/BETAFLIGHTF3.md
  docs/wiki/guides/archive/wiki-welcome-old.md
  docs/wiki/guides/current/FAQ.md
  docs/wiki/guides/current/USB-Flashing.md
  docs/wiki/release/Betaflight-4-0-Release-Notes.md
  docs/wiki/tuning/4-1-Tuning-Notes.md
  tools/check_links.mjs
Due: prettier --write --ignore-unknown

CR Fix: Optional SpecGrid Children
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

CR Fix: Coerce versions in VersionInfo
  src/components/VersionInfo/VersionInfo.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

CR Fix: Explicit abort in version loading
  src/components/VersionInfo/VersionInfo.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

CR Fix: Consolidate stat loading, add proper error state
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

CR Fix: Use braces in conditionals
  src/theme/SearchBar/lunar-search.js
  tools/check_links.mjs
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Apply suggestions from code review
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Hardware: Scaffold KiCad Project
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_153304.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_153442.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_154226.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_154837.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_154846.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155300.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155317.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155321.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155356.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155406.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155607.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155630.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155753.zip
  src/hardware/connector-standard/kicad/connector-standard-backups/connector-standard-2026-08-03_155817.zip
  src/hardware/connector-standard/kicad/connector-standard.kicad_pcb
  src/hardware/connector-standard/kicad/connector-standard.kicad_prl
  src/hardware/connector-standard/kicad/connector-standard.kicad_pro
  src/hardware/connector-standard/kicad/connector-standard.kicad_sch
  src/hardware/connector-standard/kicad/~connector-standard.kicad_pcb.lck
  src/hardware/connector-standard/kicad/~connector-standard.kicad_sch.lck
Due: none

Feature: Schematic/PCB render automation
  .github/workflows/check-connector-standard.yaml
  .gitignore
  package-lock.json
  package.json
  src/hardware/connector-standard/README.md
  src/hardware/connector-standard/fonts/Geist-Bold.ttf
  src/hardware/connector-standard/fonts/GeistMono-Medium.ttf
  src/hardware/connector-standard/fonts/OFL.txt
  src/hardware/connector-standard/kicad/connector-standard.kicad_pcb
  src/hardware/connector-standard/kicad/connector-standard.kicad_prl
  src/hardware/connector-standard/kicad/connector-standard.kicad_pro
  src/hardware/connector-standard/kicad/~connector-standard.kicad_pcb.lck
  src/hardware/connector-standard/kicad/~connector-standard.kicad_sch.lck
  src/hardware/connector-standard/render-theme.json
  tools/render_connector_standard.mjs
Due: prettier --write --ignore-unknown

Hardware: Re-implement all existing connectors
  src/hardware/connector-standard/kicad/connector-standard.kicad_pcb
  src/hardware/connector-standard/kicad/connector-standard.kicad_prl
  src/hardware/connector-standard/kicad/connector-standard.kicad_pro
  src/hardware/connector-standard/kicad/connector-standard.kicad_sch
Due: none

Hardware Fix: Correct crop region names
  src/hardware/connector-standard/kicad/connector-standard.kicad_pcb
  src/hardware/connector-standard/kicad/connector-standard.kicad_sch
Due: none

Content: Remove previous renders
  static/img/connector_standard/3pin_camera_connector_render.png
  static/img/connector_standard/3pin_camera_connector_schematic.png
  static/img/connector_standard/4pin_camera_connector_render.png
  static/img/connector_standard/4pin_camera_connector_schematic.png
  static/img/connector_standard/analog_vtx_connector_render.png
  static/img/connector_standard/analog_vtx_connector_schematic.png
  static/img/connector_standard/bf_connector_standard.kicad_sch
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
  static/img/connector_standard/camera_connector_render.png
  static/img/connector_standard/camera_connector_schematic.png
  static/img/connector_standard/digital_vtx_connector_render.png
  static/img/connector_standard/digital_vtx_connector_schematic.png
  static/img/connector_standard/esc_connector_render.png
  static/img/connector_standard/esc_connector_schematic.png
  static/img/connector_standard/extended_esc_connector_render.png
  static/img/connector_standard/extended_esc_connector_schematic.png
  static/img/connector_standard/i2c_connector_render.png
  static/img/connector_standard/i2c_connector_schematic.png
  static/img/connector_standard/swd_connector_render.png
  static/img/connector_standard/swd_connector_schematic.png
  static/img/connector_standard/uart_connector_render.png
  static/img/connector_standard/uart_connector_schematic.png
  static/img/connector_standard/uart_i2c_connector_render.png
  static/img/connector_standard/uart_i2c_connector_schematic.png
Due: none

Content: Render media from schematic, update links
  .gitignore
  docs/development/manufacturer/connector-standard.mdx
  docs/wiki/boards/current/AIRBRAINH743/AIRBRAINH743.mdx
  docusaurus.config.mjs
  plugins/connector-schematic-plugin.mjs
  static/img/connector_standard/3_pin_camera_connector_render.png
  static/img/connector_standard/3_pin_camera_connector_schematic.png
  static/img/connector_standard/4_pin_camera_connector_render.png
  static/img/connector_standard/4_pin_camera_connector_schematic.png
  static/img/connector_standard/5_pin_camera_connector_render.png
  static/img/connector_standard/5_pin_camera_connector_schematic.png
  static/img/connector_standard/analog_vtx_connector_render.png
  static/img/connector_standard/analog_vtx_connector_schematic.png
  static/img/connector_standard/bf_connector_standard.pdf
  static/img/connector_standard/bf_connector_standard.svg
  static/img/connector_standard/digital_vtx_connector_render.png
  static/img/connector_standard/digital_vtx_connector_schematic.png
  static/img/connector_standard/esc_connector_render.png
  static/img/connector_standard/esc_connector_schematic.png
  static/img/connector_standard/extended_esc_connector_render.png
  static/img/connector_standard/extended_esc_connector_schematic.png
  static/img/connector_standard/i2c_connector_render.png
  static/img/connector_standard/i2c_connector_schematic.png
  static/img/connector_standard/swd_connector_render.png
  static/img/connector_standard/swd_connector_schematic.png
  static/img/connector_standard/uart_connector_render.png
  static/img/connector_standard/uart_connector_schematic.png
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
