Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,less,css,json}": ["prettier --write --ignore-unknown"]
}

Add modes, OSD content and some newlines (#113)
  docs/configurator/configuration-tab.mdx
  docs/configurator/modes-tab.mdx
  docs/configurator/motors-tab.mdx
  docs/configurator/osd-tab.mdx
  docs/configurator/ports-tab.mdx
  docs/configurator/receiver-tab.mdx
  docs/configurator/servos-tab.mdx
Due: none

Basic CLI page with first draft of settings
  docs/configurator/cli-tab.mdx
Due: none

Basic CLI page with first draft of settings (#114)
  docs/configurator/cli-tab.mdx
Due: none

change team generation to the user who changed it
  .lintstagedrc
  package.json
  team_generation.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

add freasy to team
  .lintstagedrc
  src/json/team.json
  team.json
  team_generation.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix team generation (#116)
  .lintstagedrc
  package.json
  src/json/team.json
  team.json
  team_generation.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added more team members, better styling
  src/components/Team/index.tsx
  team_generation.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

changed team.json
  src/json/team.json
Due: prettier --write --ignore-unknown

Refactoring - Wording and layout changes, images
  docs/configurator/motors-tab.mdx
  docs/configurator/osd-tab.mdx
  docs/configurator/servos-tab.mdx
  static/img/betaflight_configurator_font_manager.png
  static/img/betaflight_configurator_motors_tab.png
  static/img/betaflight_configurator_osd_tab.png
  static/img/betaflight_configurator_servos_tab.png
Due: none

Added members to the team list, better profile styling (#117)
  src/components/Team/index.tsx
  src/json/team.json
  team_generation.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

A blog post on the Record Attempt.
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Grammar correction
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

minor correction (Guiness World Records)
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Refactoring - Wording and layout changes, images (#118)
  docs/configurator/motors-tab.mdx
  docs/configurator/osd-tab.mdx
  docs/configurator/servos-tab.mdx
  static/img/betaflight_configurator_font_manager.png
  static/img/betaflight_configurator_motors_tab.png
  static/img/betaflight_configurator_osd_tab.png
  static/img/betaflight_configurator_servos_tab.png
Due: none

A blog post on the Record Attempt. (#119)
  blog/New World Record for Fastest Drone.md
Due: prettier --write --ignore-unknown

Fix links
  docs/development/Custom Board Configuration.md
  docs/development/development.md
  docs/development/development/Betaflight-Contribution.md
  docs/manufacturer/Manufacturer Design Guidelines.md
  docs/wiki/archive/Current-Sensor-Calibration.md
  docs/wiki/archive/Freestyle---Tuning-Principles.md
  docs/wiki/archive/PID-Tuning-Guide.md
  docs/wiki/archive/Rate-Calculator.md
  docs/wiki/configurator/cli-tab.mdx
  docs/wiki/tuning/4.1-Tuning-Notes.md
Due: prettier --write --ignore-unknown

Fix configurator tabs
  docs/wiki/configurator/onboard-logging-tab.mdx
  docs/wiki/configurator/pid-tuning-tab.mdx
Due: none

Rename ACRO TRAINER to ACRO_TRAINER
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: none

Adding to Authors.yml for blog posts
  blog/authors.yml
Due: none

refactor check tools, add check for file names and title case
  .lintstagedrc
  package-lock.json
  package.json
  tools/check_file_names.mjs
  tools/check_title_case.mjs
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown

fixed path lint staged for team generation
  .lintstagedrc
Due: none

include checks into check pr action
  .github/workflows/check_pr.yaml
Due: none

continue on check errors
  .github/workflows/check_pr.yaml
Due: none

fix exit codes for scripts
  tools/check_file_names.mjs
  tools/check_title_case.mjs
Due: none

use exitcode for bash script
  .github/workflows/check_pr.yaml
Due: none

error out the action if checks or build fails
  .github/workflows/check_pr.yaml
Due: none

typo
  .github/workflows/check_pr.yaml
Due: none

removed unused code
  tools/check_file_names.mjs
Due: none

Update hardware spec
  docs/manufacturer/Manufacturer Design Guidelines.md
Due: prettier --write --ignore-unknown

describe DASHBOARD option
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: none

Update Cloud build API.md
  docs/development/Cloud build API.md
Due: prettier --write --ignore-unknown

Update hardware spec (#126)
  docs/manufacturer/Manufacturer Design Guidelines.md
Due: prettier --write --ignore-unknown

Refactored tools path, added checks for file names and title case in markdown files (#124)
  .github/workflows/check_pr.yaml
  .lintstagedrc
  package-lock.json
  package.json
  tools/check_file_names.mjs
  tools/check_title_case.mjs
  tools/team_generation.mjs
Due: prettier --write --ignore-unknown

describe DASHBOARD option (#128)
  docs/wiki/configurator/firmware-flasher-tab.mdx
Due: none
