Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

Update Cloud-Build-API.md
  docs/development/api/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

Update Betaflight-4-5-Release-Notes.md
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Fix link scheme
  docs/relations/sponsors.mdx
  docs/wiki/boards/KAKUTEH7V2.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix link scheme (#323)
  docs/relations/sponsors.mdx
  docs/wiki/boards/KAKUTEH7V2.md
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update Serial.md
  docs/development/Serial.md
Due: prettier --write --ignore-unknown

Update EzLanding content entry in 4.5 release notes
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

Documentation of how to translate firmware
  docs/development/TranslationOSD.md
  docs/development/development.md
Due: prettier --write --ignore-unknown

Update EzLanding content entry in 4.5 release notes (#325)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

update mag i2c and IST8310 notes
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

Simple PR to make headers one size smaller on small screens (#317)
  src/components/Home/index.tsx
  src/components/HomepageFeature/index.tsx
  src/pages/stats.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Cleanup auxiliary-tab.md (#319)
  docs/wiki/configurator/auxiliary-tab.md
Due: prettier --write --ignore-unknown

Update Betaflight-4-5-Release-Notes.md (#322)
  docs/wiki/release/Betaflight-4-5-Release-Notes.md
Due: prettier --write --ignore-unknown

fix magnetometer page typos (#320)
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

Update mag i2c and IST8310 notes (#327)
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

update TMotorF7 IMU list
  docs/wiki/boards/TMOTORF7.md
Due: prettier --write --ignore-unknown

Adding DG SVG (light and dark versions)
  static/img/betaflight/sponsors/dogcom_dark.svg
  static/img/betaflight/sponsors/dogcom_light.svg
Due: none

Minor updates to background.
  static/img/betaflight/sponsors/dogcom_dark.svg
  static/img/betaflight/sponsors/dogcom_light.svg
Due: none

format git recommendations
  docs/development/Git.md
Due: prettier --write --ignore-unknown

EDT details added to ESC firmware page
  docs/wiki/getting-started/hardware/esc-firmware.md
Due: prettier --write --ignore-unknown

Update docs/wiki/getting-started/hardware/esc-firmware.md
  docs/wiki/getting-started/hardware/esc-firmware.md
Due: prettier --write --ignore-unknown

Adding DogCom SVG (light and dark versions) (#330)
  static/img/betaflight/sponsors/dogcom_dark.svg
  static/img/betaflight/sponsors/dogcom_light.svg
Due: none

EDT details added to ESC firmware page (#332)
  docs/wiki/getting-started/hardware/esc-firmware.md
Due: prettier --write --ignore-unknown

Make SVGs combatible with smartphones
  static/img/betaflight/sponsors/dogcom_dark.svg
  static/img/betaflight/sponsors/dogcom_light.svg
Due: none

Make Dogcom adapt to theme
  docs/relations/sponsors.mdx
  src/components/Home/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Delete old file
  static/img/betaflight/sponsors/dogcom.svg
Due: none

Make Dogcom logo adapt to color theme (#333)
  docs/relations/sponsors.mdx
  src/components/Home/index.tsx
  static/img/betaflight/sponsors/dogcom.svg
  static/img/betaflight/sponsors/dogcom_dark.svg
  static/img/betaflight/sponsors/dogcom_light.svg
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

format git recommendations (#331)
  docs/development/Git.md
Due: prettier --write --ignore-unknown

Update Cloud-Build-API.md (#321)
  docs/development/api/Cloud-Build-API.md
Due: prettier --write --ignore-unknown

restore image links
  docs/wiki/boards/archive/CRAZYBEEF3FR.md
  docs/wiki/boards/archive/CRAZYBEEF3FS.md
  static/img/boards/crazybeef3/CrazyBeeF3FRbottom.jpg
  static/img/boards/crazybeef3/CrazyBeeF3FRtop.png
Due: prettier --write --ignore-unknown

add note about BMP-270 gyro and SPL06 clone of DPS310
  docs/development/manufacturer/manufacturer-design-guidelines.md
Due: prettier --write --ignore-unknown

Update Magnetometer.md (fix typo)
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

fix various board names
  docs/wiki/boards/AIKONF4.md
  docs/wiki/boards/AIRBOTF4FLIP32F4.md
  docs/wiki/boards/APEXF7.md
  docs/wiki/boards/CLRACINGF4.md
  docs/wiki/boards/ELINF405.md
  docs/wiki/boards/ELINF722.md
  docs/wiki/boards/F4BY.md
  docs/wiki/boards/FF_RACEPIT_MINI.md
  docs/wiki/boards/FURYF4.md
  docs/wiki/boards/HAKRCF722D.md
  docs/wiki/boards/IFLIGHT_F405_TWING.md
  docs/wiki/boards/KAKUTEF4.md
  docs/wiki/boards/MATEKF405CTR.md
  docs/wiki/boards/MATEKF405MINI.md
  docs/wiki/boards/MATEKF405STD.md
  docs/wiki/boards/MATEKF722SE.md
  docs/wiki/boards/MATEKF722STD.md
  docs/wiki/boards/NUCLEOH743.md
  docs/wiki/boards/OMNIBUSF4-V2.md
  docs/wiki/boards/OMNIBUSF4.md
  docs/wiki/boards/OMNIBUSF4NANOV7.md
  docs/wiki/boards/OMNIBUSFW.md
  docs/wiki/boards/PODIUMF4.md
  docs/wiki/boards/SPRACINGF7DUAL.md
  docs/wiki/boards/SPRACINGH7EXTREME.md
  docs/wiki/boards/SPRACINGH7NANO.md
  docs/wiki/boards/SPRACINGH7ZERO.md
  docs/wiki/boards/STM32DISCOVERY.md
  docs/wiki/boards/YUPIF4.md
  docs/wiki/boards/YUPIF7.md
  docs/wiki/boards/archive/F3FCRACING.md
  docs/wiki/boards/archive/RCEXPLORERF3.md
  docs/wiki/boards/archive/images/CrazyBeeF3FRbottom.jpg
  docs/wiki/boards/archive/images/CrazyBeeF3FRtop.jpg
  docs/wiki/boards/archive/images/CrazyBeeF3FSbottom.jpg
  docs/wiki/boards/archive/images/CrazyBeeF3FStop.jpg
Due: prettier --write --ignore-unknown

Fix baudrate
  docs/wiki/guides/current/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Update Magnetometer.md (fix typo) (#335)
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

update TMotorF7 IMU list (#328)
  docs/wiki/boards/TMOTORF7.md
Due: prettier --write --ignore-unknown

update softserial documentation
  docs/wiki/getting-started/hardware/vtx.md
  docs/wiki/guides/current/Resource-remapping.md
  docs/wiki/guides/current/Single-Wire-Software-Serial.md
  docs/wiki/guides/current/SmartAudio.md
  docs/wiki/guides/current/SoftSerial.md
  docs/wiki/guides/current/VTX-CLI-Settings.md
  docs/wiki/release/older/Betaflight-3-1-Release-Notes.md
Due: prettier --write --ignore-unknown

redirects for possible user URLs
  docs/relations/sponsors.mdx
  src/pages/about.js
  src/pages/about.md
  src/pages/development.js
  src/pages/development.md
  src/pages/guides.js
  src/pages/guides.md
  src/pages/releases.js
  src/pages/releases.md
  src/pages/setup.js
  src/pages/setup.md
  src/pages/sponsors.js
  src/pages/sponsors.md
  src/pages/wiki.js
  src/pages/wiki.md
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
