Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

add info about ezLanding
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

fix warning tags and add power on message
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

fix warning tags and add power on message (#255)
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

4.5 release notes (#250)
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

add contributors and warning rainbow at32
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

add HD OSD colour support, remove spaces
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

update rpm limiter info
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

Pre-arm race settings OSD build option added
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

include within blackbox mapping from bonchan
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

add link to all PRs tagged 4.5 milestone
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

review comments addressed, TBS binding added
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

Add latest drivers manufacturer-design-guidelines.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Add latest drivers manufacturer-design-guidelines.mdx (#257)
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Update docs/release/Betaflight-4.5-Release-Notes.md
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

4.5 release notes update 1 (#256)
  docs/release/Betaflight-4.5-Release-Notes.md
Due: prettier --write --ignore-unknown

Update GPS documentation
  docs/development/Gps.md
Due: prettier --write --ignore-unknown

Update Nodejs to 20.10
  package.json
Due: prettier --write --ignore-unknown

Fix admonition
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Update GPS documentation (#258)
  docs/development/Gps.md
Due: prettier --write --ignore-unknown

Fix admonition (#261)
  docs/wiki/archive/GPS-Rescue-v4-5.md
Due: prettier --write --ignore-unknown

Fix defines in manufacturer-design-guidelines.mdx
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix defines in manufacturer-design-guidelines.mdx (#263)
  docs/manufacturer/manufacturer-design-guidelines.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Search bar, update styles
  src/theme/SearchBar/DocSearch.js
  src/theme/SearchBar/HighlightSearchResults.jsx
  src/theme/SearchBar/algolia.css
  src/theme/SearchBar/index.js
  src/theme/SearchBar/index.jsx
  src/theme/SearchBar/templates.js
  src/theme/SearchBar/utils.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Search bar, update styles (#264)
  src/theme/SearchBar/DocSearch.js
  src/theme/SearchBar/HighlightSearchResults.jsx
  src/theme/SearchBar/algolia.css
  src/theme/SearchBar/index.js
  src/theme/SearchBar/index.jsx
  src/theme/SearchBar/templates.js
  src/theme/SearchBar/utils.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Rename led_strip-tab.mdx to led-strip-tab.mdx
  docs/wiki/configurator/led-strip-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Correct spacing
  docusaurus.config.js
  src/css/tailwind.scss
  src/pages/stats.tsx
  src/theme/nivoThemeDark.js
  src/theme/nivoThemeLight.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix: Correct spacing (#266)
  docusaurus.config.js
  src/css/tailwind.scss
  src/pages/stats.tsx
  src/theme/nivoThemeDark.js
  src/theme/nivoThemeLight.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Rename led_strip-tab.mdx to led-strip-tab.mdx (#265)
  docs/wiki/configurator/led-strip-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Classes varied between dev and full builds
  src/css/tailwind.scss
Due: none

Refactor: Create tab Relations (Sponsor + Partner)
  docs/relations/partner.mdx
  docs/relations/sponsors.mdx
  docusaurus.config.js
  sidebars.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Rename led_strip-tab.mdx to led-strip-tab.mdx (#265)
  docs/support/configurator/led-strip-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Move Manufacturer into Development
  docs/development/manufacturer/approved-partner-program.mdx
  docs/development/manufacturer/connector-standard.mdx
  docs/development/manufacturer/creating-an-unified-target.mdx
  docs/development/manufacturer/creating-configuration.mdx
  docs/development/manufacturer/manufacturer-design-guidelines.mdx
  docs/development/manufacturer/manufacturer.mdx
  docs/development/manufacturer/requirements-for-submission-of-targets.mdx
  docusaurus.config.js
  sidebars.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Refactor: Move build guides into separate dir
  docs/development/building/Building-Betaflight-on-Windows-the-Linux-subsystem-way.md
  docs/development/building/Building-Manual.md
  docs/development/building/Building-in-Arch-Linux.md
  docs/development/building/Building-in-Eclipse.md
  docs/development/building/Building-in-Fedora.md
  docs/development/building/Building-in-Mac-OSX.md
  docs/development/building/Building-in-Ubuntu.md
  docs/development/building/Building-in-Windows.md
  docs/development/building/_category_.json
Due: prettier --write --ignore-unknown

Refactor: Move Release and Tuning into Wiki
  docs/wiki/release/Betaflight-3.0-Release-Notes.md
  docs/wiki/release/Betaflight-3.1-Release-Notes.md
  docs/wiki/release/Betaflight-3.2-Release-Notes.md
  docs/wiki/release/Betaflight-3.4-Release-Notes.md
  docs/wiki/release/Betaflight-3.5-Release-Notes.md
  docs/wiki/release/Betaflight-4.0-Release-Notes.md
  docs/wiki/release/Betaflight-4.1-Release-Notes.md
  docs/wiki/release/Betaflight-4.2-Release-Notes.md
  docs/wiki/release/Betaflight-4.4-Release-Notes.md
  docs/wiki/release/Betaflight-4.5-Release-Notes.md
  docs/wiki/release/_category_.json
  docs/wiki/tuning/3.5-tuning-notes.md
  docs/wiki/tuning/4.0-Tuning-Notes.md
  docs/wiki/tuning/4.1-Tuning-Notes.md
  docs/wiki/tuning/4.2-Tuning-Notes.md
  docs/wiki/tuning/4.3-Tuning-Notes.md
  docs/wiki/tuning/_category_.json
  docusaurus.config.js
  sidebars.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Refactor: Move MDX Reference into Development
  docs/development/mdx-reference.mdx
  docs/support/misc/_category_.json
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Fix: Classes varied between dev and full builds (#268)
  src/css/tailwind.scss
Due: none

Refactor: Remove old incorrect led_strip-tab that I missed
  docs/support/configurator/led_strip-tab.mdx
Due: prettier --write --ignore-unknown, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
