Repository betaflight/betaflight.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs, node tools/team_generation.mjs

docs: add flight controller board documentation (#715)
  docs/wiki/boards/current/BETAFPVG473/BETAFPVG473-images/.gitkeep
  docs/wiki/boards/current/BETAFPVG473/BETAFPVG473.mdx
  docs/wiki/boards/current/FOXEERH743/FOXEERH743-images/.gitkeep
  docs/wiki/boards/current/FOXEERH743/FOXEERH743.mdx
  docs/wiki/boards/current/GEPRCF722/GEPRCF722-images/.gitkeep
  docs/wiki/boards/current/GEPRCF722/GEPRCF722.mdx
  docs/wiki/boards/current/IFLIGHT_BLITZ_F7_AIO/IFLIGHT_BLITZ_F7_AIO-images/.gitkeep
  docs/wiki/boards/current/IFLIGHT_BLITZ_F7_AIO/IFLIGHT_BLITZ_F7_AIO.mdx
  docs/wiki/boards/current/SPEEDYBEEF405V4/SPEEDYBEEF405V4-images/.gitkeep
  docs/wiki/boards/current/SPEEDYBEEF405V4/SPEEDYBEEF405V4.mdx
  src/components/SpecGrid/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js, node tools/check_file_names.mjs, node tools/check_title_case.mjs

Added ADRC documentation.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

add board alignment wizard to 26.06 release notes
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

document board alignment wizard in app wiki
  docs/wiki/app/sensors-tab.md
Due: prettier --write --ignore-unknown

Add board alignment wizard to 26.06 Release Notes & App wiki (#719)
  docs/wiki/app/sensors-tab.md
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

Updated docs to match c79e776082bcc9250290d1b751b40c2198bda5bd
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Up-to-date with tag `adrc-pr15400-b4`
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Updated based on @danusha2345's ADRC review & remediation tracker.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Added comparisons and metaphors to classic PID model, easier to put ADRC into perspective.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Decoupled from PR progress tracking and updated for the removed mid-air re-arm.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Added a note that the feature is not yet released and test pilots are welcome to support development.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

No `Select commit` field exists in configurator.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Addressed coderabbitai PR review comments.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Apply suggestions from code review
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Pin untrusted PR build job token to contents: read
  .github/workflows/deploy.yml
Due: none

Add explicit permissions blocks for read-default GITHUB_TOKEN
  .github/workflows/auto-close.yml
  .github/workflows/stale.yaml
Due: none

Add explicit permissions blocks for read-default GITHUB_TOKEN (#721)
  .github/workflows/auto-close.yml
  .github/workflows/stale.yaml
Due: none

Pin untrusted PR build job token to contents: read (#720)
  .github/workflows/deploy.yml
Due: none

State-specific content stripped throughout; pointing to #how-to-help-test more explicitly.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Using @ mentions.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

Properly credited @jmsweng for his community tuning procedure.
  docs/wiki/guides/current/ADRC.md
Due: prettier --write --ignore-unknown

docs(release): note IST8310 default I2C address change
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

docs(release): name IST8310 recovery I2C address in app path
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

Fix IST8310 datasheet link in Magnetometer.md
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

Update docs/wiki/guides/current/Magnetometer.md
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

docs(release): note IST8310 default I2C address change (#722)
  docs/wiki/release/Betaflight-2025-12-Release-Notes.md
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

Fix IST8310 datasheet link in Magnetometer.md (#723)
  docs/wiki/guides/current/Magnetometer.md
Due: prettier --write --ignore-unknown

docs(release): cover changes landed since 2026.6.0-RC1
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

Add build server retention policy announcement
  blog/2026/07/22/Build Server Retention Policy.md
Due: prettier --write --ignore-unknown

Add 2025.12.x to retained release examples
  blog/2026/07/22/Build Server Retention Policy.md
Due: prettier --write --ignore-unknown

Add build server retention policy announcement (#725)
  blog/2026/07/22/Build Server Retention Policy.md
Due: prettier --write --ignore-unknown

Use full Upixel UP-T1-001-Plus model name in rangefinder note
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

chore: modernize screenshots to 26.06
  static/img/betaflight_configurator_add_bluetooth_device.png
  static/img/betaflight_configurator_add_usb_device.png
  static/img/betaflight_configurator_bluetooth_device.png
  static/img/betaflight_configurator_com_ports.png
  static/img/betaflight_configurator_configuration_tab.png
  static/img/betaflight_configurator_enable_manual_connection.png
  static/img/betaflight_configurator_failsafe_tab.png
  static/img/betaflight_configurator_filter_settings.png
  static/img/betaflight_configurator_firmware_flasher_basic.png
  static/img/betaflight_configurator_firmware_flasher_tab.png
  static/img/betaflight_configurator_firmware_flasher_tab2.png
  static/img/betaflight_configurator_font_manager.png
  static/img/betaflight_configurator_gps_tab.png
  static/img/betaflight_configurator_manual_connection.png
  static/img/betaflight_configurator_modes_arm.png
  static/img/betaflight_configurator_motors_tab.png
  static/img/betaflight_configurator_native_bluetooth_device_select.png
  static/img/betaflight_configurator_native_usb_device_select.png
  static/img/betaflight_configurator_osd_tab.png
  static/img/betaflight_configurator_pid_profile_settings.png
  static/img/betaflight_configurator_ports_tab.png
  static/img/betaflight_configurator_power_battery_tab.png
  static/img/betaflight_configurator_preset_1.png
  static/img/betaflight_configurator_preset_2.png
  static/img/betaflight_configurator_presets_tab.png
  static/img/betaflight_configurator_rateprofile_settings.png
  static/img/betaflight_configurator_receiver_tab.png
  static/img/betaflight_configurator_servos_tab.png
  static/img/betaflight_configurator_setup_tab.png
  static/img/betaflight_configurator_usb_device.png
  static/img/betaflight_configurator_vtx_tab.png
  static/img/betaflight_configurator_welcome.png
  static/img/betaflight_configurator_welcome_tab.png
Due: none

chore: remove other bluetooth devices from screenshot
  static/img/betaflight_configurator_native_bluetooth_device_select.png
Due: none

Split PR preview deploys off pull_request_target onto workflow_run
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
Due: none

Split PR preview deploys off pull_request_target onto workflow_run (#727)
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
Due: none

Update 2026.6 release notes for changes since RC1 (#724)
  docs/wiki/release/Betaflight-2026-6-Release-Notes.md
Due: prettier --write --ignore-unknown

Resolve preview PR number by head ref instead of commit association
  .github/workflows/preview-deploy.yml
Due: none

Modernize screenshots to 26.06 (#726)
  static/img/betaflight_configurator_add_bluetooth_device.png
  static/img/betaflight_configurator_add_usb_device.png
  static/img/betaflight_configurator_bluetooth_device.png
  static/img/betaflight_configurator_com_ports.png
  static/img/betaflight_configurator_configuration_tab.png
  static/img/betaflight_configurator_enable_manual_connection.png
  static/img/betaflight_configurator_failsafe_tab.png
  static/img/betaflight_configurator_filter_settings.png
  static/img/betaflight_configurator_firmware_flasher_basic.png
  static/img/betaflight_configurator_firmware_flasher_tab.png
  static/img/betaflight_configurator_firmware_flasher_tab2.png
  static/img/betaflight_configurator_font_manager.png
  static/img/betaflight_configurator_gps_tab.png
  static/img/betaflight_configurator_manual_connection.png
  static/img/betaflight_configurator_modes_arm.png
  static/img/betaflight_configurator_motors_tab.png
  static/img/betaflight_configurator_native_bluetooth_device_select.png
  static/img/betaflight_configurator_native_usb_device_select.png
  static/img/betaflight_configurator_osd_tab.png
  static/img/betaflight_configurator_pid_profile_settings.png
  static/img/betaflight_configurator_ports_tab.png
  static/img/betaflight_configurator_power_battery_tab.png
  static/img/betaflight_configurator_preset_1.png
  static/img/betaflight_configurator_preset_2.png
  static/img/betaflight_configurator_presets_tab.png
  static/img/betaflight_configurator_rateprofile_settings.png
  static/img/betaflight_configurator_receiver_tab.png
  static/img/betaflight_configurator_servos_tab.png
  static/img/betaflight_configurator_setup_tab.png
  static/img/betaflight_configurator_usb_device.png
  static/img/betaflight_configurator_vtx_tab.png
  static/img/betaflight_configurator_welcome.png
  static/img/betaflight_configurator_welcome_tab.png
Due: none

fix: CVE-2026-13149 security vulnerability
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
  node tools/check_file_names.mjs: any of: **/*.mdx
  node tools/check_title_case.mjs: any of: **/*.mdx
  node tools/team_generation.mjs: any of: tools/team_generation.mjs
